workflows/company-registration.json
{
  "name": "تسجيل شركات وبيانات",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 13
            },
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1200,
        300
      ],
      "id": "85f3d456-ff6a-4639-b467-a75e2ad13360",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=new company",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -960,
        300
      ],
      "id": "9b78f18a-6563-4490-b40f-7ecf2f0bc4f3",
      "name": "Search new company",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='{{$json[\"id\"]}}' in parents and trashed = false\n",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -720,
        300
      ],
      "id": "8e6ae91c-cccf-4f92-b617-8d2141a9bb87",
      "name": "Search inside new company",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ===== CONFIG =====\nconst CONFIG = {\n  Limited_Company: {\n    parentId: '1J-Gd-7w_jkWviJVfAeXxhz3ADS1CEIwx',\n    sheetGid: 0\n  },\n  personal_Company: {\n    parentId: '1DrkXAhpOUpyWpp2gvlGCpe2MC_lt_veq',\n    sheetGid: 206423802\n  },\n  Taxpayers: {\n    parentId: '1Ue1FAta0dBCJ-nIceVwogQb9DrnVO__L',\n    sheetGid: 1617195523\n  }\n};\n\n// ===== HELPERS =====\nconst normalize = (str = '') =>\n  str\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/ı/g, 'i')\n    .replace(/ş/g, 's')\n    .replace(/ğ/g, 'g')\n    .replace(/ü/g, 'u')\n    .replace(/ö/g, 'o')\n    .replace(/ç/g, 'c')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\nconst stripPdfExt = (name = '') => name.replace(/\\.pdf$/i, '').trim();\n\nconst cleanCompanyName = (raw = '') => {\n  let base = stripPdfExt(raw)\n    .replace(/\\s*\\.\\s*/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n\n  const splitter = /([ \\t,؛;:()|/\\-–—]+)/;\n  const parts = base.split(splitter);\n  const out = [];\n\n  for (let i = 0; i < parts.length; i++) {\n    const token = parts[i];\n    if (splitter.test(token)) {\n      out.push(token);\n      continue;\n    }\n\n    const nTok = normalize(token);\n    const nextToken = parts[i + 2] ?? '';\n    const nextSep = parts[i + 1] ?? '';\n    const nNextTok = normalize(nextToken);\n\n    const singleStops = new Set([\n      'limited', 'ltd', 'company',\n      'tasfiye', 'halinde',\n      'sahsi', 'sahis',\n      'tax', 'payer', 'payers'\n    ]);\n\n    const twoWordStops = new Set([\n      'limited company',\n      'tasfiye halinde',\n      'tax payer',\n      'tax payers'\n    ]);\n\n    const isTwoWordCombo =\n      nextSep && splitter.test(nextSep) &&\n      twoWordStops.has(`${nTok} ${nNextTok}`);\n\n    if (isTwoWordCombo) {\n      i += 2;\n      continue;\n    }\n\n    if (singleStops.has(nTok)) {\n      continue;\n    }\n\n    out.push(token);\n  }\n\n  return out.join('')\n    .replace(/\\s+/g, ' ')\n    .replace(/\\s*[,؛;:()|/\\-–—]\\s*$/g, '')\n    .replace(/^[,؛;:()|/\\-–—]\\s*/g, '')\n    .trim();\n};\n\nconst classify = (name = '') => {\n  const n = normalize(name);\n  const isLimited =\n    /\\blimited\\s+company\\b/.test(n) ||\n    /\\blimited\\b/.test(n) ||\n    /\\bltd\\b/.test(n) ||\n    /\\btasfiye\\s+halinde\\b/.test(n);\n  const isPersonal = /\\bsahsi\\b/.test(n) || /\\bsahis\\b/.test(n);\n\n  if (isLimited) return 'Limited_Company';\n  if (isPersonal) return 'personal_Company';\n  return 'Taxpayers';\n};\n\n// ===== MAIN =====\nconst items = $input.all();\n\nreturn items.map((item) => {\n  const fileName = item.json?.name ?? item.json?.fileName ?? '';\n  const originalId = item.json?.id ?? item.json?.fileId ?? null;\n  const companyType = classify(fileName);\n  const companyName = cleanCompanyName(fileName);\n  const normalizedName = normalize(companyName);\n  const parentFolderId = CONFIG[companyType].parentId;\n  const newFolderName = 'TAX ' + companyName;\n  const normalizedFolderName = normalize(newFolderName);\n\n  return {\n    json: {\n      id: originalId,\n      name: fileName,\n      companyName,\n      normalizedName,\n      companyType,\n      parentFolderId,\n      newFolderName,\n      normalizedFolderName,\n      normalizedCompanyName: normalizedName\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        300
      ],
      "id": "27801e06-3dd5-40d4-9fd6-7c6d0d0eedd2",
      "name": "Classify & Normalize Companies"
    },
    {
      "parameters": {
        "jsCode": "// Phase 1: Search existing folders for each company type\n// and match companies to their folders\n\nconst CONFIG = {\n  Limited_Company: '1J-Gd-7w_jkWviJVfAeXxhz3ADS1CEIwx',\n  personal_Company: '1DrkXAhpOUpyWpp2gvlGCpe2MC_lt_veq',\n  Taxpayers: '1Ue1FAta0dBCJ-nIceVwogQb9DrnVO__L'\n};\n\nconst companies = $input.all().map(i => i.json);\n\n// Group by type\nconst grouped = {};\nfor (const c of companies) {\n  if (!grouped[c.companyType]) grouped[c.companyType] = [];\n  grouped[c.companyType].push(c);\n}\n\n// We pass the grouped data + config for the next node to use\nreturn companies.map(c => ({\n  json: {\n    ...c,\n    parentFolderQuery: `='${CONFIG[c.companyType]}' in parents and mimeType = 'application/vnd.google-apps.folder' and trashed = false`\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -240,
        300
      ],
      "id": "a1b2c3d4-prep-4567-8901-preparequery01",
      "name": "Prepare Folder Queries"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='{{ $json.parentFolderId }}' in parents and mimeType = 'application/vnd.google-apps.folder' and trashed = false",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        300
      ],
      "id": "b2c3d4e5-srch-4567-8901-searchfolders1",
      "name": "Search Type Folders",
      "executeOnce": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      },
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Match companies with existing folders\n// Input 1 (index 0) = companies from 'Prepare Folder Queries'\n// Input 2 (index 1) = folder search results from 'Search Type Folders'\n\nconst companies = $('Classify & Normalize Companies').all().map(i => i.json);\nconst allFolders = $input.all().map(i => i.json);\n\nconst normalize = (str = '') =>\n  str.toLowerCase().normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/ı/g, 'i').replace(/ş/g, 's')\n    .replace(/ğ/g, 'g').replace(/ü/g, 'u')\n    .replace(/ö/g, 'o').replace(/ç/g, 'c')\n    .replace(/\\s+/g, ' ').trim();\n\nconst results = companies.map(company => {\n  // Find matching folder by normalized name\n  const match = allFolders.find(f => {\n    if (!f.name) return false;\n    return normalize(f.name) === normalize(company.companyName);\n  });\n\n  return {\n    json: {\n      ...company,\n      folderId: match ? match.id : null,\n      folderFound: !!match\n    }\n  };\n});\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "id": "c3d4e5f6-mtch-4567-8901-matchfolders1",
      "name": "Match Companies to Folders"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a6e6f03c-50f7-48ca-a26d-5385cd81e19a",
              "leftValue": "={{ $json.folderFound }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        300
      ],
      "id": "d4e5f6a7-iffd-4567-8901-iffolderexist",
      "name": "Folder Exists?"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.companyName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.parentFolderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        720,
        420
      ],
      "id": "e5f6a7b8-crt1-4567-8901-createfolder1",
      "name": "Create Company Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge: companies that had folders + newly created folders\n// Update folderId for newly created ones\n\nconst items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json;\n  // If this came from Create Company Folder, the id is the new folder id\n  const folderId = data.folderId || data.id;\n  \n  return {\n    json: {\n      ...data,\n      folderId: folderId,\n      folderFound: true\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        420
      ],
      "id": "f6a7b8c9-updt-4567-8901-updatefolderid",
      "name": "Update New Folder IDs"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1200,
        300
      ],
      "id": "a7b8c9d0-mrg1-4567-8901-mergeresults1",
      "name": "Merge All Companies"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='{{ $json.folderId }}' in parents and mimeType = 'application/vnd.google-apps.folder' and name contains 'TAX' and trashed = false",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1440,
        300
      ],
      "id": "b8c9d0e1-stax-4567-8901-searchtaxfld1",
      "name": "Search TAX Folder",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check if TAX folder exists for each company\n// Match by parent folder ID (reliable) + fallback to name matching\n\nconst companies = $('Merge All Companies').all().map(i => i.json);\nconst taxSearchResults = $input.all().map(i => i.json);\n\nconst normalize = (str = '') =>\n  str.toLowerCase().normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g, '')\n    .replace(/ı/g, 'i').replace(/ş/g, 's')\n    .replace(/ğ/g, 'g').replace(/ü/g, 'u')\n    .replace(/ö/g, 'o').replace(/ç/g, 'c')\n    .replace(/\\s+/g, ' ').trim();\n\nreturn companies.map(company => {\n  // Primary match: by parent folder ID (TAX folder should be inside the company folder)\n  let matchedTax = taxSearchResults.find(folder => {\n    if (!folder.id || !company.folderId) return false;\n    // Google Drive returns parents array\n    const parents = folder.parents || [];\n    return parents.includes(company.folderId);\n  });\n\n  // Fallback: match by normalized name\n  if (!matchedTax) {\n    matchedTax = taxSearchResults.find(folder => {\n      if (!folder.name) return false;\n      return normalize(folder.name) === normalize(company.newFolderName);\n    });\n  }\n\n  return {\n    json: {\n      ...company,\n      taxFolderId: matchedTax ? matchedTax.id : null,\n      taxFolderExists: !!matchedTax\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1680,
        300
      ],
      "id": "c9d0e1f2-mtax-4567-8901-matchtaxfold1",
      "name": "Match TAX Folders"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e7f93520-ff20-431f-ad60-2a1d81d2d90a",
              "leftValue": "={{ $json.taxFolderExists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        300
      ],
      "id": "d0e1f2a3-iftx-4567-8901-iftaxnotexist",
      "name": "TAX Folder Missing?"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.newFolderName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.folderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2160,
        200
      ],
      "id": "e1f2a3b4-ctax-4567-8901-createtaxfld1",
      "name": "Create TAX Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prepare final data for Google Sheets\n// Merge TAX folder creation results back\n\nconst items = $input.all();\n\nreturn items.map(item => {\n  const data = item.json;\n  return {\n    json: {\n      companyFolderId: data.folderId || data.id,\n      companyName: data.companyName || data.name,\n      companyType: data.companyType,\n      parentFolderId: data.parentFolderId,\n      taxFolderName: data.newFolderName || data.name,\n      taxFolderId: data.taxFolderId || data.id,\n      normalizedCompanyName: data.normalizedCompanyName || data.normalizedName,\n      normalizedFolderName: data.normalizedFolderName\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2400,
        200
      ],
      "id": "f2a3b4c5-prep-4567-8901-preparesheets",
      "name": "Prepare Sheet Data"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk",
          "mode": "list",
          "cachedResultName": "ALL DATA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 629998503,
          "mode": "list",
          "cachedResultName": "ALL company",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit#gid=629998503"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company İD": "={{ $json.companyFolderId }}",
            "Company type": "={{ $json.companyType }}",
            "taxFolderName": "={{ $json.taxFolderName }}",
            "taxFolderId": "={{ $json.taxFolderId }}",
            "companyName": "={{ $json.companyName }}"
          },
          "matchingColumns": [
            "company İD"
          ],
          "schema": [
            {
              "id": "Company type",
              "displayName": "Company type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company İD",
              "displayName": "company İD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "taxFolderName",
              "displayName": "taxFolderName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "taxFolderId",
              "displayName": "taxFolderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_first",
              "displayName": "contact_first",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact_last",
              "displayName": "contact_last",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact_phone",
              "displayName": "contact_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_email",
              "displayName": "contact_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "leadId",
              "displayName": "leadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact_id",
              "displayName": "contact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2640,
        200
      ],
      "id": "4de25309-8401-4d49-8ee6-5923ba77e497",
      "name": "Update ALL company Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tMsf6bYwBxxWxxVC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.companyType }}",
                    "rightValue": "Limited_Company",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0b97c7e8-fc63-4304-a931-fb4ee475a9a2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "08f7482e-6a49-41cb-a969-0f3de0eed05c",
                    "leftValue": "={{ $json.companyType }}",
                    "rightValue": "personal_Company",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e4eab6bb-e04d-404f-aca2-06eb6dc2b92e",
                    "leftValue": "={{ $json.companyType }}",
                    "rightValue": "Taxpayers",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2880,
        200
      ],
      "id": "a3b4c5d6-swch-4567-8901-switchtypesheet",
      "name": "Route by Company Type"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk",
          "mode": "list",
          "cachedResultName": "ALL DATA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 0,
          "mode": "list",
          "cachedResultName": "limited",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company İD": "={{ $json.companyFolderId }}",
            "Company type": "={{ $json.companyType }}",
            "taxFolderName": "={{ $json.taxFolderName }}",
            "taxFolderId": "={{ $json.taxFolderId }}",
            "companyName": "={{ $json.companyName }}"
          },
          "matchingColumns": [
            "company İD"
          ],
          "schema": [
            {
              "id": "Company type",
              "displayName": "Company type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company İD",
              "displayName": "company İD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "taxFolderName",
              "displayName": "taxFolderName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "taxFolderId",
              "displayName": "taxFolderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_first_name",
              "displayName": "contact_first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_last_name",
              "displayName": "contact_last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_phone",
              "displayName": "contact_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_email",
              "displayName": "contact_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3120,
        60
      ],
      "id": "b4c5d6e7-shlt-4567-8901-sheetlimited1",
      "name": "Update Limited Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tMsf6bYwBxxWxxVC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk",
          "mode": "list",
          "cachedResultName": "ALL DATA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 206423802,
          "mode": "list",
          "cachedResultName": "personal",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit#gid=206423802"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company İD": "={{ $json.companyFolderId }}",
            "Company type": "={{ $json.companyType }}",
            "taxFolderName": "={{ $json.taxFolderName }}",
            "taxFolderId": "={{ $json.taxFolderId }}",
            "companyName": "={{ $json.companyName }}"
          },
          "matchingColumns": [
            "company İD"
          ],
          "schema": [
            {
              "id": "Company type",
              "displayName": "Company type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company İD",
              "displayName": "company İD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "taxFolderName",
              "displayName": "taxFolderName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "taxFolderId",
              "displayName": "taxFolderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_first_name",
              "displayName": "contact_first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_last_name",
              "displayName": "contact_last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_phone",
              "displayName": "contact_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_email",
              "displayName": "contact_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3120,
        260
      ],
      "id": "c5d6e7f8-shpr-4567-8901-sheetpersonal",
      "name": "Update Personal Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tMsf6bYwBxxWxxVC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk",
          "mode": "list",
          "cachedResultName": "ALL DATA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1617195523,
          "mode": "list",
          "cachedResultName": "Taxpayers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit#gid=1617195523"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company İD": "={{ $json.companyFolderId }}",
            "Company type": "={{ $json.companyType }}",
            "taxFolderName": "={{ $json.taxFolderName }}",
            "taxFolderId": "={{ $json.taxFolderId }}",
            "companyName": "={{ $json.companyName }}"
          },
          "matchingColumns": [
            "company İD"
          ],
          "schema": [
            {
              "id": "Company type",
              "displayName": "Company type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company İD",
              "displayName": "company İD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "taxFolderName",
              "displayName": "taxFolderName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "taxFolderId",
              "displayName": "taxFolderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_first_name",
              "displayName": "contact_first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_last_name",
              "displayName": "contact_last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_phone",
              "displayName": "contact_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_email",
              "displayName": "contact_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3120,
        460
      ],
      "id": "d6e7f8a9-shtp-4567-8901-sheettaxpayer",
      "name": "Update Taxpayers Sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tMsf6bYwBxxWxxVC",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search new company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search new company": {
      "main": [
        [
          {
            "node": "Search inside new company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search inside new company": {
      "main": [
        [
          {
            "node": "Classify & Normalize Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify & Normalize Companies": {
      "main": [
        [
          {
            "node": "Prepare Folder Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Folder Queries": {
      "main": [
        [
          {
            "node": "Search Type Folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Type Folders": {
      "main": [
        [
          {
            "node": "Match Companies to Folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match Companies to Folders": {
      "main": [
        [
          {
            "node": "Folder Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Folder Exists?": {
      "main": [
        [
          {
            "node": "Merge All Companies",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Company Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Company Folder": {
      "main": [
        [
          {
            "node": "Update New Folder IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update New Folder IDs": {
      "main": [
        [
          {
            "node": "Merge All Companies",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Companies": {
      "main": [
        [
          {
            "node": "Search TAX Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search TAX Folder": {
      "main": [
        [
          {
            "node": "Match TAX Folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match TAX Folders": {
      "main": [
        [
          {
            "node": "TAX Folder Missing?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Sheet Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TAX Folder Missing?": {
      "main": [
        [
          {
            "node": "Create TAX Folder",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Create TAX Folder": {
      "main": [
        []
      ]
    },
    "Prepare Sheet Data": {
      "main": [
        [
          {
            "node": "Update ALL company Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update ALL company Sheet": {
      "main": [
        [
          {
            "node": "Route by Company Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Company Type": {
      "main": [
        [
          {
            "node": "Update Limited Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Personal Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Taxpayers Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "174779bc-92d7-4173-9d0c-218344329bca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bbcc8f8955fdb6b9df383b7af3b82b49081e116d9ff63429580cf5caee57238e"
  },
  "id": "gWZItXe88Rs8H0rz",
  "tags": []
}