workflows/company-registration.json
{
  "name": "تسجيل شركات وبيانات",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 13
            },
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -4464,
        192
      ],
      "id": "85f3d456-ff6a-4639-b467-a75e2ad13360",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='1Ue1FAta0dBCJ-nIceVwogQb9DrnVO__L' in parents\nand mimeType = 'application/vnd.google-apps.folder'\nand trashed = false\n",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2736,
        544
      ],
      "id": "28637bfb-c130-4c94-89f7-5eeba53babdc",
      "name": "Search Taxpayers",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='1DrkXAhpOUpyWpp2gvlGCpe2MC_lt_veq' in parents\nand mimeType = 'application/vnd.google-apps.folder'\nand trashed = false\n",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2736,
        288
      ],
      "id": "237fc560-e458-473d-a780-8e2ae33288e2",
      "name": "Search personal company",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='1J-Gd-7w_jkWviJVfAeXxhz3ADS1CEIwx' in parents\nand mimeType = 'application/vnd.google-apps.folder'\nand trashed = false\n",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2784,
        -128
      ],
      "id": "8bd350b4-bef4-472f-bf41-17d5e88c9091",
      "name": "Search Limited Company",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e012c99-edfb-47b7-ac05-561672204af3",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "712b6262-73b7-492d-b63b-9f43f9753d39",
              "name": "name",
              "value": "={{ ($json[\"name\"]).trim().replace(/\\n/g,\"\") }}",
              "type": "string"
            },
            {
              "id": "73c4e58b-bd21-4f9a-8199-073e4e05c17a",
              "name": "newFolderName",
              "value": "={{ \"TAX \" + $json[\"name\"].replace(/\\s+/g, \" \").trim() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2096,
        928
      ],
      "id": "252bb183-9e54-4aff-9c8d-928eff6fa8a6",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "=query",
        "queryString": "='{{ $json[\"id\"] }}' in parents \nand mimeType = 'application/vnd.google-apps.folder' \nand name contains '{{ $json.normalizedFolderName }}' \nand trashed = false\n",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1664,
        944
      ],
      "id": "8decec3b-e272-440e-99ef-81c5c7872751",
      "name": "Search TAX",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript)\n\nconst items = $input.all();\n\n// ===== Helpers =====\nconst normalize = (str = \"\") =>\n  str\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\") // remove diacritics\n    .replace(/ı/g, \"i\")              // Turkish dotless i -> i\n    .replace(/ş/g, \"s\")              // ş -> s\n    .replace(/\\s+/g, \" \")\n    .trim();\n\nconst stripPdfExt = (name = \"\") => name.replace(/\\.pdf$/i, \"\").trim();\n\n/**\n * يحذف الكلمات/العِبارات الدلالية مثل:\n * - limited / limited company / ltd\n * - tasfiye halinde\n * - şahsi / şahsı / şahıs / sahsi / sahis\n * - tax payer / tax payers\n *\n * التنفيذ مبني على \"توكينات\" وليس \\b لتجنب مشاكل يونيكود.\n */\nconst cleanCompanyName = (raw = \"\") => {\n  // شيل الامتداد والنِّقاط المنفصلة\n  let base = stripPdfExt(raw)\n    .replace(/\\s*\\.\\s*/g, \" \")\n    .replace(/\\s+/g, \" \")\n    .trim();\n\n  // نفصل إلى توكينات بناءً على مسافات/فواصل/شرطات... (نحتفظ بالمقسِّم لإعادة البناء)\n  const splitter = /([ \\t,؛;:()|/\\-–—]+)/; // مجموعة \"التقسيم\" تُعيد المقسّم أيضًا\n  const parts = base.split(splitter);\n\n  // سنبني ناتجًا جديدًا بحذف التوكينات المحظورة\n  const out = [];\n  // نحتاج النظر للأمام للتراكيب ثنائية الكلمات\n  for (let i = 0; i < parts.length; i++) {\n    const token = parts[i];\n\n    // لو كان هذا مقسِّم (مسافات/فواصل...) مرّره مؤقتًا، القرار يكون على الكلمة\n    if (splitter.test(token)) {\n      out.push(token);\n      continue;\n    }\n\n    const nTok = normalize(token); // sahsi, limited, tasfiye, ...\n    const nextToken = parts[i + 2] ?? \"\";      // مابعد المقسّم التالي\n    const nextSep   = parts[i + 1] ?? \"\";      // المقسّم بين الكلمتين\n    const nNextTok  = normalize(nextToken);\n\n    // قوائم الكلمات المفردة المطلوب حذفها\n    const singleStops = new Set([\n      \"limited\", \"ltd\", \"company\", // \"company\" وحدها تُحذف إن جت منسابة في الآخر\n      \"tasfiye\", \"halinde\",\n      \"sahsi\", \"sahis\",            // تغطّي şahsi / şahsı / şahıs بعد normalize\n      \"tax\", \"payer\", \"payers\"\n    ]);\n\n    // تراكيب ثنائية نُزيلها معًا (token + nextToken)\n    const twoWordStops = new Set([\n      \"limited company\",\n      \"tasfiye halinde\",\n      \"tax payer\",\n      \"tax payers\"\n    ]);\n\n    // هل هذه تركيبة ثنائية؟\n    const isTwoWordCombo =\n      nextSep && splitter.test(nextSep) &&\n      twoWordStops.has(`${nTok} ${nNextTok}`);\n\n    if (isTwoWordCombo) {\n      // تخطي: الكلمة الحالية + المقسّم + الكلمة التالية\n      i += 2; // نقفز فوق nextSep و nextToken\n      // لو نتج فاصل مزدوج، نُعالج لاحقًا بالتنظيف\n      continue;\n    }\n\n    // هل هي كلمة مفردة ممنوعة؟\n    if (singleStops.has(nTok)) {\n      // لا نضيفها\n      continue;\n    }\n\n    // خلاف ذلك، نُضيف التوكين كما هو\n    out.push(token);\n  }\n\n  // نظّف: إزالة الفواصل/الشرطات المتراكمة والأطراف\n  let cleaned = out.join(\"\")\n    .replace(/\\s+/g, \" \")\n    .replace(/\\s*[,؛;:()|/\\-–—]\\s*$/g, \"\") // فاصل في آخر السطر\n    .replace(/^[,؛;:()|/\\-–—]\\s*/g, \"\")    // فاصل في أول السطر\n    .trim();\n\n  return cleaned;\n};\n\nconst classify = (name = \"\") => {\n  const n = normalize(name);\n\n  const isLimited =\n    /\\blimited\\s+company\\b/.test(n) ||\n    /\\blimited\\b/.test(n) ||\n    /\\bltd\\b/.test(n) ||\n    /\\btasfiye\\s+halinde\\b/.test(n);\n\n  // بعد normalize تصبح كل صيغ şahsi → sahsi/sahis\n  const isPersonal = /\\bsahsi\\b/.test(n) || /\\bsahis\\b/.test(n);\n\n  if (isLimited) return { type: \"Limited_Company\", matched: \"limited\" };\n  if (isPersonal) return { type: \"personal_Company\", matched: \"personal\" };\n  return { type: \"Taxpayers\", matched: \"other\" };\n};\n\n// ===== Transform =====\nreturn items.map((item) => {\n  const fileName = item.json?.name ?? item.json?.fileName ?? \"\";\n  const originalId = item.json?.id ?? item.json?.fileId ?? null;\n\n  const { type: companyType, matched: matchedGroup } = classify(fileName);\n  const companyName = cleanCompanyName(fileName);\n  const normalizedName = normalize(companyName);\n\n  return {\n    json: {\n      id: originalId,\n      name: fileName,\n      companyName,       // بدون şahsi/şahsı/şahıs + باقي المحددات\n      normalizedName,\n      companyType,       // Limited_Company | personal_Company | Taxpayers\n      matchedGroup,      // \"limited\" | \"personal\" | \"other\"\n    },\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3840,
        256
      ],
      "id": "27801e06-3dd5-40d4-9fd6-7c6d0d0eedd2",
      "name": "file normalize"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=new company",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -4256,
        160
      ],
      "id": "9b78f18a-6563-4490-b40f-7ecf2f0bc4f3",
      "name": "Search new company",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='{{$json[\"id\"]}}' in parents and trashed = false\n",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -4048,
        304
      ],
      "id": "8e6ae91c-cccf-4f92-b617-8d2141a9bb87",
      "name": "Search inside new company",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2416,
        32
      ],
      "id": "6d71e776-09af-43cb-8856-4612935c17ca",
      "name": "Merge9"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.matchedGroup }}",
                    "rightValue": "limited",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0b97c7e8-fc63-4304-a931-fb4ee475a9a2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "08f7482e-6a49-41cb-a969-0f3de0eed05c",
                    "leftValue": "={{ $json.matchedGroup }}",
                    "rightValue": "personal",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e4eab6bb-e04d-404f-aca2-06eb6dc2b92e",
                    "leftValue": "={{ $json.matchedGroup }}",
                    "rightValue": "Taxpayer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2976,
        272
      ],
      "id": "90a177cb-4557-45a6-bc9e-dca1eafa08f4",
      "name": "Switch"
    },
    {
      "parameters": {
        "jsCode": "const parentId = \"1J-Gd-7w_jkWviJVfAeXxhz3ADS1CEIwx\"; // ID فولدر الشركات الليمتد\n\nreturn $input.all().map(item => ({\n  json: {\n    ...item.json,\n    companyType: \" Limited_Company\",\n    parentFolderId: parentId\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2576,
        -128
      ],
      "id": "7929f6f4-b26f-4299-bc4f-5841288ca461",
      "name": "Limited_Company"
    },
    {
      "parameters": {
        "jsCode": "const parentId = \"1DrkXAhpOUpyWpp2gvlGCpe2MC_lt_veq\"; // ID فولدر الشركات الليمتد\n\nreturn $input.all().map(item => ({\n  json: {\n    ...item.json,\n    companyType: \"personal_Company\",\n    parentFolderId: parentId\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2544,
        288
      ],
      "id": "23e05f36-4f7c-4342-a73b-a5d4d118cb36",
      "name": "personal_Company"
    },
    {
      "parameters": {
        "jsCode": "const parentId = \"1Ue1FAta0dBCJ-nIceVwogQb9DrnVO__L\"; // ID فولدر الشركات الليمتد\n\nreturn $input.all().map(item => ({\n  json: {\n    ...item.json,\n    companyType: \"Taxpayers\",\n    parentFolderId: parentId\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2576,
        544
      ],
      "id": "11c6b68f-f748-45db-af6e-92f66b267922",
      "name": "Taxpayers"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a6e6f03c-50f7-48ca-a26d-5385cd81e19a",
              "leftValue": "={{ $json.folderFound }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1824,
        -224
      ],
      "id": "5bfa1757-f9b7-4935-ad3f-da1f3b482712",
      "name": "If4"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.companyName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.parentFolderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1600,
        -80
      ],
      "id": "12ec4c76-79ef-4edf-80c1-0899f1242bb5",
      "name": "Create folder3",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2368,
        304
      ],
      "id": "1ffae241-79a4-4be8-acab-c67c5826a1b6",
      "name": "Merge12"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2416,
        560
      ],
      "id": "8567c986-030a-4a6e-90bf-c0b356ea835e",
      "name": "Merge13"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a6e6f03c-50f7-48ca-a26d-5385cd81e19a",
              "leftValue": "={{ $json.folderFound }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1808,
        160
      ],
      "id": "30fe9c98-44ac-4fb9-bc45-628bd1567f07",
      "name": "If5"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.companyName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.parentFolderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1584,
        352
      ],
      "id": "062dfe29-136e-4035-a738-f8a9a45e60c7",
      "name": "Create folder4",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a6e6f03c-50f7-48ca-a26d-5385cd81e19a",
              "leftValue": "={{ $json.folderFound }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1808,
        560
      ],
      "id": "4cb3699b-52bd-4b29-8fa1-8aab2aee61f3",
      "name": "If6"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.companyName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.parentFolderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1584,
        752
      ],
      "id": "533648a1-a77c-4d8e-99bc-205842cfbf28",
      "name": "Create folder5",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3408,
        1344
      ],
      "id": "5646af28-8305-4276-b81e-bfa8be60f743",
      "name": "Wait",
      "webhookId": "239be443-df7d-49e7-bb15-0c5e933c66d5"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='1Ue1FAta0dBCJ-nIceVwogQb9DrnVO__L' in parents\nand mimeType = 'application/vnd.google-apps.folder'\nand trashed = false\n",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2816,
        1680
      ],
      "id": "a2cd1059-1bd1-4c37-94bd-6a876ebe251f",
      "name": "Search Taxpayers1",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='1DrkXAhpOUpyWpp2gvlGCpe2MC_lt_veq' in parents\nand mimeType = 'application/vnd.google-apps.folder'\nand trashed = false\n",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2848,
        1328
      ],
      "id": "e4a4f670-0357-439d-b2f4-f2f3c5afaa0d",
      "name": "Search personal company1",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='1J-Gd-7w_jkWviJVfAeXxhz3ADS1CEIwx' in parents\nand mimeType = 'application/vnd.google-apps.folder'\nand trashed = false\n",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2864,
        928
      ],
      "id": "1e410144-1875-485b-b28d-84b851db101c",
      "name": "Search Limited Company2",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const companies = $items(\"file normalize1\", 0, 0).map(i => i.json); \nconst taxFolders = $input.all().map(i => i.json);\n\nconst results = companies.map(company => {\n  const exists = taxFolders.some(folder => folder.name.toLowerCase().trim() === company.newFolderName.toLowerCase().trim());\n  return {\n    json: {\n      ...company,\n      taxFolderExists: exists\n    }\n  };\n});\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1408,
        1008
      ],
      "id": "8e5d82e5-cb51-4b4f-8f6f-97264e979aab",
      "name": "Code3"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.matchedGroup }}",
                    "rightValue": "limited",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0b97c7e8-fc63-4304-a931-fb4ee475a9a2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "08f7482e-6a49-41cb-a969-0f3de0eed05c",
                    "leftValue": "={{ $json.matchedGroup }}",
                    "rightValue": "personal",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e4eab6bb-e04d-404f-aca2-06eb6dc2b92e",
                    "leftValue": "={{ $json.matchedGroup }}",
                    "rightValue": "Taxpayer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3168,
        1264
      ],
      "id": "a4e509e3-ada0-4f79-974e-5420d541f8a5",
      "name": "Switch1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e7f93520-ff20-431f-ad60-2a1d81d2d90a",
              "leftValue": "={{ $json.taxFolderExists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1184,
        1008
      ],
      "id": "94e07a31-b566-4b94-b03d-29039e303e9a",
      "name": "If7"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const companyName = item.json.companyName || item.json.name || \"\";\n  const newFolderName = item.json.newFolderName || \"\";\n\n  const normalize = str =>\n    str.toLowerCase().trim().replace(/\\s+/g, \" \");\n\n  return {\n    json: {\n      ...item.json,\n      normalizedCompanyName: normalize(companyName),\n      normalizedFolderName: normalize(newFolderName)\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1888,
        928
      ],
      "id": "6a3a074c-f9ea-4edb-9fa9-8829f1135d14",
      "name": "file normalize1"
    },
    {
      "parameters": {
        "jsCode": "const parentId = \"1J-Gd-7w_jkWviJVfAeXxhz3ADS1CEIwx\"; // ID فولدر الشركات الليمتد\n\nreturn $input.all().map(item => ({\n  json: {\n    ...item.json,\n    companyType: \" Limited_Company\",\n    parentFolderId: parentId\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2368,
        960
      ],
      "id": "bc6b5088-410c-433d-93e1-f850d9709303",
      "name": "Limited_Company - TAX"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.newFolderName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -848,
        944
      ],
      "id": "6d52d548-8d78-4102-b3db-2795fdffa1f4",
      "name": "Create folder6",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parentId = \"1DrkXAhpOUpyWpp2gvlGCpe2MC_lt_veq\"; // ID فولدر الشركات الليمتد\n\nreturn $input.all().map(item => ({\n  json: {\n    ...item.json,\n    companyType: \"personal_Company\",\n    parentFolderId: parentId\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2240,
        1328
      ],
      "id": "35ec3721-0eda-49c8-b7a2-dee584e92e75",
      "name": "personal_Company1"
    },
    {
      "parameters": {
        "jsCode": "const parentId = \"1Ue1FAta0dBCJ-nIceVwogQb9DrnVO__L\"; // ID فولدر الشركات الليمتد\n\nreturn $input.all().map(item => ({\n  json: {\n    ...item.json,\n    companyType: \"Taxpayers\",\n    parentFolderId: parentId\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2256,
        1680
      ],
      "id": "205a9153-4cab-419a-a42d-4f5a9f5b3b56",
      "name": "Taxpayers1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e012c99-edfb-47b7-ac05-561672204af3",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "712b6262-73b7-492d-b63b-9f43f9753d39",
              "name": "name",
              "value": "={{ ($json[\"name\"]).trim().replace(/\\n/g,\"\") }}",
              "type": "string"
            },
            {
              "id": "73c4e58b-bd21-4f9a-8199-073e4e05c17a",
              "name": "newFolderName",
              "value": "={{ \"TAX \" + $json[\"name\"].replace(/\\s+/g, \" \").trim() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2000,
        1728
      ],
      "id": "8ce5885e-00c8-40b4-b718-27551b6d8464",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "=query",
        "queryString": "='{{ $json[\"id\"] }}' in parents \nand mimeType = 'application/vnd.google-apps.folder' \nand name contains '{{ $json.normalizedFolderName }}' \nand trashed = false\n",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1568,
        1744
      ],
      "id": "0bc07362-5165-4b44-9b88-7b2b6407772d",
      "name": "Search TAX1",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const companies = $items(\"file normalize2\", 0, 0).map(i => i.json); \nconst taxFolders = $input.all().map(i => i.json);\n\nconst results = companies.map(company => {\n  const exists = taxFolders.some(folder => folder.name.toLowerCase().trim() === company.newFolderName.toLowerCase().trim());\n  return {\n    json: {\n      ...company,\n      taxFolderExists: exists\n    }\n  };\n});\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        1808
      ],
      "id": "9ffe43f8-3c91-473e-aac8-c3282144a0e7",
      "name": "Code7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e7f93520-ff20-431f-ad60-2a1d81d2d90a",
              "leftValue": "={{ $json.taxFolderExists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1088,
        1808
      ],
      "id": "c43fe35d-7232-4009-bd02-f8734c08c4a1",
      "name": "If8"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const companyName = item.json.companyName || item.json.name || \"\";\n  const newFolderName = item.json.newFolderName || \"\";\n\n  const normalize = str =>\n    str.toLowerCase().trim().replace(/\\s+/g, \" \");\n\n  return {\n    json: {\n      ...item.json,\n      normalizedCompanyName: normalize(companyName),\n      normalizedFolderName: normalize(newFolderName)\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1776,
        1728
      ],
      "id": "74c8f758-aba8-4953-a593-d9571c7a3b3f",
      "name": "file normalize2"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.newFolderName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -736,
        1744
      ],
      "id": "ab11200f-844a-4ec5-b233-2659bf5495ec",
      "name": "Create folder7",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e012c99-edfb-47b7-ac05-561672204af3",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "712b6262-73b7-492d-b63b-9f43f9753d39",
              "name": "name",
              "value": "={{ ($json[\"name\"]).trim().replace(/\\n/g,\"\") }}",
              "type": "string"
            },
            {
              "id": "73c4e58b-bd21-4f9a-8199-073e4e05c17a",
              "name": "newFolderName",
              "value": "={{ \"TAX \" + $json[\"name\"].replace(/\\s+/g, \" \").trim() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2016,
        1312
      ],
      "id": "fc097eb8-8de3-4cb0-8adf-f342d215e9ad",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "=query",
        "queryString": "='{{ $json[\"id\"] }}' in parents \nand mimeType = 'application/vnd.google-apps.folder' \nand name contains '{{ $json.normalizedFolderName }}' \nand trashed = false\n",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1584,
        1328
      ],
      "id": "4a9a6381-717c-4607-891b-a0f49e5735da",
      "name": "Search TAX2",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const companies = $items(\"file normalize3\", 0, 0).map(i => i.json); \nconst taxFolders = $input.all().map(i => i.json);\n\nconst results = companies.map(company => {\n  const exists = taxFolders.some(folder => folder.name.toLowerCase().trim() === company.newFolderName.toLowerCase().trim());\n  return {\n    json: {\n      ...company,\n      taxFolderExists: exists\n    }\n  };\n});\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        1392
      ],
      "id": "17e04888-113d-4c0a-8179-2dcf94aa1afc",
      "name": "Code8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e7f93520-ff20-431f-ad60-2a1d81d2d90a",
              "leftValue": "={{ $json.taxFolderExists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1104,
        1392
      ],
      "id": "af70d0e0-c468-49a3-a239-0a7bc074d471",
      "name": "If9"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const companyName = item.json.companyName || item.json.name || \"\";\n  const newFolderName = item.json.newFolderName || \"\";\n\n  const normalize = str =>\n    str.toLowerCase().trim().replace(/\\s+/g, \" \");\n\n  return {\n    json: {\n      ...item.json,\n      normalizedCompanyName: normalize(companyName),\n      normalizedFolderName: normalize(newFolderName)\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        1312
      ],
      "id": "87864128-0000-4469-9062-66b1c291e4d9",
      "name": "file normalize3"
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{ $json.newFolderName }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -768,
        1328
      ],
      "id": "7abf8f4c-6633-4237-acef-d80ae435e5d1",
      "name": "Create folder8",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "amount": 1,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -3648,
        2608
      ],
      "id": "23c1cf69-86ec-4a8b-8197-ce3832d266f4",
      "name": "Wait1",
      "webhookId": "21b68cc8-29e6-4592-9c4b-41d4f68768f1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.matchedGroup }}",
                    "rightValue": "limited",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "0b97c7e8-fc63-4304-a931-fb4ee475a9a2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "08f7482e-6a49-41cb-a969-0f3de0eed05c",
                    "leftValue": "={{ $json.matchedGroup }}",
                    "rightValue": "personal",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e4eab6bb-e04d-404f-aca2-06eb6dc2b92e",
                    "leftValue": "={{ $json.companyType }}",
                    "rightValue": "Taxpayer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3360,
        2608
      ],
      "id": "d357f70b-1571-4b9a-96a8-aa14a9e3f343",
      "name": "Switch3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e012c99-edfb-47b7-ac05-561672204af3",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "712b6262-73b7-492d-b63b-9f43f9753d39",
              "name": "name",
              "value": "={{ ($json[\"name\"]).trim().replace(/\\n/g,\"\") }}",
              "type": "string"
            },
            {
              "id": "73c4e58b-bd21-4f9a-8199-073e4e05c17a",
              "name": "newFolderName",
              "value": "={{ \"TAX \" + $json[\"name\"].replace(/\\s+/g, \" \").trim() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2000,
        3184
      ],
      "id": "839e4e21-6d32-4c45-be18-db3d1a0042c6",
      "name": "Edit Taxpayers TAX"
    },
    {
      "parameters": {
        "jsCode": "function normalizeText(text) {\n  return text\n    .toLowerCase()\n    .normalize(\"NFD\") // فصل الحروف عن الـ accents\n    .replace(/[\\u0300-\\u036f]/g, \"\") // إزالة الـ accents\n    .replace(/ı/g, \"i\") // استبدال الحروف التركية\n    .replace(/ş/g, \"s\")\n    .replace(/ğ/g, \"g\")\n    .replace(/ü/g, \"u\")\n    .replace(/ö/g, \"o\")\n    .replace(/ç/g, \"c\")\n    .trim();\n}\n\nconst companies = $items(\"normalize Taxpayers sheet\", 0, 0).map(i => i.json);\nconst taxFolders = $input.all().map(i => i.json);\n\nconst results = companies.map(company => {\n  const companyNameNorm = normalizeText(company.newFolderName);\n  const companyNormAlt = normalizeText(company.normalizedFolderName);\n\n  const matchedFolder = taxFolders.find(folder => {\n    const folderNameNorm = normalizeText(folder.name);\n    return folderNameNorm === companyNameNorm || folderNameNorm === companyNormAlt;\n  });\n\n  return {\n    json: {\n      companyFolderId: company.id,\n      companyName: company.name,\n      parentFolderId: company.parentFolderId,\n      taxFolderName: company.newFolderName,\n      taxFolderId: matchedFolder ? matchedFolder.id : null,\n      companyType: company.companyType,\n      taxFolderExists: !!matchedFolder,\n      normalizedCompanyName: company.normalizedCompanyName,\n      normalizedFolderName: company.normalizedFolderName\n    }\n  };\n});\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        3264
      ],
      "id": "ea1975ba-c2df-487c-a434-6ee03d5e34da",
      "name": "Matching Taxpayers sheet"
    },
    {
      "parameters": {
        "jsCode": "const parentId = \"1DrkXAhpOUpyWpp2gvlGCpe2MC_lt_veq\"; // ID فولدر الشركات الليمتد\n\nreturn $input.all().map(item => ({\n  json: {\n    ...item.json,\n    companyType: \"personal_Company\",\n    parentFolderId: parentId\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2224,
        2688
      ],
      "id": "f2ffd6c8-f0f5-4f46-bf8c-e471cd262123",
      "name": "personal_Company-TAX sheet"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='1DrkXAhpOUpyWpp2gvlGCpe2MC_lt_veq' in parents\nand mimeType = 'application/vnd.google-apps.folder'\nand trashed = false\n",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2816,
        2688
      ],
      "id": "63c92563-1ed9-47d7-99e7-fbd3cee2b9d4",
      "name": "Search personal_Company-TAX sheet",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e012c99-edfb-47b7-ac05-561672204af3",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "712b6262-73b7-492d-b63b-9f43f9753d39",
              "name": "name",
              "value": "={{ ($json[\"name\"]).trim().replace(/\\n/g,\"\") }}",
              "type": "string"
            },
            {
              "id": "73c4e58b-bd21-4f9a-8199-073e4e05c17a",
              "name": "newFolderName",
              "value": "={{ \"TAX \" + $json[\"name\"].replace(/\\s+/g, \" \").trim() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2000,
        2752
      ],
      "id": "a8f30a09-a58b-4518-87b2-639a50881d79",
      "name": "Edit personal_Company-TAX sheet"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const companyName = item.json.companyName || item.json.name || \"\";\n  const newFolderName = item.json.newFolderName || \"\";\n\n  const normalize = str =>\n    str.toLowerCase().trim().replace(/\\s+/g, \" \");\n\n  return {\n    json: {\n      ...item.json,\n      normalizedCompanyName: normalize(companyName),\n      normalizedFolderName: normalize(newFolderName)\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1776,
        2752
      ],
      "id": "3ce3c5e7-d3cb-470e-8b3d-225941d9485b",
      "name": "normalize personal_Company-TAX sheet"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "=query",
        "queryString": "='{{ $json[\"id\"] }}' in parents \nand mimeType = 'application/vnd.google-apps.folder' \nand name contains '{{ $json.normalizedFolderName }}' \nand trashed = false\n",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1568,
        2768
      ],
      "id": "c1f902f6-343c-452a-ba2b-66fd0df1ab9f",
      "name": "Search personal_Company-TAX sheet1",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const companies = $items(\"normalize personal_Company-TAX sheet\", 0, 0).map(i => i.json); \nconst taxFolders = $input.all().map(i => i.json);\n\nconst results = companies.map(company => {\n  const matchedFolder = taxFolders.find(folder =>\n    folder.name.toLowerCase().trim() === company.newFolderName.toLowerCase().trim() ||\n    folder.name.toLowerCase().trim() === company.normalizedFolderName.toLowerCase().trim()\n  );\n\n  return {\n    json: {\n      companyFolderId: company.id,\n      companyName: company.name,\n      parentFolderId: company.parentFolderId,\n      taxFolderName: company.newFolderName,\n      taxFolderId: matchedFolder ? matchedFolder.id : null,\n      companyType: company.companyType,\n      taxFolderExists: !!matchedFolder,\n      normalizedCompanyName: company.normalizedCompanyName,\n      normalizedFolderName: company.normalizedFolderName\n    }\n  };\n});\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        2832
      ],
      "id": "6fa050c7-8884-4557-8614-63e284223b49",
      "name": "matching personal_Company-TAX sheet"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk",
          "mode": "list",
          "cachedResultName": "ALL DATA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 206423802,
          "mode": "list",
          "cachedResultName": "personal",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit#gid=206423802"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company İD": "={{ $json.companyFolderId }}",
            "Company type": "={{ $json.companyType }}",
            "taxFolderName": "={{ $json.taxFolderName }}",
            "taxFolderId": "={{ $json.taxFolderId }}",
            "companyName": "={{ $json.companyName }}"
          },
          "matchingColumns": [
            "company İD"
          ],
          "schema": [
            {
              "id": "Company type",
              "displayName": "Company type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company İD",
              "displayName": "company İD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "taxFolderName",
              "displayName": "taxFolderName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "taxFolderId",
              "displayName": "taxFolderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_first_name",
              "displayName": "contact_first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_last_name",
              "displayName": "contact_last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_phone",
              "displayName": "contact_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_email",
              "displayName": "contact_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1024,
        2736
      ],
      "id": "ce331730-129b-476f-a38d-843ebbf6e45a",
      "name": "Append & update personal_Company-TAX sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tMsf6bYwBxxWxxVC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const companyName = item.json.companyName || item.json.name || \"\";\n  const newFolderName = item.json.newFolderName || \"\";\n\n  const normalize = str =>\n    str.toLowerCase().trim().replace(/\\s+/g, \" \");\n\n  return {\n    json: {\n      ...item.json,\n      normalizedCompanyName: normalize(companyName),\n      normalizedFolderName: normalize(newFolderName)\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1776,
        3184
      ],
      "id": "01a785ff-a156-4762-8736-1fad667c2268",
      "name": "normalize Taxpayers sheet"
    },
    {
      "parameters": {
        "jsCode": "const parentId = \"1Ue1FAta0dBCJ-nIceVwogQb9DrnVO__L\"; // ID فولدر الشركات الليمتد\n\nreturn $input.all().map(item => ({\n  json: {\n    ...item.json,\n    companyType: \"Taxpayers\",\n    parentFolderId: parentId\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2240,
        3168
      ],
      "id": "49cab2c4-aa9d-4554-990b-7ac1b84a7d73",
      "name": "Taxpayers TAX sheet"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk",
          "mode": "list",
          "cachedResultName": "ALL DATA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 629998503,
          "mode": "list",
          "cachedResultName": "ALL company",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit#gid=629998503"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company type": "={{ $json.companyType }}",
            "taxFolderName": "={{ $json.taxFolderName }}",
            "taxFolderId": "={{ $json.taxFolderId }}",
            "companyName": "={{ $json.companyName }}",
            "company İD": "={{ $json.companyFolderId }}"
          },
          "matchingColumns": [
            "company İD"
          ],
          "schema": [
            {
              "id": "Company type",
              "displayName": "Company type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company İD",
              "displayName": "company İD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "taxFolderName",
              "displayName": "taxFolderName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "taxFolderId",
              "displayName": "taxFolderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_first",
              "displayName": "contact_first",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact_last",
              "displayName": "contact_last",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact_phone",
              "displayName": "contact_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_email",
              "displayName": "contact_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "leadId",
              "displayName": "leadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact_id",
              "displayName": "contact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1056,
        2128
      ],
      "id": "4de25309-8401-4d49-8ee6-5923ba77e497",
      "name": "Append & update Limited TAX sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tMsf6bYwBxxWxxVC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const companies = $items(\"normalize Limited TAX sheet\", 0, 0).map(i => i.json);\nconst taxFolders = $input.all().map(i => i.json);\n\nconst results = companies.map(company => {\n  // نبحث عن الفولدر المطابق للشركة\n  const matchedFolder = taxFolders.find(folder => \n    folder.name.toLowerCase().trim() === company.newFolderName.toLowerCase().trim()\n  );\n\n  return {\n    json: {\n      companyFolderId: company.id,                 // ID فولدر الشركة\n      companyName: company.name,                   // اسم الشركة\n      parentFolderId: company.parentFolderId,      // ID الفولدر الأم\n      taxFolderName: company.newFolderName,        // اسم فولدر الضريبة\n      taxFolderId: matchedFolder ? matchedFolder.id : null, // ID فولدر الضريبة لو موجود\n      companyType: company.companyType,            // نوع الشركة\n      taxFolderExists: !!matchedFolder,            // هل فولدر الضريبة موجود\n      normalizedCompanyName: company.normalizedCompanyName,\n      normalizedFolderName: company.normalizedFolderName\n    }\n  };\n});\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1360,
        2208
      ],
      "id": "31acf9e8-f489-43ff-93dc-f9bf33b39c8f",
      "name": "matching Limited TAX sheet"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const companyName = item.json.companyName || item.json.name || \"\";\n  const newFolderName = item.json.newFolderName || \"\";\n\n  const normalize = str =>\n    str.toLowerCase().trim().replace(/\\s+/g, \" \");\n\n  return {\n    json: {\n      ...item.json,\n      normalizedCompanyName: normalize(companyName),\n      normalizedFolderName: normalize(newFolderName)\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        2208
      ],
      "id": "1356d35a-0de4-47a7-87cf-09666aa26f93",
      "name": "normalize Limited TAX sheet"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e012c99-edfb-47b7-ac05-561672204af3",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "712b6262-73b7-492d-b63b-9f43f9753d39",
              "name": "name",
              "value": "={{ ($json[\"name\"]).trim().replace(/\\n/g,\"\") }}",
              "type": "string"
            },
            {
              "id": "73c4e58b-bd21-4f9a-8199-073e4e05c17a",
              "name": "newFolderName",
              "value": "={{ \"TAX \" + $json[\"name\"].replace(/\\s+/g, \" \").trim() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2016,
        2208
      ],
      "id": "5cfc3ec7-9069-4ff2-a17f-4f2cfc278ff1",
      "name": "Edit Limited TAX sheet"
    },
    {
      "parameters": {
        "jsCode": "const parentId = \"1J-Gd-7w_jkWviJVfAeXxhz3ADS1CEIwx\"; // ID فولدر الشركات الليمتد\n\nreturn $input.all().map(item => ({\n  json: {\n    ...item.json,\n    companyType: \" Limited_Company\",\n    parentFolderId: parentId\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2288,
        2208
      ],
      "id": "e33470d0-05c5-4e2f-b67a-b09732e939ed",
      "name": "Limited TAX sheet"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='1J-Gd-7w_jkWviJVfAeXxhz3ADS1CEIwx' in parents\nand mimeType = 'application/vnd.google-apps.folder'\nand trashed = false\n",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2864,
        2224
      ],
      "id": "40de41b2-b6ab-41cf-96d7-8b03c8f5302f",
      "name": "Search Limited TAX sheet",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='1Ue1FAta0dBCJ-nIceVwogQb9DrnVO__L' in parents\nand mimeType = 'application/vnd.google-apps.folder'\nand trashed = false\n",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2784,
        3168
      ],
      "id": "ff15b8f7-68ed-4406-b3e1-0b71bdf6c425",
      "name": "Search Taxpayers TAX sheet",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "=query",
        "queryString": "='{{ $json[\"id\"] }}' in parents \nand mimeType = 'application/vnd.google-apps.folder' \nand name contains '{{ $json.normalizedFolderName }}' \nand trashed = false\n",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1568,
        3200
      ],
      "id": "3ac98259-80ef-493e-be67-320e9f694c75",
      "name": "Search Taxpayers TAX sheet1",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk",
          "mode": "list",
          "cachedResultName": "ALL DATA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1617195523,
          "mode": "list",
          "cachedResultName": "Taxpayers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit#gid=1617195523"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company İD": "={{ $json.companyFolderId }}",
            "Company type": "={{ $json.companyType }}",
            "taxFolderName": "={{ $json.taxFolderName }}",
            "taxFolderId": "={{ $json.taxFolderId }}",
            "companyName": "={{ $json.companyName }}"
          },
          "matchingColumns": [
            "company İD"
          ],
          "schema": [
            {
              "id": "Company type",
              "displayName": "Company type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company İD",
              "displayName": "company İD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "taxFolderName",
              "displayName": "taxFolderName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "taxFolderId",
              "displayName": "taxFolderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_first_name",
              "displayName": "contact_first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_last_name",
              "displayName": "contact_last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_phone",
              "displayName": "contact_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_email",
              "displayName": "contact_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1008,
        3184
      ],
      "id": "b20379e9-afbc-421e-8081-ee4bb5fd05ce",
      "name": "Append & update Taxpayers TAX sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tMsf6bYwBxxWxxVC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "=query",
        "queryString": "='{{ $json[\"id\"] }}' in parents \nand mimeType = 'application/vnd.google-apps.folder' \nand name contains '{{ $json.normalizedFolderName }}' \nand trashed = false\n",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -1584,
        2208
      ],
      "id": "6e8ed5e1-d90d-491d-804a-89f0b94a0f2b",
      "name": "Search Limited TAX sheet1",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const folders = $input.all().filter(i => i.json.companyName === undefined); // بيانات الفولدرات\nconst companies = $input.all().filter(i => i.json.companyName !== undefined); // بيانات الشركات\n\n// نستخرج parentFolderId ثابت لأنه نفس القيمة لكل الفولدرات\nconst defaultParentId = folders.length > 0 ? folders[0].json.parentFolderId : null;\n\nconst results = companies.map(company => {\n  const match = folders.find(f =>\n    f.json.name.toLowerCase().trim() === company.json.companyName.toLowerCase().trim()\n  );\n\n  return {\n    json: {\n      ...company.json,\n      folderId: match ? match.json.id : null,\n      parentFolderId: match ? match.json.parentFolderId : defaultParentId,\n      folderFound: !!match\n    }\n  };\n});\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2096,
        -224
      ],
      "id": "8bb0c1cb-c69b-43d1-b64a-a8ff10dd52b6",
      "name": "File and folder matching limited"
    },
    {
      "parameters": {
        "jsCode": "const folders = $input.all().filter(i => i.json.companyName === undefined); // بيانات الفولدرات\nconst companies = $input.all().filter(i => i.json.companyName !== undefined); // بيانات الشركات\n\n// نستخرج parentFolderId ثابت لأنه نفس القيمة لكل الفولدرات\nconst defaultParentId = folders.length > 0 ? folders[0].json.parentFolderId : null;\n\nconst results = companies.map(company => {\n  const match = folders.find(f =>\n    f.json.name.toLowerCase().trim() === company.json.companyName.toLowerCase().trim()\n  );\n\n  return {\n    json: {\n      ...company.json,\n      folderId: match ? match.json.id : null,\n      parentFolderId: match ? match.json.parentFolderId : defaultParentId,\n      folderFound: !!match\n    }\n  };\n});\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2080,
        160
      ],
      "id": "c24f375b-b6bf-4421-8174-74dbce0d1e4d",
      "name": "File and folder matching personal"
    },
    {
      "parameters": {
        "jsCode": "const folders = $input.all().filter(i => i.json.companyName === undefined); // بيانات الفولدرات\nconst companies = $input.all().filter(i => i.json.companyName !== undefined); // بيانات الشركات\n\n// نستخرج parentFolderId ثابت لأنه نفس القيمة لكل الفولدرات\nconst defaultParentId = folders.length > 0 ? folders[0].json.parentFolderId : null;\n\nconst results = companies.map(company => {\n  const match = folders.find(f =>\n    f.json.name.toLowerCase().trim() === company.json.companyName.toLowerCase().trim()\n  );\n\n  return {\n    json: {\n      ...company.json,\n      folderId: match ? match.json.id : null,\n      parentFolderId: match ? match.json.parentFolderId : defaultParentId,\n      folderFound: !!match\n    }\n  };\n});\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2080,
        560
      ],
      "id": "90b3eb35-05ba-4b17-89f0-b81e927295d7",
      "name": "File and folder matching Taxpayers"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2448,
        2368
      ],
      "id": "3dbc878c-9c14-42ed-96cd-9db2fcff66df",
      "name": "Wait2",
      "webhookId": "df6ae763-18bf-480c-9f0b-71b7f28b58de"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b4ef2c1-97f1-4ac8-8096-a0be2a44f183",
              "leftValue": "={{ $json[\"id\"] ? true : false }}\n",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2624,
        2224
      ],
      "id": "2df1ffb7-dd82-49f8-ab9a-559f6ed7b8f8",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b4ef2c1-97f1-4ac8-8096-a0be2a44f183",
              "leftValue": "={{ $json[\"id\"] ? true : false }}\n",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2608,
        2672
      ],
      "id": "b9d03c8a-0884-4643-a7cd-3aa70d800136",
      "name": "If2"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2400,
        3328
      ],
      "id": "aeeb9267-fecd-42ea-9d87-0da0f6173669",
      "name": "Wait4",
      "webhookId": "df6ae763-18bf-480c-9f0b-71b7f28b58de"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b4ef2c1-97f1-4ac8-8096-a0be2a44f183",
              "leftValue": "={{ $json[\"id\"] ? true : false }}\n",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2576,
        3184
      ],
      "id": "3f7dec6f-fa82-4667-a77b-4bbc6b8b7c01",
      "name": "If3"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2480,
        1088
      ],
      "id": "e3b59007-87c6-447b-935a-717fd3515d34",
      "name": "Wait5",
      "webhookId": "df6ae763-18bf-480c-9f0b-71b7f28b58de"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b4ef2c1-97f1-4ac8-8096-a0be2a44f183",
              "leftValue": "={{ $json[\"id\"] ? true : false }}\n",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2624,
        960
      ],
      "id": "3a52bdcb-6056-493b-9a41-063a2c83c9a3",
      "name": "If10"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2480,
        1424
      ],
      "id": "ba4879bf-04ae-4451-8f0b-1b60e6d36831",
      "name": "Wait6",
      "webhookId": "df6ae763-18bf-480c-9f0b-71b7f28b58de"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b4ef2c1-97f1-4ac8-8096-a0be2a44f183",
              "leftValue": "={{ $json[\"id\"] ? true : false }}\n",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2656,
        1280
      ],
      "id": "09dfbedb-e2e2-4ae8-9d70-b8057622593b",
      "name": "If11"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2416,
        1840
      ],
      "id": "57beca3b-9457-407d-b7bc-ce385137f2d8",
      "name": "Wait7",
      "webhookId": "df6ae763-18bf-480c-9f0b-71b7f28b58de"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "9b4ef2c1-97f1-4ac8-8096-a0be2a44f183",
              "leftValue": "={{ $json[\"id\"] ? true : false }}\n",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2608,
        1712
      ],
      "id": "9ed086b6-d035-4cfc-97b7-7ad4627459d6",
      "name": "If12"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk",
          "mode": "list",
          "cachedResultName": "ALL DATA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 629998503,
          "mode": "list",
          "cachedResultName": "ALL company",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit#gid=629998503"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company İD": "={{ $json.companyFolderId }}",
            "Company type": "={{ $json.companyType }}",
            "taxFolderName": "={{ $json.taxFolderName }}",
            "taxFolderId": "={{ $json.taxFolderId }}",
            "companyName": "={{ $json.companyName }}"
          },
          "matchingColumns": [
            "company İD"
          ],
          "schema": [
            {
              "id": "Company type",
              "displayName": "Company type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company İD",
              "displayName": "company İD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "taxFolderName",
              "displayName": "taxFolderName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "taxFolderId",
              "displayName": "taxFolderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_first",
              "displayName": "contact_first",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact_last",
              "displayName": "contact_last",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact_phone",
              "displayName": "contact_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_email",
              "displayName": "contact_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "full_name",
              "displayName": "full_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "leadId",
              "displayName": "leadId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact_id",
              "displayName": "contact_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -1024,
        2960
      ],
      "id": "b4e4bbab-7156-4b23-997b-0a6b137bc991",
      "name": "Append & update Limited TAX sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tMsf6bYwBxxWxxVC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2416,
        2800
      ],
      "id": "8d99809c-53bb-45eb-90f3-ba3689f3ff1c",
      "name": "Wait3",
      "webhookId": "df6ae763-18bf-480c-9f0b-71b7f28b58de"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk",
          "mode": "list",
          "cachedResultName": "ALL DATA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 629998503,
          "mode": "list",
          "cachedResultName": "ALL company",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit#gid=629998503"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company İD": "={{ $json.companyFolderId }}",
            "Company type": "={{ $json.companyType }}",
            "taxFolderName": "={{ $json.taxFolderName }}",
            "taxFolderId": "={{ $json.taxFolderId }}",
            "companyName": "={{ $json.companyName }}"
          },
          "matchingColumns": [
            "company İD"
          ],
          "schema": [
            {
              "id": "Company type",
              "displayName": "Company type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company İD",
              "displayName": "company İD",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "taxFolderName",
              "displayName": "taxFolderName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "taxFolderId",
              "displayName": "taxFolderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_first_name",
              "displayName": "contact_first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_last_name",
              "displayName": "contact_last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_phone",
              "displayName": "contact_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_email",
              "displayName": "contact_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -960,
        3504
      ],
      "id": "9b445716-e91c-4897-8307-2fe2d8509fb5",
      "name": "Append & update Limited TAX sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tMsf6bYwBxxWxxVC",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search new company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Taxpayers": {
      "main": [
        [
          {
            "node": "Taxpayers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Limited Company": {
      "main": [
        [
          {
            "node": "Limited_Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "file normalize1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search personal company": {
      "main": [
        [
          {
            "node": "personal_Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search TAX": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "file normalize": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search new company": {
      "main": [
        [
          {
            "node": "Search inside new company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search inside new company": {
      "main": [
        [
          {
            "node": "file normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge9": {
      "main": [
        [
          {
            "node": "File and folder matching limited",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Search Limited Company",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge9",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Search personal company",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge12",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Search Taxpayers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge13",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Limited_Company": {
      "main": [
        [
          {
            "node": "Merge9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "personal_Company": {
      "main": [
        [
          {
            "node": "Merge12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Taxpayers": {
      "main": [
        [
          {
            "node": "Merge13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [],
        [
          {
            "node": "Create folder3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder3": {
      "main": [
        []
      ]
    },
    "If5": {
      "main": [
        [],
        [
          {
            "node": "Create folder4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder4": {
      "main": [
        []
      ]
    },
    "Merge12": {
      "main": [
        [
          {
            "node": "File and folder matching personal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [],
        [
          {
            "node": "Create folder5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder5": {
      "main": [
        []
      ]
    },
    "Merge13": {
      "main": [
        [
          {
            "node": "File and folder matching Taxpayers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Limited Company2": {
      "main": [
        [
          {
            "node": "If10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Search Limited Company2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search personal company1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search Taxpayers1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "file normalize1": {
      "main": [
        [
          {
            "node": "Search TAX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limited_Company - TAX": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Create folder6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search personal company1": {
      "main": [
        [
          {
            "node": "If11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Taxpayers1": {
      "main": [
        [
          {
            "node": "If12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "file normalize2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search TAX1": {
      "main": [
        [
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code7": {
      "main": [
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "Create folder7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "file normalize2": {
      "main": [
        [
          {
            "node": "Search TAX1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "file normalize3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search TAX2": {
      "main": [
        [
          {
            "node": "Code8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code8": {
      "main": [
        [
          {
            "node": "If9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If9": {
      "main": [
        [
          {
            "node": "Create folder8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "file normalize3": {
      "main": [
        [
          {
            "node": "Search TAX2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Taxpayers1": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "personal_Company1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Switch3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch3": {
      "main": [
        [
          {
            "node": "Search Limited TAX sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search personal_Company-TAX sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search Taxpayers TAX sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Taxpayers TAX": {
      "main": [
        [
          {
            "node": "normalize Taxpayers sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Matching Taxpayers sheet": {
      "main": [
        [
          {
            "node": "Append & update Taxpayers TAX sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append & update Limited TAX sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "personal_Company-TAX sheet": {
      "main": [
        [
          {
            "node": "Edit personal_Company-TAX sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search personal_Company-TAX sheet": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit personal_Company-TAX sheet": {
      "main": [
        [
          {
            "node": "normalize personal_Company-TAX sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize personal_Company-TAX sheet": {
      "main": [
        [
          {
            "node": "Search personal_Company-TAX sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search personal_Company-TAX sheet1": {
      "main": [
        [
          {
            "node": "matching personal_Company-TAX sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "matching personal_Company-TAX sheet": {
      "main": [
        [
          {
            "node": "Append & update personal_Company-TAX sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append & update Limited TAX sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize Taxpayers sheet": {
      "main": [
        [
          {
            "node": "Search Taxpayers TAX sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Taxpayers TAX sheet": {
      "main": [
        [
          {
            "node": "Edit Taxpayers TAX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "matching Limited TAX sheet": {
      "main": [
        [
          {
            "node": "Append & update Limited TAX sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "normalize Limited TAX sheet": {
      "main": [
        [
          {
            "node": "Search Limited TAX sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Limited TAX sheet": {
      "main": [
        [
          {
            "node": "normalize Limited TAX sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limited TAX sheet": {
      "main": [
        [
          {
            "node": "Edit Limited TAX sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Limited TAX sheet": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Taxpayers TAX sheet": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Taxpayers TAX sheet1": {
      "main": [
        [
          {
            "node": "Matching Taxpayers sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Limited TAX sheet1": {
      "main": [
        [
          {
            "node": "matching Limited TAX sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File and folder matching limited": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File and folder matching personal": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File and folder matching Taxpayers": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Limited TAX sheet",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "personal_Company-TAX sheet",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Taxpayers TAX sheet",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If10": {
      "main": [
        [
          {
            "node": "Limited_Company - TAX",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If11": {
      "main": [
        [
          {
            "node": "personal_Company1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If12": {
      "main": [
        [
          {
            "node": "Taxpayers1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "174779bc-92d7-4173-9d0c-218344329bca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bbcc8f8955fdb6b9df383b7af3b82b49081e116d9ff63429580cf5caee57238e"
  },
  "id": "gWZItXe88Rs8H0rz",
  "tags": []
}