workflows/linkedin-auto-posting.json
{
  "name": "النشر التلقائي على لينكد إن - LinkedIn Auto Posting",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "a1b2c3d4-1111-4444-aaaa-000000000001",
      "name": "جدولة يومية - Daily Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-800, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $env.LINKEDIN_CONTENT_SHEET_URL }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultName": "المحتوى - Content"
        },
        "options": {
          "range": "A:G"
        }
      },
      "id": "a1b2c3d4-1111-4444-aaaa-000000000002",
      "name": "قراءة المحتوى من Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [-560, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json['الحالة'] || $json['status'] }}",
              "rightValue": "جاهز",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "filter-status-ready"
            },
            {
              "leftValue": "={{ $json['تاريخ النشر'] || $json['publish_date'] }}",
              "rightValue": "={{ $now.format('yyyy-MM-dd') }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "filter-date-today"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-1111-4444-aaaa-000000000003",
      "name": "تصفية المحتوى اليومي",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [-320, 300]
    },
    {
      "parameters": {
        "jsCode": "// قائمة صفحات LinkedIn التي سيتم النشر عليها\n// LinkedIn pages to post to\nconst pages = [\n  // أضف صفحاتك هنا - Add your pages here\n  // { id: 'PAGE_ID_1', name: 'اسم الصفحة 1', accessToken: '' },\n  // { id: 'PAGE_ID_2', name: 'اسم الصفحة 2', accessToken: '' },\n];\n\n// قراءة الصفحات من متغيرات البيئة\n// Read pages from environment variables\nconst pagesFromEnv = $env.LINKEDIN_PAGES ? JSON.parse($env.LINKEDIN_PAGES) : [];\nconst allPages = pages.length > 0 ? pages : pagesFromEnv;\n\nif (allPages.length === 0) {\n  throw new Error('لم يتم تكوين صفحات LinkedIn. يرجى إضافة الصفحات في متغيرات البيئة LINKEDIN_PAGES');\n}\n\nconst items = [];\nfor (const item of $input.all()) {\n  for (const page of allPages) {\n    items.push({\n      json: {\n        ...item.json,\n        pageId: page.id,\n        pageName: page.name,\n        accessToken: page.accessToken || $env[`LINKEDIN_TOKEN_${page.id}`] || '',\n        postContent: item.json['المحتوى'] || item.json['content'] || '',\n        postTitle: item.json['العنوان'] || item.json['title'] || '',\n        imageUrl: item.json['رابط الصورة'] || item.json['image_url'] || '',\n        rowNumber: item.json['row_number'] || item.json['__rowNumber'] || '',\n      }\n    });\n  }\n}\n\nreturn items;"
      },
      "id": "a1b2c3d4-1111-4444-aaaa-000000000004",
      "name": "تجهيز المنشورات لكل صفحة",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-80, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.imageUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "id": "check-image"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-1111-4444-aaaa-000000000005",
      "name": "هل يوجد صورة؟",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [160, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202402"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"author\": \"urn:li:organization:{{ $json.pageId }}\",\n  \"lifecycleState\": \"PUBLISHED\",\n  \"specificContent\": {\n    \"com.linkedin.ugc.ShareContent\": {\n      \"shareCommentary\": {\n        \"text\": \"{{ $json.postContent }}\"\n      },\n      \"shareMediaCategory\": \"NONE\"\n    }\n  },\n  \"visibility\": {\n    \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n  }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-1111-4444-aaaa-000000000006",
      "name": "نشر نص فقط على LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 420],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "LinkedIn Access Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Restli-Protocol-Version",
              "value": "2.0.0"
            },
            {
              "name": "LinkedIn-Version",
              "value": "202402"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"author\": \"urn:li:organization:{{ $json.pageId }}\",\n  \"lifecycleState\": \"PUBLISHED\",\n  \"specificContent\": {\n    \"com.linkedin.ugc.ShareContent\": {\n      \"shareCommentary\": {\n        \"text\": \"{{ $json.postContent }}\"\n      },\n      \"shareMediaCategory\": \"ARTICLE\",\n      \"media\": [\n        {\n          \"status\": \"READY\",\n          \"originalUrl\": \"{{ $json.imageUrl }}\",\n          \"description\": {\n            \"text\": \"{{ $json.postTitle }}\"\n          }\n        }\n      ]\n    }\n  },\n  \"visibility\": {\n    \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n  }\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "a1b2c3d4-1111-4444-aaaa-000000000007",
      "name": "نشر مع صورة على LinkedIn",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [420, 180],
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "LinkedIn Access Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// تجميع نتائج النشر\nconst results = $input.all();\nconst summary = {\n  totalPosts: results.length,\n  successful: 0,\n  failed: 0,\n  details: []\n};\n\nfor (const result of results) {\n  const statusCode = result.json.statusCode || result.json.$response?.statusCode || 201;\n  const isSuccess = statusCode >= 200 && statusCode < 300;\n  \n  if (isSuccess) {\n    summary.successful++;\n  } else {\n    summary.failed++;\n  }\n  \n  summary.details.push({\n    page: result.json.pageName || result.json.pageId || 'unknown',\n    status: isSuccess ? 'نجح ✅' : 'فشل ❌',\n    statusCode: statusCode,\n    response: result.json.id || result.json.message || ''\n  });\n}\n\nreturn [{ json: summary }];"
      },
      "id": "a1b2c3d4-1111-4444-aaaa-000000000008",
      "name": "تجميع النتائج",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "={{ $env.LINKEDIN_CONTENT_SHEET_URL }}"
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": "gid=0",
          "cachedResultName": "المحتوى - Content"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "الحالة": "تم النشر",
            "status": "published"
          }
        },
        "options": {}
      },
      "id": "a1b2c3d4-1111-4444-aaaa-000000000009",
      "name": "تحديث الحالة في Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [940, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a1b2c3d4-1111-4444-aaaa-000000000010",
      "name": "No Operation",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [940, 500]
    }
  ],
  "connections": {
    "جدولة يومية - Daily Schedule": {
      "main": [
        [
          {
            "node": "قراءة المحتوى من Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "قراءة المحتوى من Google Sheets": {
      "main": [
        [
          {
            "node": "تصفية المحتوى اليومي",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "تصفية المحتوى اليومي": {
      "main": [
        [
          {
            "node": "تجهيز المنشورات لكل صفحة",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "تجهيز المنشورات لكل صفحة": {
      "main": [
        [
          {
            "node": "هل يوجد صورة؟",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "هل يوجد صورة؟": {
      "main": [
        [
          {
            "node": "نشر مع صورة على LinkedIn",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "نشر نص فقط على LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "نشر نص فقط على LinkedIn": {
      "main": [
        [
          {
            "node": "تجميع النتائج",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "نشر مع صورة على LinkedIn": {
      "main": [
        [
          {
            "node": "تجميع النتائج",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "تجميع النتائج": {
      "main": [
        [
          {
            "node": "تحديث الحالة في Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "tags": [
    {
      "name": "LinkedIn",
      "createdAt": "2026-03-14T00:00:00.000Z",
      "updatedAt": "2026-03-14T00:00:00.000Z"
    },
    {
      "name": "تسويق",
      "createdAt": "2026-03-14T00:00:00.000Z",
      "updatedAt": "2026-03-14T00:00:00.000Z"
    }
  ]
}
