workflows/pipeline-kommo-smart-handler-ai.json
{
  "name": "Pipeline Kommo Smart Handler with AI copy",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// معالج Kommo Webhooks - النسخة المؤسسية المُحسّنة\n// ================================================\n// Version: 4.0 - محدث لمعالجة جميع أنواع الأحداث بشكل صحيح\n\n// ==================\n// الإعدادات\n// ==================\nconst CONFIG = {\n  TIME_WINDOW: 30,           // نافذة زمنية بالثواني لتجميع النبضات\n  MESSAGE_CACHE_TTL: 120000, // مدة الاحتفاظ بالكاش (2 دقيقة)\n  MAX_EVENTS_PER_MESSAGE: 10, // حد أقصى للنبضات لكل رسالة\n  MAX_CACHE_SIZE: 5000,       // حد أقصى لحجم الكاش\n  DEBUG_MODE: true           // تفعيل وضع Debug\n};\n\n// ==================\n// تهيئة الذاكرة المؤقتة\n// ==================\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.messageCache) {\n  staticData.messageCache = {};\n  staticData.processedMessages = {};\n  staticData.lastCleanup = Date.now();\n  staticData.cacheSize = 0;\n}\n\n// ==================\n// دوال مساعدة\n// ==================\n\n// دالة للطباعة الآمنة في debug mode\nfunction debugLog(...args) {\n  if (CONFIG.DEBUG_MODE) {\n    console.log(...args);\n  }\n}\n\n// دالة لاستخراج القيمة من المفاتيح المسطحة\nfunction extractFlatValue(obj, ...keys) {\n  for (const key of keys) {\n    if (obj[key] !== undefined && obj[key] !== null && obj[key] !== '') {\n      return obj[key];\n    }\n  }\n  return '';\n}\n\n// دالة لتنظيف وإدارة حجم الكاش\nfunction cleanupCache() {\n  const now = Date.now();\n  \n  // تنظيف دوري كل دقيقة\n  if (now - staticData.lastCleanup > 60000) {\n    let removedCount = 0;\n    \n    // حذف العناصر المنتهية\n    for (const key in staticData.messageCache) {\n      if (now - staticData.messageCache[key].timestamp > CONFIG.MESSAGE_CACHE_TTL) {\n        delete staticData.messageCache[key];\n        removedCount++;\n      }\n    }\n    \n    for (const key in staticData.processedMessages) {\n      if (now - staticData.processedMessages[key] > CONFIG.MESSAGE_CACHE_TTL) {\n        delete staticData.processedMessages[key];\n      }\n    }\n    \n    // تحديد حجم الكاش\n    staticData.cacheSize = Object.keys(staticData.messageCache).length;\n    \n    // إذا تجاوز الحد الأقصى، احذف الأقدم\n    if (staticData.cacheSize > CONFIG.MAX_CACHE_SIZE) {\n      const entries = Object.entries(staticData.messageCache)\n        .sort((a, b) => a[1].timestamp - b[1].timestamp);\n      \n      const toRemove = entries.slice(0, staticData.cacheSize - CONFIG.MAX_CACHE_SIZE);\n      toRemove.forEach(([key]) => {\n        delete staticData.messageCache[key];\n        removedCount++;\n      });\n    }\n    \n    staticData.lastCleanup = now;\n    debugLog(`Cache cleanup: removed ${removedCount} items, current size: ${staticData.cacheSize}`);\n  }\n}\n\n// دالة لتصنيف نوع الحدث\nfunction classifyEvent(body) {\n  const keys = Object.keys(body || {});\n  const has = (prefix) => keys.some(k => k.startsWith(prefix));\n  \n  const eventTypes = [\n    { check: 'message[add]', type: 'message[add]', priority: 10, category: 'message', expectedPulses: 9 },\n    { check: 'unsorted[add]', type: 'unsorted[add]', priority: 8, category: 'lead_creation', expectedPulses: 6 },\n    { check: 'talk[add]', type: 'talk[add]', priority: 6, category: 'conversation', expectedPulses: 4 },\n    { check: 'talk[update]', type: 'talk[update]', priority: 5, category: 'conversation', expectedPulses: 3 },\n    { check: 'leads[update]', type: 'leads[update]', priority: 4, category: 'lead_management', expectedPulses: 2 },\n    { check: 'leads[delete]', type: 'leads[delete]', priority: 1, category: 'deletion', expectedPulses: 1 },\n    { check: 'contacts[update]', type: 'contacts[update]', priority: 3, category: 'contact_management', expectedPulses: 2 }\n  ];\n  \n  for (const eventType of eventTypes) {\n    if (has(eventType.check)) {\n      return {\n        event_type: eventType.type,\n        priority: eventType.priority,\n        category: eventType.category,\n        expected_pulses: Math.min(eventType.expectedPulses, CONFIG.MAX_EVENTS_PER_MESSAGE)\n      };\n    }\n  }\n  \n  return { event_type: 'unknown', priority: 0, category: 'other', expected_pulses: 1 };\n}\n\n// دالة لإنشاء معرف فريد قوي\nfunction generateFingerprint(data) {\n  const {\n    message_id = '',\n    chat_id = '',\n    lead_id = '',\n    source = '',\n    created_at = '',\n    text_snippet = '',\n    event_type = ''\n  } = data;\n  \n  // إذا كان هناك message_id فهو الأفضل\n  if (message_id) return message_id;\n  \n  // بناء معرف مركب\n  const timeSlot = Math.floor(Date.now() / 1000 / CONFIG.TIME_WINDOW);\n  const parts = [\n    chat_id || 'no-chat',\n    lead_id || 'no-lead',\n    source || event_type || 'unknown',\n    timeSlot,\n    text_snippet ? text_snippet.substring(0, 10).replace(/\\s/g, '') : 'no-text'\n  ];\n  \n  return parts.filter(p => p).join('_');\n}\n\n// دالة لتطبيع الطوابع الزمنية\nfunction normalizeTimestamp(rawTs) {\n  if (!rawTs) return '';\n  \n  const num = Number(rawTs);\n  if (isNaN(num)) return '';\n  \n  // إذا كان الرقم كبير جداً، ربما يكون milliseconds\n  if (num > 9999999999) {\n    return String(Math.floor(num / 1000));\n  }\n  \n  return String(num);\n}\n\n// دالة محسنة لاستخراج النص من جميع الأحداث\nfunction extractMessageText(body, eventType) {\n  let text = '';\n  \n  // محاولات متعددة لاستخراج النص حسب نوع الحدث\n  if (eventType === 'message[add]') {\n    text = extractFlatValue(body,\n      'message[add][0][text]',\n      'message[add][0][message]',\n      'message[add][0][body]'\n    );\n  } else if (eventType === 'talk[update]') {\n    text = extractFlatValue(body,\n      'talk[update][0][last_message]',\n      'talk[update][0][text]',\n      'talk[update][0][message]',\n      'talk[update][0][body]'\n    );\n  } else if (eventType === 'talk[add]') {\n    text = extractFlatValue(body,\n      'talk[add][0][last_message]',\n      'talk[add][0][text]',\n      'talk[add][0][message]'\n    );\n  } else if (eventType === 'unsorted[add]') {\n    text = extractFlatValue(body,\n      'unsorted[add][0][source_data][data][0][text]',\n      'unsorted[add][0][text]',\n      'unsorted[add][0][message]',\n      'unsorted[add][0][body]'\n    );\n  } else if (eventType === 'leads[update]') {\n    // البحث في الحقول المخصصة للـ leads\n    text = extractFlatValue(body,\n      'leads[update][0][text]',\n      'leads[update][0][last_message]',\n      'leads[update][0][note]',\n      'leads[update][0][message]'\n    );\n    \n    // البحث في custom fields\n    if (!text) {\n      for (let i = 0; i < 10; i++) {\n        for (let j = 0; j < 5; j++) {\n          const customFieldPath = `leads[update][0][custom_fields_values][${i}][values][${j}][value]`;\n          if (body[customFieldPath]) {\n            const value = body[customFieldPath];\n            // تحقق أن القيمة تبدو كنص وليست رقم أو ID\n            if (typeof value === 'string' && value.length > 2 && !(/^\\d+$/.test(value))) {\n              text = value;\n              debugLog(`Found text in custom field: ${customFieldPath}`);\n              break;\n            }\n          }\n        }\n        if (text) break;\n      }\n    }\n  }\n  \n  return text;\n}\n\n// ==================\n// معالج الأحداث الرئيسي\n// ==================\n\n// تنظيف الكاش أولاً\ncleanupCache();\n\n// استرجاع المجموعات من الكاش السابق\nconst eventGroups = {};\n\n// التحقق من الكاش الموجود واسترجاع المجموعات غير المكتملة\nfor (const [key, cachedGroup] of Object.entries(staticData.messageCache)) {\n  if (!cachedGroup.is_complete) {\n    eventGroups[key] = {\n      ...cachedGroup,\n      unique_events: new Set(cachedGroup.unique_events_array || [])\n    };\n    debugLog(`Restored incomplete group from cache: ${key}`);\n  }\n}\n\n// معالجة كل نبضة واردة\nitems.forEach((item, index) => {\n  const j = item.json || {};\n  const b = j.body || {};\n  \n  debugLog(`\\n=== Processing Event ${index + 1} ===`);\n  debugLog(\"Body keys sample:\", Object.keys(b).slice(0, 10));\n  \n  const classification = classifyEvent(b);\n  debugLog(\"Event classification:\", classification);\n  \n  // تجاهل أحداث الحذف\n  if (classification.category === 'deletion') {\n    debugLog(\"Ignoring deletion event\");\n    return;\n  }\n  \n  // ==================\n  // استخراج البيانات من المفاتيح المسطحة\n  // ==================\n  \n  // استخراج lead_id\n  const lead_id = extractFlatValue(b,\n    'leads[update][0][id]',\n    'talk[update][0][entity_id]',\n    'talk[add][0][entity_id]',\n    'unsorted[add][0][lead_id]',\n    'message[add][0][entity_id]',\n    'message[add][0][element_id]'\n  );\n  \n  // استخراج chat_id\n  const chat_id = extractFlatValue(b,\n    'message[add][0][chat_id]',\n    'talk[add][0][chat_id]',\n    'talk[update][0][chat_id]',\n    'unsorted[add][0][source_data][origin][chat_id]',\n    'leads[update][0][chat_id]'\n  );\n  \n  // استخراج message_id\n  const message_id = extractFlatValue(b,\n    'message[add][0][id]',\n    'unsorted[add][0][source_data][data][0][id]',\n    'leads[update][0][message_id]',\n    'talk[update][0][message_id]'\n  );\n  \n  // استخراج النص باستخدام الدالة المحسنة\n  const message_text = extractMessageText(b, classification.event_type);\n  \n  debugLog(\"Extracted text:\", message_text || \"NO TEXT FOUND\");\n  \n  // استخراج اسم العميل\n  const client_name = extractFlatValue(b,\n    'message[add][0][author][name]',\n    'unsorted[add][0][source_data][client][name]',\n    'unsorted[add][0][source_data][from]',\n    'unsorted[add][0][source_data][name]',\n    'contacts[add][0][name]',\n    'contacts[update][0][name]',\n    'leads[update][0][contact_name]'\n  );\n  \n  // استخراج معلومات إضافية\n  const pipeline_id = extractFlatValue(b,\n    'leads[update][0][pipeline_id]',\n    'unsorted[add][0][pipeline_id]'\n  );\n  \n  const status_id = extractFlatValue(b,\n    'leads[update][0][status_id]',\n    'unsorted[add][0][status_id]'\n  );\n  \n  const source = extractFlatValue(b,\n    'message[add][0][origin]',\n    'unsorted[add][0][source]',\n    'talk[update][0][origin]',\n    'talk[add][0][origin]'\n  );\n  \n  // استخراج وتطبيع التوقيت\n  const rawTimestamp = extractFlatValue(b,\n    'message[add][0][created_at]',\n    'talk[add][0][created_at]',\n    'talk[update][0][updated_at]',\n    'unsorted[add][0][created_at]',\n    'unsorted[add][0][source_data][date]',\n    'leads[update][0][updated_at]'\n  );\n  \n  const event_ts_unix = normalizeTimestamp(rawTimestamp);\n  \n  // إنشاء معرف فريد قوي\n  const fingerprint = generateFingerprint({\n    message_id,\n    chat_id,\n    lead_id,\n    source,\n    created_at: event_ts_unix,\n    text_snippet: message_text,\n    event_type: classification.event_type\n  });\n  \n  debugLog(\"Generated fingerprint:\", fingerprint);\n  \n  // التحقق من المعالجة السابقة\n  if (message_id && staticData.processedMessages[message_id]) {\n    debugLog(\"Message already processed, skipping\");\n    return;\n  }\n  \n  // ==================\n  // تجميع الأحداث\n  // ==================\n  \n  // إنشاء أو تحديث المجموعة\n  if (!eventGroups[fingerprint]) {\n    eventGroups[fingerprint] = {\n      events: [],\n      pulses_received: 0,\n      expected_pulses: classification.expected_pulses,\n      lead_id: '',\n      chat_id: '',\n      message_text: '',\n      message_id: '',\n      client_name: '',\n      pipeline_id: '',\n      status_id: '',\n      source: '',\n      has_message: false,\n      is_new_lead: false,\n      is_complete: false,\n      timestamp: event_ts_unix,\n      first_pulse_time: Date.now(),\n      last_pulse_time: Date.now(),\n      unique_events: new Set()\n    };\n  }\n  \n  const group = eventGroups[fingerprint];\n  \n  // تحديث البيانات (فقط إذا كانت القيم الجديدة غير فارغة)\n  group.pulses_received++;\n  group.last_pulse_time = Date.now();\n  group.unique_events.add(classification.event_type);\n  \n  if (lead_id) group.lead_id = lead_id;\n  if (chat_id) group.chat_id = chat_id;\n  if (message_text) group.message_text = message_text;\n  if (message_id) group.message_id = message_id;\n  if (client_name) group.client_name = client_name;\n  if (pipeline_id) group.pipeline_id = pipeline_id;\n  if (status_id) group.status_id = status_id;\n  if (source) group.source = source;\n  \n  // تحديث الأعلام\n  if (classification.event_type === 'message[add]' && message_text) {\n    group.has_message = true;\n  }\n  if (classification.event_type === 'unsorted[add]') {\n    group.is_new_lead = true;\n  }\n  \n  // فحص اكتمال النبضات\n  const timeSinceFirstPulse = Date.now() - group.first_pulse_time;\n  if (group.pulses_received >= group.expected_pulses ||\n      group.pulses_received >= CONFIG.MAX_EVENTS_PER_MESSAGE ||\n      timeSinceFirstPulse > CONFIG.TIME_WINDOW * 1000) {\n    group.is_complete = true;\n    debugLog(`Group ${fingerprint} marked as complete`);\n  }\n  \n  // حفظ في الكاش\n  staticData.messageCache[fingerprint] = {\n    ...group,\n    unique_events_array: Array.from(group.unique_events),\n    timestamp: Date.now()\n  };\n});\n\n// ==================\n// إنتاج النتائج النهائية\n// ==================\nconst finalResults = [];\n\nfor (const [fingerprint, group] of Object.entries(eventGroups)) {\n  // تحديد الإجراء المطلوب\n  let action_required = 'log_only';\n  let should_respond = false;\n  \n  if (group.has_message && group.message_text) {\n    action_required = 'process_message';\n    should_respond = true;\n  } else if (group.is_new_lead && group.message_text) {\n    action_required = 'process_new_lead_message';\n    should_respond = true;\n  } else if (group.is_new_lead) {\n    action_required = 'welcome_new_lead';\n    should_respond = true;\n  } else if (!group.message_text && !group.is_new_lead) {\n    // تجاهل الأحداث بدون محتوى مفيد\n    action_required = 'ignore';\n    should_respond = false;\n  }\n  \n  // وضع علامة كمعالج\n  if (group.message_id) {\n    staticData.processedMessages[group.message_id] = Date.now();\n  }\n  \n  const completeness_status = group.is_complete ? 'complete' : 'partial';\n  const completeness_percentage = Math.min(100, \n    Math.round((group.pulses_received / group.expected_pulses) * 100));\n  \n  let confidence_level = 'low';\n  if (completeness_percentage >= 90) {\n    confidence_level = 'high';\n  } else if (completeness_percentage >= 70) {\n    confidence_level = 'medium';\n  }\n  \n  // تحديد نوع الخدمة\n  let service_type = 'general';\n  if (group.pipeline_id) {\n    const pipelineMap = {\n      '10794139': 'sales',\n      '1234': 'support',\n      '5678': 'onboarding'\n    };\n    service_type = pipelineMap[group.pipeline_id] || 'general';\n  }\n  \n  debugLog(`\\n=== Final Result for ${fingerprint} ===`);\n  debugLog(\"Message text:\", group.message_text || \"EMPTY\");\n  debugLog(\"Action required:\", action_required);\n  debugLog(\"Completeness:\", `${completeness_percentage}%`);\n  \n  // إضافة النتيجة فقط إذا كانت ذات قيمة\n  if (action_required !== 'ignore' || group.message_text || group.lead_id) {\n    finalResults.push({\n      json: {\n        // معرفات أساسية\n        group_key: fingerprint,\n        message_fingerprint: fingerprint,\n        lead_id: group.lead_id || '',\n        chat_id: group.chat_id || '',\n        message_id: group.message_id || '',\n        \n        // بيانات الرسالة\n        message_text: group.message_text || '',\n        client_name: group.client_name || '',\n        \n        // معلومات Pipeline\n        pipeline_id: group.pipeline_id || '',\n        status_id: group.status_id || '',\n        source: group.source || '',\n        \n        // معلومات المعالجة\n        action_required,\n        should_respond,\n        has_message: group.has_message,\n        is_new_lead: group.is_new_lead,\n        \n        // إحصائيات النبضات\n        pulses_received: group.pulses_received,\n        expected_pulses: group.expected_pulses,\n        completeness_status,\n        completeness_percentage,\n        is_complete: group.is_complete,\n        confidence_level,\n        \n        // معلومات الخدمة\n        service_type,\n        requires_human: confidence_level === 'low' || !group.message_text,\n        \n        // التوقيتات\n        event_time_utc: group.timestamp ? \n          new Date(Number(group.timestamp) * 1000).toISOString() : \n          new Date().toISOString(),\n        received_at_utc: new Date().toISOString(),\n        aggregation_time_ms: group.last_pulse_time - group.first_pulse_time,\n        processing_time_ms: Date.now() - group.first_pulse_time,\n        \n        // معلومات إضافية\n        unique_event_types: Array.from(group.unique_events).join(', '),\n        processed: true,\n        ready_for_processing: true,\n        deduplication_count: 1,\n        \n        // معلومات debug\n        cache_size: staticData.cacheSize || Object.keys(staticData.messageCache).length,\n        has_valid_content: !!(group.message_text || group.is_new_lead)\n      }\n    });\n  }\n}\n\ndebugLog(`\\n=== Processing Complete ===`);\ndebugLog(`Total results: ${finalResults.length}`);\ndebugLog(`Cache size: ${Object.keys(staticData.messageCache).length}`);\n\nreturn finalResults;"
      },
      "id": "bb468152-3c03-48d6-a180-fa714068d8b2",
      "name": "Process & Deduplicate Events",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2688,
        -576
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gEBF0y9g9UwslW6SWiO5aeyJ6hYzFOY4I5sQI5UVC44",
          "mode": "list",
          "cachedResultName": "kommo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gEBF0y9g9UwslW6SWiO5aeyJ6hYzFOY4I5sQI5UVC44/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 241084562,
          "mode": "list",
          "cachedResultName": "Kommo_Raw",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gEBF0y9g9UwslW6SWiO5aeyJ6hYzFOY4I5sQI5UVC44/edit#gid=241084562"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lead_id": "={{$json.lead_id || \"\"}}",
            "chat_id": "={{$json.chat_id || \"\"}}",
            "message_text": "={{$json.message_text || \"\"}}",
            "event_time_utc": "={{$json.event_time_utc || $now.toISO()}}",
            "received_at_utc": "={{$json.received_at_utc || $now.toISO()}}",
            "group_key": "={{$json.group_key || $json.message_fingerprint || \"\"}}",
            "client_name": "={{$json.client_name}}",
            "event_types": "={{$json.event_types || $json.unique_event_types || \"\"}}",
            "events_count": "={{$json.events_count || $json.pulses_received || $json.final_pulse_count || 0}}",
            "action_required": "={{$json.action_required || \"\"}}",
            "should_respond": "={{$json.should_respond}}",
            "unique_keys": "={{$json.unique_keys || \"\"}}",
            "pipeline_id": "={{ $json.pipeline?.id || $json.pipeline_id || '' }}",
            "pipeline_name": "={{ $json.pipeline?.name || $json.pipeline_name || 'Unknown Pipeline' }}",
            "pipeline_service": "={{ $json.pipeline?.service || $json.service_type || 'general' }}",
            "stage_id": "={{ $json.stage?.id || $json.stage_id || $json.status_id || '' }}",
            "stage_name": "={{ $json.stage?.name || $json.stage_name || $json.status_name || 'Initial' }}",
            "previous_stage_id": "={{ $json.stage?.previous_id || $json.previous_stage_id || $json.old_status_id || '' }}",
            "stage_changed": "={{ $json.stage?.changed || false }}\n",
            "stages_history": "={{ $json.stage_transitions?.join(' → ') || ($json.previous_stage_id && $json.stage_id ? $json.previous_stage_id + ' → ' + $json.stage_id : $json.stage_id || '') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "group_key",
              "displayName": "group_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_text",
              "displayName": "message_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "event_types",
              "displayName": "event_types",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "events_count",
              "displayName": "events_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "action_required",
              "displayName": "action_required",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "should_respond",
              "displayName": "should_respond",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "event_time_utc",
              "displayName": "event_time_utc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "received_at_utc",
              "displayName": "received_at_utc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "unique_keys",
              "displayName": "unique_keys",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pipeline_id",
              "displayName": "pipeline_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pipeline_name",
              "displayName": "pipeline_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "pipeline_service",
              "displayName": "pipeline_service",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stage_id",
              "displayName": "stage_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stage_name",
              "displayName": "stage_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "previous_stage_id",
              "displayName": "previous_stage_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stage_changed",
              "displayName": "stage_changed",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "stages_history",
              "displayName": "stages_history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "58b734db-5da2-4062-b4a4-f291e6bc7312",
      "name": "Save Events to Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2544,
        304
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tMsf6bYwBxxWxxVC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{$json.should_respond}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "id": "220aed3a-ddbf-42e4-8312-2454bc2c38cf"
            },
            {
              "leftValue": "={{$json.message_text}}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "id": "5af1d10d-3ebe-42fc-8e53-b276b7445db1"
            },
            {
              "id": "db075dcf-79a0-4bba-9602-22912694bc27",
              "leftValue": "={{($json.confidence_level || \"medium\").toString()}}",
              "rightValue": "low",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2fb3a7d5-ad02-42fe-9366-174b09a79e5e",
      "name": "Need AI Response?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1104,
        -400
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "prompt": {
          "messages": [
            {
              "role": "assistant",
              "content": "=أنت مساعد خدمة عملاء محترف لشركة الديوان.  قواعد مهمة: - رد باللغة العربية إذا كان السؤال بالعربية، وبالإنجليزية إذا كان بالإنجليزية - كن مختصراً وواضحاً (لا تتجاوز 3 جمل) - أظهر الود والاحترام - إذا سُئلت عن الأسعار، اطلب من العميل التواصل مع المبيعات  معلومات العميل: الاسم: {{$json.client_name || \"عميل\"}} القناة: {{$json.message_origin || \"غير محدد\"}}"
            },
            {
              "content": "={{$json.message_text}}"
            }
          ]
        },
        "options": {
          "maxTokens": 300,
          "temperature": 0.7
        },
        "requestOptions": {}
      },
      "id": "239b3c83-7a78-44b1-9492-0c43c4e0d9ea",
      "name": "Generate AI Response",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        1376,
        -416
      ],
      "credentials": {
        "openAiApi": {
          "id": "UgxxU7JRYK5Qpel4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://infodvnlogcom.kommo.com/api/v4/leads/{{$json.lead_id}}/notes",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "kommoApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjA4NTI1YzVjNjJhMjRiNDdjNjgxMzA2ZTJiNmY4OTA2NGU4MTVlZmQ1MDcxNDg0ODFiNWI5MzZiYTYxOTRmYzBlZTE0Yjg1MWQzMzAyMDViIn0.eyJhdWQiOiJhNDVhZDE0MC0xNTNlLTRlYWYtOGUyNi0wNTQ1MDU2Njg4MWYiLCJqdGkiOiIwODUyNWM1YzYyYTI0YjQ3YzY4MTMwNmUyYjZmODkwNjRlODE1ZWZkNTA3MTQ4NDgxYjViOTM2YmE2MTk0ZmMwZWUxNGI4NTFkMzMwMjA1YiIsImlhdCI6MTc1MzcxMzgzNCwibmJmIjoxNzUzNzEzODM0LCJleHAiOjE4ODAxNTA0MDAsInN1YiI6IjEyOTI0NzM1IiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM0MzU0NjY3LCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJjcm0iLCJmaWxlcyIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiLCJwdXNoX25vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiZTlhNTA2YzgtMmY1YS00OTNmLTg0M2EtZmNkMjFlYWJjMmJiIiwiYXBpX2RvbWFpbiI6ImFwaS1jLmtvbW1vLmNvbSJ9.RmY8s-CwMgm-wQAg-jT-KYxrVYFYuXx1lNaa4oWVOV7KXZtJor9CwbDSv5Oq4dXN9tXWIHMbDyG6tTqJ2T5BPMBfjQoH4sgNHRXpWaJs0UZFIoliznzRHFZsoVSCX8HedKlxQ5fBLAkHa5PEPzIYIKA_aKqHCDS-lpMQfIzoW1t5mTkOnmBrgDwTz3-Qx-Au0wRrLOMzWb6TbuEx8pgtW6Kt0MTVRGatdXmif6uILpVfZn6A3Cw40NoTHz4oGYq-KkdR_6gKXlgk6XjIOkhcr6_iqjpqm24J_DgeHb_gZZELCLx2hokOu7Ob0_Olt7Q6B1ZM0dvZ_t1liiMq1vQbyQ"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"note_type\": \"common\",\n  \"params\": {\n    \"text\": \"🤖 AI Response:\\n{{$json.choices[0].message.content}}\",\n    \"service\": \"AI Assistant\"\n  }\n}",
        "options": {}
      },
      "id": "12a1b073-7611-4b61-9b11-884e34c7288a",
      "name": "Send to Kommo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1792,
        -416
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gEBF0y9g9UwslW6SWiO5aeyJ6hYzFOY4I5sQI5UVC44",
          "mode": "list",
          "cachedResultName": "kommo",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gEBF0y9g9UwslW6SWiO5aeyJ6hYzFOY4I5sQI5UVC44/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Update Conversation Context",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gEBF0y9g9UwslW6SWiO5aeyJ6hYzFOY4I5sQI5UVC44/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "chat_id": "=={{$json.chat_id}}",
            "lead_id": "=={{$json.lead_id}}",
            "client_name": "={{$json.client_name}}",
            "last_message": "={{$json.message_text}}",
            "last_response": "={{$json.ai_response || $json.choices[0].message.content}}",
            "last_updated": "={{$now.toISO()}}",
            "message_count": "={($json.message_count || 0) + 1}}",
            "conversation_history": "={{$json.conversation_history}}",
            "language": "={{$json.message_text.match(/[\\u0600-\\u06FF]/) ? 'ar' : 'en'}}",
            "status": "={{\"active\"}}",
            "tags": "={{$json.event_types}}",
            "message_fingerprint": "={{$json.message_fingerprint || \"\"}}",
            "processing_time_ms": "={{$json.processing_time_ms || 0}}",
            "completeness": "={{$json.completeness_percentage || 100}}%",
            "total_pulses": "={{$json.final_pulse_count || 1}}",
            "confidence_level": "={{$json.confidence_level || \"medium\"}}",
            "service_type": "={{$json.service_type || \"general\"}}",
            "status_id": "={{$json.status_id || \"\"}}",
            "pipeline_id": "={{$json.pipeline_id || \"\"}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "client_name",
              "displayName": "client_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_message",
              "displayName": "last_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_response",
              "displayName": "last_response",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_updated",
              "displayName": "last_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_count",
              "displayName": "message_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "conversation_history",
              "displayName": "conversation_history",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "language",
              "displayName": "language",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tags",
              "displayName": "tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pipeline_id",
              "displayName": "pipeline_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status_id",
              "displayName": "status_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "service_type",
              "displayName": "service_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "confidence_level",
              "displayName": "confidence_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "total_pulses",
              "displayName": "total_pulses",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "completeness",
              "displayName": "completeness",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "processing_time_ms",
              "displayName": "processing_time_ms",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message_fingerprint",
              "displayName": "message_fingerprint",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "fec9a637-d74b-49a9-84db-0db96deacfa2",
      "name": "Update Conversation Context",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2080,
        -496
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tMsf6bYwBxxWxxVC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// التحقق من اكتمال الرسالة وإعادة التجميع النهائي\n// ================================================\n// Version: 2.0 - محدث لتصفية البيانات الفارغة\n\nconst staticData = $getWorkflowStaticData('global');\nconst messageGroups = {};\n\n// تجميع كل الرسائل حسب fingerprint\nitems.forEach(item => {\n  const fingerprint = item.json.message_fingerprint;\n  \n  if (!messageGroups[fingerprint]) {\n    messageGroups[fingerprint] = {\n      items: [],\n      total_pulses: 0,\n      latest_data: null,\n      highest_priority: null\n    };\n  }\n  \n  messageGroups[fingerprint].items.push(item);\n  messageGroups[fingerprint].total_pulses += item.json.pulses_received || 1;\n  \n  // احتفظ بأحدث البيانات\n  if (!messageGroups[fingerprint].latest_data || \n      item.json.pulses_received > messageGroups[fingerprint].latest_data.pulses_received) {\n    messageGroups[fingerprint].latest_data = item.json;\n  }\n});\n\n// إرجاع رسالة واحدة فقط لكل مجموعة\nconst finalMessages = [];\n\nfor (const [fingerprint, group] of Object.entries(messageGroups)) {\n  const data = group.latest_data;\n  \n  // تحديث حالة الاكتمال\n  const completeness_percentage = Math.min(100, \n    Math.round((group.total_pulses / (data.expected_pulses || 1)) * 100));\n  \n  // تحديد مستوى الثقة\n  let confidence_level = 'low';\n  if (completeness_percentage >= 90) {\n    confidence_level = 'high';\n  } else if (completeness_percentage >= 70) {\n    confidence_level = 'medium';\n  }\n  \n  // تحديد نوع الخدمة بناءً على Pipeline/Stage\n  let service_type = 'general';\n  if (data.pipeline_id) {\n    const pipelineMap = {\n      '10794139': 'sales',\n      '1234': 'support',\n      '5678': 'onboarding'\n    };\n    service_type = pipelineMap[data.pipeline_id] || 'general';\n  }\n  \n  // التحقق من صلاحية البيانات\n  const hasValidContent = !!(\n    data.message_text || \n    data.is_new_lead || \n    (data.lead_id && data.action_required !== 'ignore')\n  );\n  \n  // تصفية الأحداث الفارغة أو غير المفيدة\n  if (!hasValidContent && data.action_required === 'log_only' && !data.message_text) {\n    console.log(`Skipping empty event: ${fingerprint}`);\n    // تنظيف من الذاكرة المؤقتة\n    if (staticData.messageCache && staticData.messageCache[fingerprint]) {\n      delete staticData.messageCache[fingerprint];\n    }\n    continue; // تجاهل هذا الحدث\n  }\n  \n  // إضافة النتيجة النهائية\n  finalMessages.push({\n    json: {\n      ...data,\n      \n      // معلومات الاكتمال\n      final_pulse_count: group.total_pulses,\n      completeness_percentage,\n      confidence_level,\n      \n      // معلومات الخدمة\n      service_type,\n      requires_human: confidence_level === 'low' || !data.message_text,\n      \n      // توقيت المعالجة\n      aggregation_completed_at: new Date().toISOString(),\n      processing_time_ms: Date.now() - new Date(data.received_at_utc).getTime(),\n      \n      // حالة نهائية\n      ready_for_processing: true,\n      deduplication_count: group.items.length,\n      has_valid_content: hasValidContent,\n      \n      // تنظيف البيانات الفارغة\n      message_text: data.message_text || '',\n      client_name: data.client_name || 'Unknown',\n      action_required: data.action_required || 'none'\n    }\n  });\n  \n  // تنظيف من الذاكرة المؤقتة\n  if (staticData.messageCache && staticData.messageCache[fingerprint]) {\n    delete staticData.messageCache[fingerprint];\n  }\n}\n\nconsole.log(`Final messages count: ${finalMessages.length}`);\nreturn finalMessages;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3008,
        -528
      ],
      "id": "eeeae495-83cd-459d-822c-8687a8c2dd5b",
      "name": "Check Message Completeness"
    },
    {
      "parameters": {
        "url": "=https://infodvnlogcom.kommo.com/api/v4/leads?query={{ $json.primary_query_value }}\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "=Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjA4NTI1YzVjNjJhMjRiNDdjNjgxMzA2ZTJiNmY4OTA2NGU4MTVlZmQ1MDcxNDg0ODFiNWI5MzZiYTYxOTRmYzBlZTE0Yjg1MWQzMzAyMDViIn0.eyJhdWQiOiJhNDVhZDE0MC0xNTNlLTRlYWYtOGUyNi0wNTQ1MDU2Njg4MWYiLCJqdGkiOiIwODUyNWM1YzYyYTI0YjQ3YzY4MTMwNmUyYjZmODkwNjRlODE1ZWZkNTA3MTQ4NDgxYjViOTM2YmE2MTk0ZmMwZWUxNGI4NTFkMzMwMjA1YiIsImlhdCI6MTc1MzcxMzgzNCwibmJmIjoxNzUzNzEzODM0LCJleHAiOjE4ODAxNTA0MDAsInN1YiI6IjEyOTI0NzM1IiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM0MzU0NjY3LCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJjcm0iLCJmaWxlcyIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiLCJwdXNoX25vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiZTlhNTA2YzgtMmY1YS00OTNmLTg0M2EtZmNkMjFlYWJjMmJiIiwiYXBpX2RvbWFpbiI6ImFwaS1jLmtvbW1vLmNvbSJ9.RmY8s-CwMgm-wQAg-jT-KYxrVYFYuXx1lNaa4oWVOV7KXZtJor9CwbDSv5Oq4dXN9tXWIHMbDyG6tTqJ2T5BPMBfjQoH4sgNHRXpWaJs0UZFIoliznzRHFZsoVSCX8HedKlxQ5fBLAkHa5PEPzIYIKA_aKqHCDS-lpMQfIzoW1t5mTkOnmBrgDwTz3-Qx-Au0wRrLOMzWb6TbuEx8pgtW6Kt0MTVRGatdXmif6uILpVfZn6A3Cw40NoTHz4oGYq-KkdR_6gKXlgk6XjIOkhcr6_iqjpqm24J_DgeHb_gZZELCLx2hokOu7Ob0_Olt7Q6B1ZM0dvZ_t1liiMq1vQbyQ"
            },
            {
              "name": "=Content-Type",
              "value": "=application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -768,
        1008
      ],
      "id": "6bee89a2-e1fb-4ebe-a899-b6e049d552d6",
      "name": "search Leads",
      "executeOnce": false
    },
    {
      "parameters": {
        "amount": 3
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        384,
        304
      ],
      "id": "b0b916d6-132e-49e8-8f5c-a5dafb80183f",
      "name": "Wait",
      "webhookId": "c2ebd305-8e79-49f2-b4f6-6182dbde3cfd"
    },
    {
      "parameters": {
        "jsCode": "// In: items[].json.body (Kommo webhook) or whole item.json\n// Out: { raw, received_at }\nreturn items.map(it => {\n  const raw = it.json?.body ? it.json.body : (it.json || {});\n  return { json: { raw, received_at: Date.now() } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        304
      ],
      "id": "e57dbe2d-0d9a-4068-96d5-98d35b5c51bf",
      "name": "Normalize Kommo Payload"
    },
    {
      "parameters": {
        "jsCode": "// Helpers (صغيرة ومكررة هنا لاستقلال النود)\nconst CONFIG = { MAX_EVENTS_PER_MESSAGE: 10 };\nfunction g(b,p,f=''){ if(!b||!p) return f; if(p.includes('[')) return b[p] ?? f;\n  try{ return p.split('.').reduce((o,k)=>(o&&k in o)?o[k]:undefined,b) ?? f; }catch{ return f; } }\nfunction extractFlatValue(o,...keys){ for(const k of keys){ const v=g(o,k);\n  if(v!==undefined&&v!==null&&v!==''){ if(typeof v==='string'){ const s=v.trim();\n    if(s && !s.includes('infodvnlog') && !s.includes('.com')) return s; } else return v; } } return ''; }\nfunction classifyEvent(body){ const ks=Object.keys(body||{}); const has=p=>ks.some(k=>k.startsWith(p));\n  const T=[ ['message[add]',10,'message',9], ['unsorted[add]',8,'lead_creation',6], ['talk[add]',6,'conversation',4],\n            ['talk[update]',5,'conversation',4], ['leads[update]',4,'lead_management',3], ['leads[delete]',1,'deletion',1],\n            ['contacts[update]',3,'contact_management',2], ['contacts[add]',2,'contact_management',2] ];\n  for(const [c,p,cat,puls] of T) if(has(c)) return {event_type:c,priority:p,category:cat,expected_pulses:Math.min(puls,CONFIG.MAX_EVENTS_PER_MESSAGE)};\n  return {event_type:'unknown',priority:0,category:'other',expected_pulses:1}; }\nfunction detectPlatform(origin='', body={}){ const s=String(origin).toLowerCase();\n  if(s.includes('waba')||s.includes('whatsapp')) return 'whatsapp';\n  if(s.includes('instagram')||s.includes('ig')) return 'instagram';\n  if(s.includes('facebook')||s.includes('fb')) return 'facebook';\n  const raw=JSON.stringify(body).toLowerCase();\n  if(raw.includes('whatsapp')) return 'whatsapp';\n  if(raw.includes('instagram')) return 'instagram';\n  if(raw.includes('facebook')) return 'facebook';\n  return 'unknown'; }\n\nreturn items.map(item=>{\n  const raw = item.json.raw;\n  const event = classifyEvent(raw);\n  const lead_id = extractFlatValue(raw,'leads[update][0][id]','leads[add][0][id]','unsorted[add][0][lead_id]','talk[update][0][lead_id]');\n  const entity_id = lead_id || extractFlatValue(raw,'message[add][0][entity_id]','message[add][0][element_id]','talk[update][0][entity_id]',\n                                                'talk[add][0][entity_id]','unsorted[add][0][source_data][contact_id]','unsorted[add][0][source_data][from_id]');\n  const conversation_id = extractFlatValue(raw,'message[add][0][chat_id]','talk[update][0][chat_id]','talk[add][0][chat_id]',\n                                           'unsorted[add][0][source_data][conversation_id]','unsorted[add][0][source_data][origin][chat_id]',\n                                           'unsorted[add][0][source_data][thread_id]','leads[update][0][chat_id]');\n  const message_id = extractFlatValue(raw,'message[add][0][id]','unsorted[add][0][source_data][data][0][id]','leads[update][0][message_id]','talk[update][0][message_id]');\n  const talk_id = extractFlatValue(raw,'talk[update][0][talk_id]','talk[add][0][talk_id]','message[add][0][talk_id]','talk[update][0][id]');\n  const origin = extractFlatValue(raw,'message[add][0][origin]','unsorted[add][0][source]','talk[update][0][origin]','talk[add][0][origin]');\n  const platform = detectPlatform(origin, raw);\n  const created_at = extractFlatValue(raw,'message[add][0][created_at]','unsorted[add][0][created_at]','talk[update][0][updated_at]',\n                                      'talk[add][0][created_at]','unsorted[add][0][source_data][date]','leads[update][0][updated_at]') || Math.floor(Date.now()/1000);\n  return { json: {\n    raw, event,\n    ids:{lead_id,entity_id,conversation_id,message_id,talk_id},\n    source:{origin,platform},\n    timestamps:{created_at, received_at: item.json.received_at}\n  }};\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        304
      ],
      "id": "f32ed68a-c280-4e7e-a4f3-4b0b249074b8",
      "name": "Extract IDs & Event Type"
    },
    {
      "parameters": {
        "jsCode": "// Helpers\nfunction g(b,p,f=''){ if(!b||!p) return f; if(p.includes('[')) return b[p] ?? f;\n  try{ return p.split('.').reduce((o,k)=>(o&&k in o)?o[k]:undefined,b) ?? f; }catch{ return f; } }\nfunction extractFlatValue(o,...keys){ for(const k of keys){ const v=g(o,k);\n  if(v!==undefined&&v!==null&&v!==''){ if(typeof v==='string'){ const s=v.trim();\n    if(s && !s.includes('infodvnlog') && !s.includes('.com')) return s; } else return v; } } return ''; }\nfunction extractTags(body){ const tags=new Set();\n  const paths=['leads[update][0][tags]','leads[add][0][tags]','unsorted[add][0][tags]','contacts[update][0][tags]',\n               'leads[update][0][_embedded][tags]','talk[update][0][tags]','talk[add][0][tags]'];\n  for(const p of paths){ const v=g(body,p); if(!v) continue;\n    if(typeof v==='string') v.split(',').map(t=>t.trim().toLowerCase()).forEach(t=>t&&tags.add(t));\n    else if(Array.isArray(v)) v.forEach(x=> typeof x==='string'? tags.add(x.toLowerCase()): (x?.name && tags.add(String(x.name).toLowerCase()))); }\n  Object.keys(body).forEach(k=>{ if(k.includes('[tags][')||k.includes('[tag][')){ const v=body[k]; if(typeof v==='string') tags.add(v.toLowerCase()); }});\n  return Array.from(tags); }\nfunction extractPipelineStageInfo(body){\n  const info={pipeline_id:'',pipeline_name:'',stage_id:'',stage_name:'',previous_stage_id:'',stage_changed:false};\n  info.pipeline_id=extractFlatValue(body,'leads[update][0][pipeline_id]','leads[add][0][pipeline_id]','unsorted[add][0][pipeline_id]','leads[status][0][pipeline_id]','talk[update][0][pipeline_id]','leads[update][0][_embedded][pipeline_id]');\n  info.stage_id=extractFlatValue(body,'leads[update][0][status_id]','leads[add][0][status_id]','unsorted[add][0][status_id]','leads[status][0][status_id]','leads[update][0][new_status_id]','talk[update][0][status_id]');\n  info.previous_stage_id=extractFlatValue(body,'leads[update][0][old_status_id]','leads[status][0][old_status_id]','leads[update][0][previous_status_id]');\n  info.pipeline_name=extractFlatValue(body,'leads[update][0][pipeline][name]','leads[update][0][pipeline_name]','leads[update][0][_embedded][pipeline][name]');\n  info.stage_name=extractFlatValue(body,'leads[update][0][status][name]','leads[update][0][status_name]','leads[update][0][_embedded][status][name]');\n  if(info.previous_stage_id && info.stage_id && info.previous_stage_id!==info.stage_id) info.stage_changed=true;\n  return info; }\nfunction extractMessageText(body,eventType){\n  let text=''; const paths=[\n    'talk[update][0][last_message_text]','talk[update][0][messages][0][text]','talk[update][0][last_message][text]','talk[update][0][text]','talk[add][0][text]',\n    'message[add][0][text]','message[add][0][message]','message[add][0][body]','message[add][0][content]',\n    'unsorted[add][0][source_data][data][0][text]','unsorted[add][0][text]',\n    'leads[update][0][last_message]','leads[update][0][notes][0][text]','leads[update][0][custom_fields_values][0][values][0][value]',\n    'contacts[update][0][last_message]','contacts[add][0][note]'\n  ];\n  for(const p of paths){ const v=g(body,p); if(typeof v==='string' && v.trim() && !v.includes('http') && !v.includes('infodvnlog') && !v.includes('.com')){ text=v.trim(); break; } }\n  if(!text){\n    // sweep notes/messages\n    for(let i=0;i<20 && !text;i++){\n      for(const p of [\n        `leads[update][0][notes][${i}][text]`,\n        `talk[update][0][messages][${i}][text]`,\n        `talk[update][0][messages][${i}][content]`\n      ]){ const v=g(body,p); if(typeof v==='string' && v.trim()){ text=v.trim(); break; } }\n    }\n  }\n  if(!text){\n    // deep JSON\n    const search=(o,d=0)=>{ if(d>7||!o||typeof o!=='object') return '';\n      for(const [k,v] of Object.entries(o)){\n        const kk=String(k).toLowerCase();\n        if(['text','message','body','content','note','last_message','last_message_text','value'].includes(kk) && typeof v==='string' && v.trim() && !v.includes('http') && !v.includes('infodvnlog') && !v.includes('.com')) return v.trim();\n        if(typeof v==='object'){ const n=search(v,d+1); if(n) return n; }\n      } return ''; };\n    text = search(body);\n  }\n  return text;\n}\n\nreturn items.map(item=>{\n  const { raw, event, ids, source, timestamps } = item.json;\n  const text = extractMessageText(raw, event.event_type);\n  const tags = extractTags(raw);\n  const pipe = extractPipelineStageInfo(raw);\n  const client_name = extractFlatValue(raw,'message[add][0][author][name]','unsorted[add][0][source_data][client][name]','unsorted[add][0][source_data][from]','unsorted[add][0][source_data][name]','contacts[add][0][name]','contacts[update][0][name]','leads[update][0][contact_name]','talk[update][0][contact_name]');\n  return { json: { raw, event, ids, source, timestamps, content:{ text }, tags, pipeline: pipe, client:{ name: client_name } } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        304
      ],
      "id": "661e177a-b1bd-4012-b5cc-6e871503d3a7",
      "name": "Extract Text, Tags, Pipeline"
    },
    {
      "parameters": {
        "jsCode": "const CONFIG = { TIME_WINDOW:5, MESSAGE_CACHE_TTL:120000, MAX_EVENTS_PER_MESSAGE:10, MAX_CACHE_SIZE:5000 };\nfunction generateFingerprint({ entity_id, conversation_id, lead_id, chat_id, platform, created_at }){\n  const t = created_at ? Number(created_at) : Date.now()/1000;\n  const w = Math.floor(t / CONFIG.TIME_WINDOW);\n  if(lead_id) return `${platform}_lead_${lead_id}_${w}`;\n  if(entity_id && conversation_id) return `${platform}_${entity_id}_${conversation_id}_${w}`;\n  if(chat_id) return `${platform}_chat_${chat_id}_${w}`;\n  if(entity_id) return `${platform}_${entity_id}_${w}`;\n  if(conversation_id) return `${platform}_${conversation_id}_${w}`;\n  return `${platform}_unknown_${w}`;\n}\nconst sd = $getWorkflowStaticData('global');\nif(!sd.messageCache) sd.messageCache = {};\nif(!sd.processedGroups) sd.processedGroups = {};\nif(!sd.lastCleanup) sd.lastCleanup = Date.now();\n\nfunction cleanup(){\n  const now=Date.now(); if(now - sd.lastCleanup <= 60000) return;\n  for(const k in sd.messageCache) if(now - sd.messageCache[k].timestamp > CONFIG.MESSAGE_CACHE_TTL) delete sd.messageCache[k];\n  for(const k in sd.processedGroups) if(now - sd.processedGroups[k] > CONFIG.MESSAGE_CACHE_TTL) delete sd.processedGroups[k];\n  const size = Object.keys(sd.messageCache).length;\n  if(size > CONFIG.MAX_CACHE_SIZE){\n    const arr = Object.entries(sd.messageCache).sort((a,b)=>a[1].timestamp - b[1].timestamp);\n    arr.slice(0, size - CONFIG.MAX_CACHE_SIZE).forEach(([k])=> delete sd.messageCache[k]);\n  }\n  sd.lastCleanup = now;\n}\ncleanup();\n\nreturn items.map(it=>{\n  const { event, ids, source, timestamps, content, tags, pipeline, client } = it.json;\n  const fp = generateFingerprint({ entity_id: ids.entity_id, conversation_id: ids.conversation_id, lead_id: ids.lead_id, chat_id: ids.conversation_id, platform: source.platform, created_at: timestamps.created_at });\n  const now = Date.now();\n  const prev = sd.messageCache[fp];\n  const g = prev || {\n    fingerprint: fp, entity_id:'', lead_id:'', conversation_id:'', message_id:'', talk_id:'',\n    message_texts:[], client_name:'', pipeline_id:'', pipeline_name:'', stage_id:'', stage_name:'', previous_stage_id:'', stage_changed:false,\n    tags:new Set(), source: source.origin || 'waba', platform: source.platform,\n    pulses_received:0, expected_pulses: event.expected_pulses, has_message:false, is_new_lead:false, is_complete:false,\n    created_at: timestamps.created_at, first_pulse_time: now, last_pulse_time: now,\n    unique_events:new Set(), event_priorities:[], all_event_types:[]\n  };\n  g.pulses_received++; g.last_pulse_time = now;\n  g.unique_events.add(event.event_type); g.event_priorities.push(event.priority); g.all_event_types.push(event.event_type);\n  if(ids.lead_id && !g.lead_id) g.lead_id = ids.lead_id;\n  if(ids.entity_id && !g.entity_id) g.entity_id = ids.entity_id;\n  if(ids.conversation_id && !g.conversation_id) g.conversation_id = ids.conversation_id;\n  if(ids.message_id && !g.message_id) g.message_id = ids.message_id;\n  if(ids.talk_id && !g.talk_id) g.talk_id = ids.talk_id;\n  if(content?.text){ g.message_texts.push({ text: content.text, event_type: event.event_type, priority: event.priority, timestamp: timestamps.created_at }); g.has_message = true; }\n  if(client?.name && !g.client_name) g.client_name = client.name;\n  if(pipeline?.pipeline_id){ g.pipeline_id = pipeline.pipeline_id; g.pipeline_name = pipeline.pipeline_name; }\n  if(pipeline?.stage_id){ g.stage_id = pipeline.stage_id; g.stage_name = pipeline.stage_name; }\n  if(pipeline?.previous_stage_id){ g.previous_stage_id = pipeline.previous_stage_id; g.stage_changed = pipeline.stage_changed; }\n  (tags||[]).forEach(t=> g.tags.add(t));\n  if(event.event_type==='message[add]' && content?.text) g.has_message = true;\n  if(event.event_type==='unsorted[add]') g.is_new_lead = true;\n  const elapsed = now - g.first_pulse_time;\n  if(g.pulses_received>=g.expected_pulses || g.pulses_received>=CONFIG.MAX_EVENTS_PER_MESSAGE || elapsed > CONFIG.TIME_WINDOW*1000) g.is_complete = true;\n  sd.messageCache[fp] = { ...g, unique_events_array: Array.from(g.unique_events), timestamp: now };\n  return { json: { group_key: fp, is_complete: g.is_complete, expected_pulses: g.expected_pulses, pulses_received: g.pulses_received } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1216,
        304
      ],
      "id": "79832ced-474c-422c-9774-1debf5c211d4",
      "name": "Upsert Group Cache"
    },
    {
      "parameters": {
        "jsCode": "// In: { group_key }  → Out: { group_key, is_complete }\nconst sd = $getWorkflowStaticData('global');\nreturn items.map(it=>{\n  const k = it.json.group_key;\n  const g = sd.messageCache?.[k];\n  return { json: { group_key: k, is_complete: !!g?.is_complete } };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        304
      ],
      "id": "d8fe5954-22b9-407b-9667-3c3d16d4d455",
      "name": "Sleep"
    },
    {
      "parameters": {
        "jsCode": "const PIPELINE_CONFIG = {\n  '10794139': { name:'Sales Pipeline', service:'sales', critical_stages:['10794144'], ai_stages:['10794142','10794143'], bot_stages:['10794140','10794141'] },\n  '10794150': { name:'Support Pipeline', service:'support', critical_stages:['10794154'], ai_stages:['10794152','10794153'], bot_stages:['10794151'] },\n  '10794160': { name:'Onboarding Pipeline', service:'onboarding', critical_stages:[], ai_stages:['10794162'], bot_stages:['10794161','10794163'] },\n};\nconst TAG_RULES = {\n  ai_required:['vip','urgent','complex','ai-assist','premium','enterprise','priority'],\n  bot_only:['simple','faq','auto-reply','bot-handled','no-ai','standard','routine'],\n  human_required:['complaint','escalation','legal','refund','critical','emergency','manual'],\n  language:{ ar:'arabic', en:'english', es:'spanish', fr:'french' }\n};\nfunction determineInterventionType(pipeline_id, stage_id, tags){\n  const r={ type:'bot', reason:[], priority:'normal', service:'general', language:'ar', requires_human:false, use_ai_agent:false, confidence:'high' };\n  const pc = PIPELINE_CONFIG[pipeline_id];\n  if(pc){ r.service=pc.service;\n    if(pc.critical_stages?.includes(stage_id)){ Object.assign(r,{type:'human',requires_human:true,priority:'critical'}); r.reason.push('critical_stage'); }\n    else if(pc.ai_stages?.includes(stage_id)){ Object.assign(r,{type:'ai_agent',use_ai_agent:true,priority:'high'}); r.reason.push('ai_stage'); }\n    else if(pc.bot_stages?.includes(stage_id)){ r.type='bot'; r.reason.push('bot_stage'); }\n  } else { r.confidence='medium'; r.reason.push('unknown_pipeline'); }\n  const human = (tags||[]).filter(t=>TAG_RULES.human_required.includes(t));\n  if(human.length){ Object.assign(r,{type:'human',requires_human:true,priority:'critical'}); r.reason.push(`human_tags: ${human.join(', ')}`); }\n  const ai = (tags||[]).filter(t=>TAG_RULES.ai_required.includes(t));\n  if(ai.length && !r.requires_human){ Object.assign(r,{type:'ai_agent',use_ai_agent:true,priority:r.priority==='critical'?'critical':'high'}); r.reason.push(`ai_tags: ${ai.join(', ')}`); }\n  const bot = (tags||[]).filter(t=>TAG_RULES.bot_only.includes(t));\n  if(bot.length && !r.requires_human && !r.use_ai_agent){ Object.assign(r,{type:'bot',use_ai_agent:false,priority:'normal'}); r.reason.push(`bot_tags: ${bot.join(', ')}`); }\n  for(const t of (tags||[])) if(TAG_RULES.language[t]){ r.language=t; break; }\n  return r;\n}\nfunction pickFinalText(arr=[]){ if(!arr.length) return '';\n  const s=[...arr].sort((a,b)=> b.priority-a.priority || b.timestamp-a.timestamp);\n  const top=s[0].priority; const same=s.filter(x=>x.priority===top);\n  return same.reduce((L,c)=> c.text && c.text.length>(L?.length||0)?c.text:L,'') || s[0].text || ''; }\n\nconst sd = $getWorkflowStaticData('global');\n\nreturn items.map(it=>{\n  const k = it.json.group_key;\n  const g = sd.messageCache?.[k];\n  if(!g) return { json: { error:'group_not_found', group_key:k } };\n\n  // cross-ref بسيط: دمج معلومات ناقصة من نفس entity_id\n  if(g.entity_id){\n    for(const [ck,cg] of Object.entries(sd.messageCache)){\n      if(ck===k) continue;\n      if(cg.entity_id===g.entity_id){\n        if(!g.pipeline_id && cg.pipeline_id){ g.pipeline_id=cg.pipeline_id; g.pipeline_name=cg.pipeline_name; }\n        if(!g.stage_id && cg.stage_id){ g.stage_id=cg.stage_id; g.stage_name=cg.stage_name; }\n        if(!g.message_texts?.length && cg.message_texts?.length) g.message_texts=cg.message_texts;\n      }\n    }\n  }\n\n  const finalText = pickFinalText(g.message_texts);\n  const tags = Array.from(g.tags||[]);\n  const intervention = determineInterventionType(g.pipeline_id, g.stage_id, tags);\n\n  let action_required='log_only', should_respond=false;\n  if(g.has_message && finalText){ action_required='process_message'; should_respond=true; }\n  else if(g.is_new_lead && finalText){ action_required='process_new_lead_message'; should_respond=true; }\n  else if(g.is_new_lead){ action_required='welcome_new_lead'; should_respond=true; }\n  else if(g.stage_changed){ action_required='stage_transition'; should_respond=intervention.use_ai_agent; }\n  else if(!finalText && !g.is_new_lead){ action_required='ignore'; should_respond=false; }\n\n  const completeness_percentage = Math.min(100, Math.round((g.pulses_received / g.expected_pulses) * 100));\n  let confidence_level='low';\n  if(completeness_percentage>=90 && finalText) confidence_level='high';\n  else if(completeness_percentage>=70 || finalText) confidence_level='medium';\n\n  const out = {\n    group_key: k,\n    lead_id: g.lead_id || g.entity_id || '',\n    chat_id: g.conversation_id || '',\n    message_text: finalText || '',\n    client_name: g.client_name || '',\n    event_types: Array.from(g.unique_events||[]).join(', '),\n    events_count: g.pulses_received,\n    action_required, should_respond,\n    event_time_utc: new Date(Number(g.created_at)*1000).toISOString(),\n    received_at_utc: new Date().toISOString(),\n    unique_keys: [g.message_id||'', g.talk_id||'', g.lead_id||'', g.entity_id||''].filter(Boolean).join('_'),\n    pipeline_id: g.pipeline_id || '', pipeline_name: g.pipeline_name || 'Unknown Pipeline',\n    pipeline_service: PIPELINE_CONFIG[g.pipeline_id]?.service || 'general',\n    stage_id: g.stage_id || '', stage_name: g.stage_name || 'Initial',\n    previous_stage_id: g.previous_stage_id || '', stage_changed: g.stage_changed,\n    message_fingerprint: k, message_id: g.message_id || '', talk_id: g.talk_id || '', entity_id: g.entity_id || '',\n    pipeline: { id:g.pipeline_id||'', name:g.pipeline_name||'Unknown Pipeline', service: PIPELINE_CONFIG[g.pipeline_id]?.service || 'general' },\n    stage: { id:g.stage_id||'', name:g.stage_name||'Initial', previous_id:g.previous_stage_id||'', changed:g.stage_changed },\n    tags, has_tags: tags.length>0,\n    intervention: { type: intervention.type, use_ai_agent: intervention.use_ai_agent, requires_human: intervention.requires_human, priority: intervention.priority, reason: intervention.reason.join('; '), language: intervention.language, confidence: intervention.confidence },\n    has_message: g.has_message, is_new_lead: g.is_new_lead,\n    confidence_level, pulses_received: g.pulses_received, expected_pulses: g.expected_pulses, completeness_percentage,\n    completeness_status: g.is_complete? 'complete':'partial', is_complete: g.is_complete,\n    source: g.source || 'waba', platform: g.platform,\n    service_type: intervention.service,\n    response_channel: g.platform==='whatsapp'?'whatsapp': (g.platform==='instagram'?'instagram': (g.platform==='facebook'?'messenger':'unknown')),\n    aggregation_time_ms: g.last_pulse_time - g.first_pulse_time,\n    processing_time_ms: Date.now() - g.first_pulse_time,\n    is_primary_record: true, processed: true, ready_for_processing: true, deduplication_count: g.pulses_received,\n    cache_size: Object.keys(sd.messageCache).length, has_valid_content: !!finalText || g.is_new_lead\n  };\n\n  // علامة “تم معالجته” + تنظيف من الكاش لو مكتمل\n  const processed = $getWorkflowStaticData('global').processedGroups; processed[k]=Date.now();\n  if(g.is_complete) delete sd.messageCache[k];\n\n  return { json: out };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        304
      ],
      "id": "766f19f7-adf3-4767-91f0-81e3b1816b3f",
      "name": "Finalize Group"
    },
    {
      "parameters": {
        "language": "python",
        "pythonCode": "return items.map(it=>{\n  const j = it.json;\n  const ready = {\n    group_key: j.group_key,\n    lead_id: j.lead_id,\n    chat_id: j.chat_id,\n    message_text: j.message_text,\n    client_name: j.client_name,\n    event_types: j.event_types,\n    events_count: j.events_count,\n    action_required: j.action_required,\n    should_respond: j.should_respond,\n    event_time_utc: j.event_time_utc,\n    received_at_utc: j.received_at_utc,\n    unique_keys: j.unique_keys,\n    pipeline_id: j.pipeline_id, pipeline_name: j.pipeline_name, pipeline_service: j.pipeline_service,\n    stage_id: j.stage_id, stage_name: j.stage_name, previous_stage_id: j.previous_stage_id, stage_changed: j.stage_changed,\n    tags: j.tags,\n    intervention_type: j.intervention?.type,\n    intervention_priority: j.intervention?.priority,\n    language: j.intervention?.language,\n    platform: j.platform,\n    response_channel: j.response_channel,\n    completeness_percentage: j.completeness_percentage,\n    confidence_level: j.confidence_level\n  };\n  return { json: ready };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        304
      ],
      "id": "ebf6a192-6cfa-44d9-aa84-b474d182b4cc",
      "name": "Output Builder"
    },
    {
      "parameters": {
        "jsCode": "const CONFIG = { MESSAGE_CACHE_TTL:120000 };\nconst sd = $getWorkflowStaticData('global');\nif(!sd.messageCache) return [{ json:{ status:'no_cache' } }];\nconst before = Object.keys(sd.messageCache).length;\nconst now = Date.now();\nfor(const k in sd.messageCache) if(now - sd.messageCache[k].timestamp > CONFIG.MESSAGE_CACHE_TTL) delete sd.messageCache[k];\nfor(const k in sd.processedGroups || {}) if(now - sd.processedGroups[k] > CONFIG.MESSAGE_CACHE_TTL) delete sd.processedGroups[k];\nconst after = Object.keys(sd.messageCache).length;\nreturn [{ json:{ status:'ok', removed: before-after, remaining: after } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2048,
        304
      ],
      "id": "ed9b2fdf-e2c4-4528-bc69-f5d82446f338",
      "name": "Cache Cleanup"
    },
    {
      "parameters": {
        "path": "8258d96b-08bc-4a0f-abba-6d678492d369",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "82ade5c9-bda1-4363-b35b-acc5aeb8d435",
      "name": "Webhook",
      "webhookId": "8258d96b-08bc-4a0f-abba-6d678492d369"
    }
  ],
  "pinData": {},
  "connections": {
    "Process & Deduplicate Events": {
      "main": [
        [
          {
            "node": "Check Message Completeness",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Need AI Response?": {
      "main": [
        [
          {
            "node": "Generate AI Response",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Generate AI Response": {
      "main": [
        []
      ]
    },
    "Send to Kommo": {
      "main": [
        [
          {
            "node": "Update Conversation Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Message Completeness": {
      "main": [
        []
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Normalize Kommo Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Kommo Payload": {
      "main": [
        [
          {
            "node": "Extract IDs & Event Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract IDs & Event Type": {
      "main": [
        [
          {
            "node": "Extract Text, Tags, Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text, Tags, Pipeline": {
      "main": [
        [
          {
            "node": "Upsert Group Cache",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Group Cache": {
      "main": [
        [
          {
            "node": "Sleep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sleep": {
      "main": [
        [
          {
            "node": "Finalize Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finalize Group": {
      "main": [
        [
          {
            "node": "Output Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Builder": {
      "main": [
        [
          {
            "node": "Cache Cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cache Cleanup": {
      "main": [
        [
          {
            "node": "Save Events to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "timezone": "Europe/Istanbul",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "HZSmC44E9aygiyzn"
  },
  "versionId": "88a690fa-0e8c-40ff-8370-ab747fbe2a6a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bbcc8f8955fdb6b9df383b7af3b82b49081e116d9ff63429580cf5caee57238e"
  },
  "id": "gJlFmfZihISQ2NQu",
  "tags": []
}