workflows/tax-filing-simplified.json
{
  "name": "new copy jul copy 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 13
            },
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -720,
        80
      ],
      "id": "8e50e381-5290-451d-951a-655c62287940",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=monthly taxes",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -416,
        -160
      ],
      "id": "da874814-fa28-4d4e-aa75-376e8472f2d5",
      "name": "Search monthly taxes",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='{{$json[\"id\"]}}' in parents and trashed = false\n",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -320,
        144
      ],
      "id": "791cbe53-873a-4639-9648-fcf54c39d228",
      "name": "Search inside monthly taxes",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='1Ue1FAta0dBCJ-nIceVwogQb9DrnVO__L' in parents\nand mimeType = 'application/vnd.google-apps.folder'\nand trashed = false\n",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        240
      ],
      "id": "d1c9a6c9-a6d5-4b0d-9746-b1204a4e4db7",
      "name": "Search Taxpayers",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='1DrkXAhpOUpyWpp2gvlGCpe2MC_lt_veq' in parents\nand mimeType = 'application/vnd.google-apps.folder'\nand trashed = false\n",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        32,
        48
      ],
      "id": "ca398d2d-71ea-46c6-9f51-6d84492eec3d",
      "name": "Search personal company",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='1J-Gd-7w_jkWviJVfAeXxhz3ADS1CEIwx' in parents\nand mimeType = 'application/vnd.google-apps.folder'\nand trashed = false\n",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        0,
        -176
      ],
      "id": "2a63e129-d629-4fed-b672-4045b210bc1d",
      "name": "Search Limited Company",
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e012c99-edfb-47b7-ac05-561672204af3",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "712b6262-73b7-492d-b63b-9f43f9753d39",
              "name": "name",
              "value": "={{ ($json[\"name\"]).trim().replace(/\\n/g,\"\") }}",
              "type": "string"
            },
            {
              "id": "73c4e58b-bd21-4f9a-8199-073e4e05c17a",
              "name": "newFolderName",
              "value": "={{ (\"TAX \" + $json[\"name\"]).trim().replace(/\\n/g,\"\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        -176
      ],
      "id": "ee0bdb7f-a409-4796-91ea-0186e4875737",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "={{$json[\"name\"] ? $json[\"name\"].toUpperCase() : \"\"}}",
              "field2": "name"
            }
          ]
        },
        "joinMode": "keepEverything",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        480,
        -64
      ],
      "id": "66b6d484-6fae-487c-859a-c179cfac33f9",
      "name": "Merge1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e012c99-edfb-47b7-ac05-561672204af3",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "712b6262-73b7-492d-b63b-9f43f9753d39",
              "name": "name",
              "value": "={{ ($json[\"name\"]).trim().replace(/\\n/g,\"\") }}",
              "type": "string"
            },
            {
              "id": "73c4e58b-bd21-4f9a-8199-073e4e05c17a",
              "name": "newFolderName",
              "value": "={{ (\"TAX \" + $json[\"name\"]).trim().replace(/\\n/g,\"\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        48
      ],
      "id": "c39689e0-bf84-44d9-97b2-195929160855",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0e012c99-edfb-47b7-ac05-561672204af3",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "712b6262-73b7-492d-b63b-9f43f9753d39",
              "name": "name",
              "value": "={{ ($json[\"name\"]).trim().replace(/\\n/g,\"\") }}",
              "type": "string"
            },
            {
              "id": "73c4e58b-bd21-4f9a-8199-073e4e05c17a",
              "name": "newFolderName",
              "value": "={{ (\"TAX \" + $json[\"name\"]).trim().replace(/\\n/g,\"\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        240
      ],
      "id": "2aec1e5a-12af-4259-8ba1-a5f94a335852",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "=query",
        "queryString": "='{{ $json[\"id\"] }}' in parents\nand mimeType = 'application/vnd.google-apps.folder'\nand name = '{{ $json[\"newFolderName\"] }}'\nand trashed = false\n",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        320,
        48
      ],
      "id": "2bfd6728-7006-40c1-ac57-7769589a160b",
      "name": "Search TAX Folder1",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "=query",
        "queryString": "='{{ $json[\"id\"] }}' in parents\nand mimeType = 'application/vnd.google-apps.folder'\nand name = '{{ $json[\"newFolderName\"] }}'\nand trashed = false\n",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        304,
        240
      ],
      "id": "9d4b77eb-6c1a-4179-b7a9-320939f2acd1",
      "name": "Search TAX Folder2",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "=query",
        "queryString": "='{{ $json[\"id\"] }}' in parents\nand mimeType = 'application/vnd.google-apps.folder'\nand name = '{{ $json[\"newFolderName\"] }}'\nand trashed = false\n",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        320,
        -176
      ],
      "id": "41846768-10ef-4f51-b975-b67ee87dded2",
      "name": "Search TAX",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "={{$json[\"name\"] ? $json[\"name\"].toUpperCase() : \"\"}}",
              "field2": "name"
            }
          ]
        },
        "joinMode": "keepEverything",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        608,
        80
      ],
      "id": "f189743c-3661-4d33-8f36-f6fef3315066",
      "name": "Merge2"
    },
    {
      "parameters": {
        "jsCode": "// كلمات يتم تجاهلها أثناء التطبيع\nconst ignoreWords = [\n  \"tax\", \"ticaret\", \"ve\", \"company\", \"ltd\", \"firmasi\",\n  \"overseas\", \"pazarlama\", \"dis\", \"ithalat\", \"halinde\",\n  \"antreas\", \"poliklinigi\", \"group\", \"smart\",\n  \"2025\", \"2024\", \"2023\", \"kdv\", \"thk\", \"subat\", \"mart\", \"nisan\", \"ay\"\n];\n\n// دالة التطبيع\nfunction normalize(text) {\n  return (text || \"\")\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\") // remove accents\n    .replace(/ğ/g, \"g\")\n    .replace(/ü/g, \"u\")\n    .replace(/ş/g, \"s\")\n    .replace(/ı/g, \"i\")\n    .replace(/ö/g, \"o\")\n    .replace(/ç/g, \"c\")\n    .replace(/[^a-z0-9\\s]/g, \" \") // remove special chars\n    .split(\" \")\n    .filter(w => w && !ignoreWords.includes(w))\n    .filter((v, i, a) => a.indexOf(v) === i) // remove duplicates\n    .join(\" \")\n    .trim();\n}\n\n// دالة حساب نسبة التشابه البسيطة (Token overlap)\nfunction similarity(a, b) {\n  const tokensA = new Set(a.split(\" \"));\n  const tokensB = new Set(b.split(\" \"));\n  const intersection = [...tokensA].filter(x => tokensB.has(x));\n  const union = new Set([...tokensA, ...tokensB]);\n  return union.size === 0 ? 0 : intersection.length / union.size;\n}\n\n// فصل الفولدرات عن الملفات\nconst folders = [];\nconst documents = [];\n\nfor (const item of items) {\n  const json = item.json;\n\n  // الفولدر\n  if (json.normName && !json.fileNormName) {\n    folders.push({\n      id: json.id,\n      norm: normalize(json.normName),\n      name: json.name || \"\"\n    });\n  }\n\n  // الملف\n  if (json.fileNormName) {\n    documents.push(json);\n  }\n}\n\nconst results = [];\n\nfor (const doc of documents) {\n  const docNorm = normalize(doc.fileNormName);\n\n  let bestFolder = null;\n  let bestScore = 0;\n\n  for (const folder of folders) {\n    const score = similarity(docNorm, folder.norm);\n    if (score > bestScore) {\n      bestScore = score;\n      bestFolder = folder;\n    }\n  }\n\n  let folderId = \"\";\n  let folderName = \"\";\n\n  if (bestFolder && bestScore >= 0.65) {\n    folderId = bestFolder.id;\n    folderName = bestFolder.name;\n    console.log(`✅ Matched: [${doc.fileNormName}] → [${bestFolder.name}] | Score: ${bestScore}`);\n  } else {\n    console.log(`❌ No match for [${doc.fileNormName}] | Norm: [${docNorm}] | Best Score: ${bestScore}`);\n  }\n\n  results.push({\n    documentId: doc.id || \"\",\n    documentName: doc.name || \"\",\n    companyName: (doc.companyName || \"\").replace(/^TAX\\s+/i, \"\").trim(),\n    month: doc.month || \"\",\n    year: doc.year || \"\",\n    taxType: doc.taxType || \"\",\n    taxTypeFull: doc.taxTypeFull || \"\",\n    folderId: folderId,\n    folderName: folderName\n  });\n}\n\nreturn results.map(r => ({ json: r }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        -96
      ],
      "id": "aa126bda-24c1-4081-9129-053ccc289f94",
      "name": "File and folder matching"
    },
    {
      "parameters": {
        "jsCode": "const ignoreWords = [\"tax\", \"ltd\", \"company\", \"ticaret\", \"ve\", \"and\"];\n\nreturn items.map(item => {\n  let name = item.json.name || \"\";\n\n  // استبدال الحروف التركية بأحرف لاتينية مكافئة\n  let normName = name\n    .toLowerCase()\n    .replace(/[ş]/g, \"s\")\n    .replace(/[ğ]/g, \"g\")\n    .replace(/[ç]/g, \"c\")\n    .replace(/[ı]/g, \"i\")\n    .replace(/[ö]/g, \"o\")\n    .replace(/[ü]/g, \"u\")\n    .replace(/[Ş]/g, \"s\")\n    .replace(/[Ğ]/g, \"g\")\n    .replace(/[Ç]/g, \"c\")\n    .replace(/[İ]/g, \"i\")\n    .replace(/[Ö]/g, \"o\")\n    .replace(/[Ü]/g, \"u\");\n\n  // إزالة الامتداد مثل .pdf\n  normName = normName.replace(/\\.[^/.]+$/, \"\");\n\n  // حذف أي رموز غير الأحرف والأرقام والمسافات\n  normName = normName.replace(/[^a-z0-9\\s]/g, \"\");\n\n  // تقسيم إلى كلمات وحذف الكلمات الممنوعة\n  normName = normName\n    .split(/\\s+/)\n    .filter(w => w && !ignoreWords.includes(w))\n    .join(\" \")\n    .trim();\n\n  return {\n    json: {\n      ...item.json,\n      normName\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        -96
      ],
      "id": "d69b2f89-202b-400a-a3e7-5bccfea954af",
      "name": "folder normalize"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        800,
        80
      ],
      "id": "fcff742c-b809-4865-a838-0f32858df541",
      "name": "Merge3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cc1697ab-5f92-45ec-b1d2-cb791e4baad0",
              "leftValue": "={{ $json.folderId }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1168,
        -80
      ],
      "id": "680f48e3-e3aa-45c6-a58e-098bc1864e14",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.documentId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{$json[\"folderId\"]}}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1392,
        -240
      ],
      "id": "5d0825d5-c740-4693-bc65-4c6be2282309",
      "name": "Move file to tax folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2704,
        0
      ],
      "id": "717a2d43-fead-4cc9-b396-babcbfc02310",
      "name": "Merge5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4ce81e60-ccb8-4b9a-8f0a-68dafae6f6a0",
              "leftValue": "={{ $json.status }}",
              "rightValue": "not_found",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4592,
        1344
      ],
      "id": "1f021ba1-dcb0-4e46-a124-3aed15aec4ef",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk",
          "mode": "list",
          "cachedResultName": "Monthly report",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1377545429,
          "mode": "list",
          "cachedResultName": "Sheet3",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit#gid=1377545429"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "folderName": "={{ $json.folderName }}",
            "folderId": "={{ $json.folderId }}",
            "documentId": "={{ $json.documentId }}",
            "documentName": "={{ $json.documentName }}",
            "companyName": "={{ $json.companyName }}",
            "message": "={{ $json.message }}",
            "batchDate": "={{$now.toISODate()}}",
            "status": "={{ $json[\"folderId\"] ? \"SUCCESS\" : \"FAILED\" }}"
          },
          "matchingColumns": [
            "documentId"
          ],
          "schema": [
            {
              "id": "batchDate",
              "displayName": "batchDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "folderName",
              "displayName": "folderName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "folderId",
              "displayName": "folderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "documentId",
              "displayName": "documentId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "documentName",
              "displayName": "documentName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2512,
        -208
      ],
      "id": "a26457f1-2f86-4f0b-8972-62fdf0f98529",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tMsf6bYwBxxWxxVC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk",
          "mode": "list",
          "cachedResultName": "Monthly report",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1744594311,
          "mode": "list",
          "cachedResultName": "tax new",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit#gid=1744594311"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2272,
        272
      ],
      "id": "ccb4a9f2-f3c6-4b2e-a08a-a2b46c677ba8",
      "name": "Get row(s) in sheet1",
      "alwaysOutputData": true,
      "executeOnce": false,
      "retryOnFail": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tMsf6bYwBxxWxxVC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// تحويل البيانات\nconst output = items.map(item => {\n  const leadId = item.json.lead_id || null;\n  const contactId = item.json.contact_id || null;\n  const originalIndex = item.json._originalIndex != null ? String(item.json._originalIndex) : \"unknown\";\n\n  return {\n    json: {\n      id: leadId,\n      contact_id: contactId,\n      company_id: null, // أو نضيف استخراج لاحقًا لو عندك قيمة\n      request_id: [originalIndex],\n      merged: false\n    }\n  };\n});\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5040,
        1152
      ],
      "id": "38f2e6bc-bb18-4790-8baa-f3ec332cb69a",
      "name": "Code10"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4768,
        944
      ],
      "id": "6ed46cf6-6b23-472e-9a01-4a3f76dc6a99",
      "name": "Merge7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://infodvnlogcom.kommo.com/api/v4/leads/complex\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "=Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjVkZmU3OGU5OTE5MzMzODgzN2IyZDRkN2UyYWI3NzE5OTY2YTQ2OTQ1YTg3NDRhYmM2ZGQxNTZiZmNiNWUxMDA1MjQxYTY2ZTM3YzkxNTMwIn0.eyJhdWQiOiI5Y2E0M2JkMS00MWQzLTQxMDktOTdkNi1kM2U4Mzg0ZGNmZmUiLCJqdGkiOiI1ZGZlNzhlOTkxOTMzMzg4MzdiMmQ0ZDdlMmFiNzcxOTk2NmE0Njk0NWE4NzQ0YWJjNmRkMTU2YmZjYjVlMTAwNTI0MWE2NmUzN2M5MTUzMCIsImlhdCI6MTc1MjM1ODMyNywibmJmIjoxNzUyMzU4MzI3LCJleHAiOjE3OTIwMjI0MDAsInN1YiI6IjEyOTI0NzM1IiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM0MzU0NjY3LCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJjcm0iLCJmaWxlcyIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiLCJwdXNoX25vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiMDE5NTYyZmQtZGI5NC00MzhhLWExMDktNGMxMWY2YzJkMzE4IiwiYXBpX2RvbWFpbiI6ImFwaS1jLmtvbW1vLmNvbSJ9.RruKfCExL1HlNEFvaBF_p3IQXoFJ26vgayy9vtqf4iCIJB9J2A3RNYIBOFQ_OnJAPL-3Hw8rCKIC5LswBkwur-qd22otXURZmLQTF3fvzHQtyf1EF20qw6szKau_8JoqRhfq9PYSaeUv8AVMkaP_wH23fi9AyCMyO7LRhl-ImzVnUjfryAwGhQzSK-XKd1SbDqh_y2s8HYE1S38VOzbvNINffZNHQwv5EvzpaWi8DMf9WVpzbOVzZ8WUaPk80l2PnNSBvro5mLvPwV2HUdfbalz1ccgsaFsomutQC8Zgda99CUKVQ4n6I7x2gn4nc6VuneF9obc1JX53RiwrkREmNA"
            },
            {
              "name": "=Content-Type",
              "value": "=application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6720,
        -544
      ],
      "id": "5ecd3ca2-fe38-4011-b540-7588ff5f9846",
      "name": "LED registration",
      "executeOnce": false
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://infodvnlogcom.kommo.com/v4/whatsapp/template/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "=Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjVkZmU3OGU5OTE5MzMzODgzN2IyZDRkN2UyYWI3NzE5OTY2YTQ2OTQ1YTg3NDRhYmM2ZGQxNTZiZmNiNWUxMDA1MjQxYTY2ZTM3YzkxNTMwIn0.eyJhdWQiOiI5Y2E0M2JkMS00MWQzLTQxMDktOTdkNi1kM2U4Mzg0ZGNmZmUiLCJqdGkiOiI1ZGZlNzhlOTkxOTMzMzg4MzdiMmQ0ZDdlMmFiNzcxOTk2NmE0Njk0NWE4NzQ0YWJjNmRkMTU2YmZjYjVlMTAwNTI0MWE2NmUzN2M5MTUzMCIsImlhdCI6MTc1MjM1ODMyNywibmJmIjoxNzUyMzU4MzI3LCJleHAiOjE3OTIwMjI0MDAsInN1YiI6IjEyOTI0NzM1IiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM0MzU0NjY3LCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJjcm0iLCJmaWxlcyIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiLCJwdXNoX25vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiMDE5NTYyZmQtZGI5NC00MzhhLWExMDktNGMxMWY2YzJkMzE4IiwiYXBpX2RvbWFpbiI6ImFwaS1jLmtvbW1vLmNvbSJ9.RruKfCExL1HlNEFvaBF_p3IQXoFJ26vgayy9vtqf4iCIJB9J2A3RNYIBOFQ_OnJAPL-3Hw8rCKIC5LswBkwur-qd22otXURZmLQTF3fvzHQtyf1EF20qw6szKau_8JoqRhfq9PYSaeUv8AVMkaP_wH23fi9AyCMyO7LRhl-ImzVnUjfryAwGhQzSK-XKd1SbDqh_y2s8HYE1S38VOzbvNINffZNHQwv5EvzpaWi8DMf9WVpzbOVzZ8WUaPk80l2PnNSBvro5mLvPwV2HUdfbalz1ccgsaFsomutQC8Zgda99CUKVQ4n6I7x2gn4nc6VuneF9obc1JX53RiwrkREmNA"
            },
            {
              "name": "=Content-Type",
              "value": "=application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contact_id\": {{$json[\"contact_id\"]}},\n  \"chat_id\": \"{{$json[\"chat_id\"]}}\",\n  \"template\": {\n    \"name\": \"KDV\",\n    \"language\": {\n      \"code\": \"ar\"\n    },\n    \"parameters\": []\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5712,
        1040
      ],
      "id": "dab31032-8c27-4a88-b84d-ab2876b331db",
      "name": "LED Update Stage Pipe Line"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items\n  .filter(i => i.json.status === 'not_found')\n  .map(i => {\n    const data = i.json;\n    return {\n      json: {\n        name: data.name,\n        pipeline_id: data.pipeline_id,\n        status_id: data.status_id,\n        responsible_user_id: data.responsible_user_id,\n        tags: data.tags,\n        _embedded: {\n          contacts: data._embedded.contacts,\n          companies: data._embedded.companies\n        }\n      }\n    }\n  });\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5024,
        800
      ],
      "id": "807c3afe-c7e4-47ca-8f4e-52ca9a7c85ee",
      "name": "index"
    },
    {
      "parameters": {
        "jsCode": "// اجلب كل العناصر المجمعة (contacts + leads) بعد إضافة index\nconst all = $input.all();\n\nconst contacts = all.filter(item => item.json.contact_id !== undefined);\nconst leads = all.filter(item => item.json.lead_id !== undefined);\n\nconst matched = [];\n\nfor (const contact of contacts) {\n  // ابحث عن lead يطابق في company_id أو في index (أو كليهما)\n  const companyIds = contact.json.company_ids || [];\n  const idx = contact.json.index;\n  let lead = leads.find(l => {\n    // تحقق من وجود company_id مطابق\n    const leadCompanies = (l.json.companies || []).map(c => c.id);\n    const companyMatch = companyIds.length > 0 && leadCompanies.some(id => companyIds.includes(id));\n    const indexMatch = l.json.index === idx;\n    return companyMatch || indexMatch;\n  });\n\n  if (lead) {\n    matched.push({\n      json: {\n        matched: true,\n        contact: contact.json,\n        lead: lead.json\n      }\n    });\n  } else {\n    matched.push({\n      json: {\n        matched: false,\n        contact: contact.json,\n        note: \"لم يتم العثور على lead مطابق\"\n      }\n    });\n  }\n}\n\n// إذا تريد دمج leads غير المطابقة أيضاً، يمكن إضافة كود مماثل لهم\n\nreturn matched;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6000,
        -528
      ],
      "id": "82339104-5e39-465d-949d-6de25ee6c12b",
      "name": "Trans Reverse"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(i => {\n  const d = i.json.lead || {};\n  const firstName = String(d.contact_first_name || '').trim();\n  const lastName = String(d.contact_last_name || '').trim();\n  const phone = String(d.contact_phone || '').trim();\n  const email = String(d.contact_email || '').trim();\n  const companyName = String(d.company_name || '').trim();\n\n  return {\n    json: {\n      name: d.name || companyName || 'عميل بدون اسم',\n      pipeline_id: parseInt(d.pipeline_id),\n      status_id: d.status_id,\n      responsible_user_id: d.responsible_user_id,\n      tags: d.tags_id ? [{ id: d.tags_id }] : [],\n      _embedded: {\n        contacts: [\n          {\n            first_name: firstName || 'غير معروف',\n            last_name: lastName || '',\n            custom_fields_values: [\n              ...(phone ? [{\n                field_code: \"PHONE\",\n                values: [{ value: phone }]\n              }] : []),\n              ...(email ? [{\n                field_code: \"EMAIL\",\n                values: [{ value: email }]\n              }] : [])\n            ]\n          }\n        ],\n        companies: [\n          {\n            name: companyName\n          }\n        ]\n      }\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3792,
        1088
      ],
      "id": "91cc5c42-0876-4310-8430-8f4e40641684",
      "name": "Create Kommo Body"
    },
    {
      "parameters": {
        "url": "=https://infodvnlogcom.kommo.com/api/v4/contacts?id={{ $json.contact_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "=Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjVkZmU3OGU5OTE5MzMzODgzN2IyZDRkN2UyYWI3NzE5OTY2YTQ2OTQ1YTg3NDRhYmM2ZGQxNTZiZmNiNWUxMDA1MjQxYTY2ZTM3YzkxNTMwIn0.eyJhdWQiOiI5Y2E0M2JkMS00MWQzLTQxMDktOTdkNi1kM2U4Mzg0ZGNmZmUiLCJqdGkiOiI1ZGZlNzhlOTkxOTMzMzg4MzdiMmQ0ZDdlMmFiNzcxOTk2NmE0Njk0NWE4NzQ0YWJjNmRkMTU2YmZjYjVlMTAwNTI0MWE2NmUzN2M5MTUzMCIsImlhdCI6MTc1MjM1ODMyNywibmJmIjoxNzUyMzU4MzI3LCJleHAiOjE3OTIwMjI0MDAsInN1YiI6IjEyOTI0NzM1IiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM0MzU0NjY3LCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJjcm0iLCJmaWxlcyIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiLCJwdXNoX25vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiMDE5NTYyZmQtZGI5NC00MzhhLWExMDktNGMxMWY2YzJkMzE4IiwiYXBpX2RvbWFpbiI6ImFwaS1jLmtvbW1vLmNvbSJ9.RruKfCExL1HlNEFvaBF_p3IQXoFJ26vgayy9vtqf4iCIJB9J2A3RNYIBOFQ_OnJAPL-3Hw8rCKIC5LswBkwur-qd22otXURZmLQTF3fvzHQtyf1EF20qw6szKau_8JoqRhfq9PYSaeUv8AVMkaP_wH23fi9AyCMyO7LRhl-ImzVnUjfryAwGhQzSK-XKd1SbDqh_y2s8HYE1S38VOzbvNINffZNHQwv5EvzpaWi8DMf9WVpzbOVzZ8WUaPk80l2PnNSBvro5mLvPwV2HUdfbalz1ccgsaFsomutQC8Zgda99CUKVQ4n6I7x2gn4nc6VuneF9obc1JX53RiwrkREmNA"
            },
            {
              "name": "=Content-Type",
              "value": "=application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2384,
        160
      ],
      "id": "986dc45a-d883-48ba-8ce0-8c8e4ef2f22a",
      "name": "Add Reverse Fetch"
    },
    {
      "parameters": {
        "url": "=https://infodvnlogcom.kommo.com/api/v4/leads?query={{ $json.contact.custom_fields_values[0].values[0].value }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "=Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjVkZmU3OGU5OTE5MzMzODgzN2IyZDRkN2UyYWI3NzE5OTY2YTQ2OTQ1YTg3NDRhYmM2ZGQxNTZiZmNiNWUxMDA1MjQxYTY2ZTM3YzkxNTMwIn0.eyJhdWQiOiI5Y2E0M2JkMS00MWQzLTQxMDktOTdkNi1kM2U4Mzg0ZGNmZmUiLCJqdGkiOiI1ZGZlNzhlOTkxOTMzMzg4MzdiMmQ0ZDdlMmFiNzcxOTk2NmE0Njk0NWE4NzQ0YWJjNmRkMTU2YmZjYjVlMTAwNTI0MWE2NmUzN2M5MTUzMCIsImlhdCI6MTc1MjM1ODMyNywibmJmIjoxNzUyMzU4MzI3LCJleHAiOjE3OTIwMjI0MDAsInN1YiI6IjEyOTI0NzM1IiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM0MzU0NjY3LCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJjcm0iLCJmaWxlcyIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiLCJwdXNoX25vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiMDE5NTYyZmQtZGI5NC00MzhhLWExMDktNGMxMWY2YzJkMzE4IiwiYXBpX2RvbWFpbiI6ImFwaS1jLmtvbW1vLmNvbSJ9.RruKfCExL1HlNEFvaBF_p3IQXoFJ26vgayy9vtqf4iCIJB9J2A3RNYIBOFQ_OnJAPL-3Hw8rCKIC5LswBkwur-qd22otXURZmLQTF3fvzHQtyf1EF20qw6szKau_8JoqRhfq9PYSaeUv8AVMkaP_wH23fi9AyCMyO7LRhl-ImzVnUjfryAwGhQzSK-XKd1SbDqh_y2s8HYE1S38VOzbvNINffZNHQwv5EvzpaWi8DMf9WVpzbOVzZ8WUaPk80l2PnNSBvro5mLvPwV2HUdfbalz1ccgsaFsomutQC8Zgda99CUKVQ4n6I7x2gn4nc6VuneF9obc1JX53RiwrkREmNA"
            },
            {
              "name": "=Content-Type",
              "value": "=application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4288,
        -416
      ],
      "id": "fd436d90-0bdd-4b8b-8df9-c7c543f44001",
      "name": "search"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map((item, index) => {\n  return {\n    json: {\n      ...item.json,\n      _originalIndex: index\n    }\n  }\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4368,
        1328
      ],
      "id": "1b8688cb-e334-4720-9795-552a08f5680e",
      "name": "index1"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      add: $input.all().map(item => item.json)\n    }\n  }\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5152,
        1008
      ],
      "id": "af891245-b37d-448d-b07c-f1b4912f73a0",
      "name": "Code2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5408,
        1008
      ],
      "id": "74b135c2-2eb3-4c5a-a25b-8124512946d6",
      "name": "Merge6"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map((item, index) => {\n  return {\n    json: {\n      ...item.json,\n      _originalIndex: index\n    }\n  }\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5344,
        848
      ],
      "id": "627c0944-0fea-4fd0-b2ed-37f02032f0e1",
      "name": "Trans Reverse1"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map((item, index) => {\n  return {\n    json: {\n      ...item.json,\n      _originalIndex: index\n    }\n  }\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5568,
        848
      ],
      "id": "ac98f6cc-d92b-4e6a-b5d1-5a0e1f637748",
      "name": "Code1"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date();\nconst isoDate = now.toISOString(); // التاريخ والوقت الحالي بصيغة ISO\nconst batchLabel = isoDate.split(\"T\")[0]; // فقط التاريخ\n\nfunction normalize(str) {\n  return str\n    ?.toUpperCase()\n    ?.normalize(\"NFD\")\n    ?.replace(/[\\u0300-\\u036f]/g, \"\") // إزالة العلامات\n    ?.replace(/İ/g, \"I\")\n    ?.replace(/Ş/g, \"S\")\n    ?.replace(/Ğ/g, \"G\")\n    ?.replace(/Ü/g, \"U\")\n    ?.replace(/Ö/g, \"O\")\n    ?.replace(/Ç/g, \"C\")\n    ?.trim();\n}\n\nreturn items.map(item => {\n  const name = item.json.companyName || \"\";\n  const message = item.json.message || \"\";\n  const folderId = item.json.folderId || \"\";\n  const documentId = item.json.documentId || \"\";\n\n  const note = `📦 ملف جديد تم نقله إلى Google Drive\\n\\n${message}\\n\\n📁 فولدر ID: ${folderId}\\n📄 ملف ID: ${documentId}\\n⏰ تاريخ التصدير: ${batchLabel}`;\n\n  return {\n    json: {\n      ...item.json,\n      normalized_company: normalize(name),\n      export_date: isoDate,\n      kommo_note: note\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3344,
        -1424
      ],
      "id": "c778b2c6-c337-4123-97b2-56f51b71e9b5",
      "name": "Code4"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5728,
        -528
      ],
      "id": "94d149e9-1702-4d86-afc4-14acc45cc151",
      "name": "Merge8"
    },
    {
      "parameters": {
        "jsCode": "function cleanPhone(raw) {\n  if (!raw) return \"\";\n  return raw.replace(/[^+\\d]/g, \"\");\n}\n\nreturn $input.all().map(item => {\n  // output Kommo موجود في data كنص JSON\n  let data = typeof item.json.data === \"string\" ? JSON.parse(item.json.data) : item.json.data;\n  let contacts = data?._embedded?.contacts || [];\n  // لو لم يوجد أي contact يرجع عنصر فارغ مع found = false\n  if (contacts.length === 0) {\n    return {\n      json: {\n        found: false,\n        message: \"No contact found in Kommo for this query.\",\n      }\n    }\n  }\n\n  // لو فيه أكثر من contact يرجعهم كلهم (واحد واحد)\n  return contacts.map(contact => {\n    // استخراج أرقام الهاتف والإيميل (قد يوجد أكثر من واحد)\n    let phones = [];\n    let emails = [];\n    let pipeline_id = null;\n    let status_id = null;\n    let lead_id = null;\n    let company_ids = [];\n    let tags = [];\n\n    // حقول مخصصة\n    if (Array.isArray(contact.custom_fields_values)) {\n      for (const f of contact.custom_fields_values) {\n        if (f.field_code === \"PHONE\" || f.field_name === \"Phone\") {\n          phones.push(...(f.values || []).map(v => cleanPhone(v.value)));\n        }\n        if (f.field_code === \"EMAIL\" || f.field_name === \"Email\") {\n          emails.push(...(f.values || []).map(v => v.value));\n        }\n      }\n    }\n\n    // استخراج بيانات الشركات المرتبطة (companies)\n    if (contact._embedded?.companies) {\n      company_ids = contact._embedded.companies.map(c => c.id);\n    }\n\n    // استخراج بيانات التاجز\n    if (contact._embedded?.tags) {\n      tags = contact._embedded.tags.map(t => t.name || t.id);\n    }\n\n    // إذا فيه lead_id أو pipeline_id أو status_id في مكان آخر (مثلاً في الـleads)\n    // أضف هنا حسب الحاجة، غالبًا تحتاج طلب إضافي لجلب بيانات lead نفسها\n\n    return {\n      json: {\n        found: true,\n        contact_id: contact.id,\n        contact_name: contact.name,\n        first_name: contact.first_name,\n        last_name: contact.last_name,\n        responsible_user_id: contact.responsible_user_id,\n        phones,\n        emails,\n        company_ids,\n        tags,\n        // أضف المزيد حسب الحاجة\n        kommo_raw_contact: contact // كامل بيانات contact من Kommo\n      }\n    }\n  });\n}).flat();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4720,
        -640
      ],
      "id": "31ddccea-18a8-404b-9b3c-c03fe20cf50a",
      "name": "Code5"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  // إذا كانت الـdata نصية، حولها إلى كائن\n  let data = typeof item.json.data === \"string\" ? JSON.parse(item.json.data) : item.json.data;\n  let leads = data?._embedded?.leads || [];\n  if (leads.length === 0) {\n    return {\n      json: {\n        found: false,\n        message: \"No lead found in Kommo for this query.\",\n      }\n    }\n  }\n\n  // أرجع كل lead في عنصر مستقل\n  return leads.map(lead => ({\n    json: {\n      found: true,\n      lead_id: lead.id,\n      lead_name: lead.name,\n      price: lead.price,\n      responsible_user_id: lead.responsible_user_id,\n      status_id: lead.status_id,\n      pipeline_id: lead.pipeline_id,\n      group_id: lead.group_id,\n      loss_reason_id: lead.loss_reason_id,\n      created_by: lead.created_by,\n      updated_by: lead.updated_by,\n      created_at: lead.created_at,\n      updated_at: lead.updated_at,\n      closed_at: lead.closed_at,\n      closest_task_at: lead.closest_task_at,\n      is_deleted: lead.is_deleted,\n      score: lead.score,\n      account_id: lead.account_id,\n      labor_cost: lead.labor_cost,\n      companies: lead._embedded?.companies || [],\n      tags: lead._embedded?.tags || [],\n      kommo_raw_lead: lead // كامل بيانات lead لو أردت الرجوع لها\n    }\n  }));\n}).flat();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4560,
        -304
      ],
      "id": "c0dd3f64-91e9-4110-98bd-fafb9c9b8fc7",
      "name": "Code6"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  // قائمة الأشهر التركية بالأحرف الكبيرة مع دعم الحروف التركية\n  const months = [\n    \"OCAK\", \"ŞUBAT\", \"ŞUBAT\", \"MART\", \"NİSAN\", \"NISAN\", \"MAYIS\", \"HAZİRAN\", \"HAZIRAN\",\n    \"TEMMUZ\", \"AĞUSTOS\", \"AĞUSTOS\", \"EYLÜL\", \"EYLUL\", \"EKİM\", \"EKIM\", \"KASIM\", \"ARALIK\"\n  ];\n\n  // دمج الأشهر في تعبير منتظم (يدعم بعض أخطاء الترميز الشائعة)\n  const monthsRegex = months.join(\"|\");\n\n  // تعبير منتظم لاستخراج اسم الشركة والشهر والسنة ونوع الضريبة وTHK\n  const regex = new RegExp(\n    `^(.+?)\\\\s+(${monthsRegex})\\\\s+(20\\\\d{2})\\\\s+([A-ZÇĞİÖŞÜ]+)(?:\\\\s+THK)?\\\\.pdf$`,\n    'iu'\n  );\n\n  let originalName = item.json.name;\n  let match = originalName.match(regex);\n\n  let companyName = \"\";\n  let month = \"\";\n  let year = \"\";\n  let taxType = \"\";\n\n  if (match) {\n    companyName = match[1].trim();\n    month = match[2].toUpperCase();\n    year = match[3];\n    taxType = match[4].toUpperCase();\n  } else {\n    // fallback: لو لم يتطابق النمط\n    companyName = originalName.replace(/\\.[^/.]+$/, \"\");\n  }\n\n  // هنا الإضافة التي طلبتها:\n  let fileNormName = companyName.toLowerCase();\n\n  return {\n    json: {\n      ...item.json,\n      companyName,\n      month,\n      year,\n      taxType,\n      fileNormName\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -176,
        0
      ],
      "id": "e46405e4-6a42-4bbb-99dc-cdd3b57d234e",
      "name": "inside monthly normalize"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "=id",
              "field2": "=documentId"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1840,
        -160
      ],
      "id": "554ad15f-5c7b-4b62-8c91-9412159a27d3",
      "name": "Merge9"
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map(item => {\n  const name = item.json.name || 'ملف بدون اسم';\n  item.json.message = `✅ تم نقل الملف: ${name}`;\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        -240
      ],
      "id": "d990bb8c-378c-4b2f-9a49-376a6869a0fb",
      "name": "Transferred"
    },
    {
      "parameters": {
        "jsCode": "// افصل القائمتين بناءً على وجود documentId أو id\nconst metadataItems = items.filter(item => item.json.documentId); // يحتوي على بيانات الفاتورة\nconst fileInfoItems = items.filter(item => item.json.id); // يحتوي على بيانات الملف من Google Drive\n\n// أنشئ خريطة للبحث السريع حسب documentId\nconst fileInfoMap = {};\nfileInfoItems.forEach(item => {\n  fileInfoMap[item.json.id] = item.json;\n});\n\n// ندمج البيانات ونبني الرسالة بناءً على وجود الملف فعلاً أم لا\nreturn metadataItems.map(item => {\n  const docId = item.json.documentId;\n  const fileInfo = fileInfoMap[docId];\n\n  const documentName = item.json.documentName || fileInfo?.name || \"ملف بدون اسم\";\n  const companyName = item.json.companyName || \"شركة غير معروفة\";\n  const folderName = item.json.folderName || \"مجلد غير معروف\";\n\n  if (!fileInfo) {\n    item.json.message = `❌ لم يتم نقل الملف: ${documentName} الخاص بشركة ${companyName} لأنه لا يوجد فولدر مخصص.`;\n  } else {\n    item.json.message = `✅ تم نقل الملف: ${documentName} الخاص بشركة ${companyName} إلى الفولدر: ${folderName}`;\n  }\n\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        -224
      ],
      "id": "55bb26e1-d38f-42fd-a6b4-3ffc02da6d8e",
      "name": "Data Transferred"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  if (!item.json.folderId || item.json.folderId === \"\") {\n    item.json.message = `❌ لم يتم نقل الملف: ${item.json.documentName} الخاص بشركة ${item.json.companyName} لأنه لا يوجد فولدر مخصص.`;\n  } else {\n    item.json.message = `✅ تم نقل الملف: ${item.json.documentName} الخاص بشركة ${item.json.companyName} إلى الفولدر: ${item.json.folderName}`;\n  }\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        64
      ],
      "id": "8e119419-68e0-41bf-ae7d-51dc88372bd9",
      "name": "Folder not found"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2064,
        -144
      ],
      "id": "3d88838b-4803-4cd1-969c-c1f001978ec2",
      "name": "Merge10"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  item.json._normalizedCompany = item.json._normalizedCompany\n    ?.toUpperCase()\n    ?.trim()\n    ?.replace(/\\s+/g, ' ')\n    ?.normalize(\"NFD\").replace(/[\\u0300-\\u036f]/g, \"\"); // حذف التشكيل\n\n  return item;\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3488,
        1120
      ],
      "id": "4340fd8c-cb1c-4ef9-ba27-2055094f346d",
      "name": "Code"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk",
          "mode": "list",
          "cachedResultName": "Monthly report",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1744594311,
          "mode": "list",
          "cachedResultName": "tax new",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit#gid=1744594311"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "company_name": "={{ $json.companyName }}",
            "folderId": "={{ $json.folderId }}"
          },
          "matchingColumns": [
            "company_name"
          ],
          "schema": [
            {
              "id": "company_name",
              "displayName": "company_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact_first_name",
              "displayName": "contact_first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "contact_last_name",
              "displayName": "contact_last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "contact_phone",
              "displayName": "contact_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "contact_email",
              "displayName": "contact_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "folderId",
              "displayName": "folderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "kind",
              "displayName": "kind",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mimeType",
              "displayName": "mimeType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "documentId",
              "displayName": "documentId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "documentName",
              "displayName": "documentName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "month",
              "displayName": "month",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "year",
              "displayName": "year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "taxType",
              "displayName": "taxType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "taxTypeFull",
              "displayName": "taxTypeFull",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "folderName",
              "displayName": "folderName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2864,
        -1600
      ],
      "id": "c6b9d367-cce7-4ae2-baa2-db143a347ecc",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tMsf6bYwBxxWxxVC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// فصل المجموعتين\nconst files = items.filter(i => i.json.documentId);      // ملفات\nconst sheet = items.filter(i => !i.json.documentId);     // صفوف الشيت\n\nfunction normalize(str) {\n  return str\n    ?.toUpperCase()\n    ?.normalize(\"NFD\")\n    ?.replace(/[\\u0300-\\u036f]/g, \"\") // إزالة العلامات\n    ?.replace(/İ/g, \"I\")              // معالجة الحروف التركية\n    ?.replace(/Ş/g, \"S\")\n    ?.replace(/Ğ/g, \"G\")\n    ?.replace(/Ü/g, \"U\")\n    ?.replace(/Ö/g, \"O\")\n    ?.replace(/Ç/g, \"C\")\n    ?.trim();\n}\n\nconst matched = [];\n\nfor (const row of sheet) {\n  const rowName = normalize(row.json.companyName);\n\n  const match = files.find(file =>\n    normalize(file.json.companyName)?.includes(rowName) ||\n    normalize(file.json.documentName)?.includes(rowName)\n  );\n\n  if (match) {\n    matched.push({\n      json: {\n        ...row.json,\n        ...match.json,\n        matched: true\n      }\n    });\n  }\n}\n\nreturn matched;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2864,
        -160
      ],
      "id": "a9209813-112f-40ef-bd6c-f4996c4830ba",
      "name": "Code8"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "653741f5-77bf-4957-9e38-bb9f6b0b729d",
              "leftValue": "={{ $json.status }}",
              "rightValue": "SUCCESS",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3760,
        480
      ],
      "id": "0d36c9fd-a1c7-43f0-b315-de14c334ceaf",
      "name": "If2"
    },
    {
      "parameters": {
        "jsCode": "// دالة استخراج نوع الضريبة من اسم الملف\nfunction extractTaxType(documentName) {\n  const name = documentName.toUpperCase();\n  if (name.includes('KDV')) return 'KDV';\n  if (name.includes('GVK')) return 'GVK';\n  if (name.includes('STOPAJ')) return 'STOPAJ';\n  if (name.includes('VERGI')) return 'VERGI';\n  return 'OTHER';\n}\n\n// معالجة البيانات\nreturn items.map(item => {\n  // تنظيف البيانات\n  const firstName = (item.json.contact_first_name || '').trim();\n  const lastName = (item.json.contact_last_name || '').trim();\n  const email = (item.json.contact_email || '').trim();\n  const phone = (item.json.contact_phone || '').trim();\n  \n  // إنشاء الاسم الكامل\n  let fullName = (item.json.name || '').trim();\n  if (!fullName) {\n    fullName = `${firstName} ${lastName}`.trim();\n  }\n  \n  return {\n    json: {\n      // Company Info\n      companyName: (item.json.companyName || '').trim(),\n      \n      // Contact Details\n      firstName: firstName,\n      lastName: lastName,\n      phone: phone,\n      email: email,\n      fullName: fullName,\n      \n      // Document Info\n      documentName: item.json.documentName || '',\n      taxType: extractTaxType(item.json.documentName || ''),\n      \n      // Tracking Info\n      batchDate: item.json.batchDate || '',\n      folderId: item.json.folderId || '',\n      status: item.json.status || '',\n      \n      // Original data for reference\n      originalData: {\n        rowNumber: item.json.row_number,\n        documentId: item.json.documentId\n      }\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3680,
        -656
      ],
      "id": "656f23a2-83d1-46ef-8d4b-2517bbcd760b",
      "name": "Prepare Kommo Data"
    },
    {
      "parameters": {
        "jsCode": "// Mock Kommo CRM Response Data\n// استبدل الـ HTTP Request بـ Code Node وضع هذا الكود\n\nreturn items.map(item => {\n  // تحديد ما إذا كان العميل موجود أم لا (للاختبار)\n  const existingCustomers = [\n    \"+905316713665\", // A BAHARI OTOMOTİV - موجود\n    \"yaseer@yasser\"   // ALYASSER - موجود بالإيميل\n  ];\n  \n  const isExisting = existingCustomers.includes(item.json.phone) || \n                    existingCustomers.includes(item.json.email);\n  \n  if (isExisting) {\n    // عميل موجود - إرجاع بيانات Kommo\n    return {\n      json: {\n        // البيانات الأصلية\n        ...item.json,\n        \n        // Response من Kommo (عميل موجود)\n        kommo_response: {\n          _embedded: {\n            contacts: [\n              {\n                id: Math.floor(Math.random() * 1000000), // ID عشوائي\n                name: item.json.fullName,\n                first_name: item.json.firstName,\n                last_name: item.json.lastName,\n                responsible_user_id: 123456,\n                created_by: 123456,\n                updated_by: 123456,\n                created_at: 1640995200,\n                updated_at: 1640995200,\n                closest_task_at: null,\n                custom_fields_values: [\n                  {\n                    field_id: 123,\n                    field_name: \"Phone\",\n                    values: [\n                      {\n                        value: item.json.phone,\n                        enum_id: 456\n                      }\n                    ]\n                  },\n                  {\n                    field_id: 124,\n                    field_name: \"Email\",\n                    values: [\n                      {\n                        value: item.json.email,\n                        enum_id: 457\n                      }\n                    ]\n                  }\n                ],\n                _links: {\n                  self: {\n                    href: \"https://infodwnlogcom.kommo.com/api/v4/contacts/123456\"\n                  }\n                }\n              }\n            ]\n          },\n          _links: {\n            self: {\n              href: \"https://infodwnlogcom.kommo.com/api/v4/contacts\"\n            }\n          }\n        },\n        \n        // Status للمعالجة\n        kommo_status: \"FOUND\",\n        contact_exists: true\n      }\n    };\n  } else {\n    // عميل غير موجود\n    return {\n      json: {\n        // البيانات الأصلية\n        ...item.json,\n        \n        // Response فارغ من Kommo\n        kommo_response: {\n          _embedded: {\n            contacts: []\n          },\n          _links: {\n            self: {\n              href: \"https://infodwnlogcom.kommo.com/api/v4/contacts\"\n            }\n          }\n        },\n        \n        // Status للمعالجة\n        kommo_status: \"NOT_FOUND\",\n        contact_exists: false\n      }\n    };\n  }\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3968,
        -704
      ],
      "id": "37eb1e44-f283-43c4-a594-339ddaa50600",
      "name": "Create Kommo Body1"
    },
    {
      "parameters": {
        "url": "=https://infodwnlogcom.kommo.com/api/v4/contacts?query={{ $json.phone }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "=Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjVkZmU3OGU5OTE5MzMzODgzN2IyZDRkN2UyYWI3NzE5OTY2YTQ2OTQ1YTg3NDRhYmM2ZGQxNTZiZmNiNWUxMDA1MjQxYTY2ZTM3YzkxNTMwIn0.eyJhdWQiOiI5Y2E0M2JkMS00MWQzLTQxMDktOTdkNi1kM2U4Mzg0ZGNmZmUiLCJqdGkiOiI1ZGZlNzhlOTkxOTMzMzg4MzdiMmQ0ZDdlMmFiNzcxOTk2NmE0Njk0NWE4NzQ0YWJjNmRkMTU2YmZjYjVlMTAwNTI0MWE2NmUzN2M5MTUzMCIsImlhdCI6MTc1MjM1ODMyNywibmJmIjoxNzUyMzU4MzI3LCJleHAiOjE3OTIwMjI0MDAsInN1YiI6IjEyOTI0NzM1IiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM0MzU0NjY3LCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJjcm0iLCJmaWxlcyIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiLCJwdXNoX25vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiMDE5NTYyZmQtZGI5NC00MzhhLWExMDktNGMxMWY2YzJkMzE4IiwiYXBpX2RvbWFpbiI6ImFwaS1jLmtvbW1vLmNvbSJ9.RruKfCExL1HlNEFvaBF_p3IQXoFJ26vgayy9vtqf4iCIJB9J2A3RNYIBOFQ_OnJAPL-3Hw8rCKIC5LswBkwur-qd22otXURZmLQTF3fvzHQtyf1EF20qw6szKau_8JoqRhfq9PYSaeUv8AVMkaP_wH23fi9AyCMyO7LRhl-ImzVnUjfryAwGhQzSK-XKd1SbDqh_y2s8HYE1S38VOzbvNINffZNHQwv5EvzpaWi8DMf9WVpzbOVzZ8WUaPk80l2PnNSBvro5mLvPwV2HUdfbalz1ccgsaFsomutQC8Zgda99CUKVQ4n6I7x2gn4nc6VuneF9obc1JX53RiwrkREmNA"
            },
            {
              "name": "=Content-Type",
              "value": "=application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.phone }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4320,
        -720
      ],
      "id": "f2d9d4ce-c00c-49cd-966d-e41d25fb49a9",
      "name": "search2"
    },
    {
      "parameters": {
        "jsCode": "// مثال للـcontacts (نفس الكود ينطبق على leads)\nreturn items.map((item, idx) => ({\n  json: {\n    ...item.json,\n    index: idx\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5024,
        -656
      ],
      "id": "f71c04a2-cd37-4555-97b6-822fd59e2bd8",
      "name": "Code3"
    },
    {
      "parameters": {
        "jsCode": "// مثال للـcontacts (نفس الكود ينطبق على leads)\nreturn items.map((item, idx) => ({\n  json: {\n    ...item.json,\n    index: idx\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5024,
        -368
      ],
      "id": "89bf4ca0-aa2c-47e6-8245-620748c43dfb",
      "name": "Code7"
    },
    {
      "parameters": {
        "jsCode": "// البيانات الأصلية من Create Kommo Body1\nconst originalData = $items('Create Kommo Body1').map(item => item.json);\n\n// النتائج من Trans Reverse (فيها العملاء الموجودين)\nconst foundPhones = $input.all()\n  .filter(item => item.json.matched && item.json.contact?.phones?.[0])\n  .map(item => item.json.contact.phones[0].replace(/\\s+/g, \"\"));\n\n// استخراج العناصر غير الموجودة في Kommo\nconst notFoundItems = originalData.filter(item => {\n  const phoneField = item.contact.custom_fields_values.find(f => f.field_id === 469442);\n  const phone = phoneField?.values?.[0]?.value?.replace(/\\s+/g, \"\");\n  return !foundPhones.includes(phone);\n});\n\n// إرجاعهم كـ output جديد\nreturn notFoundItems.map(item => ({ json: item }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6224,
        -528
      ],
      "id": "0ac04f5b-42ea-46c7-aa58-822f76602a0d",
      "name": "Code9"
    },
    {
      "parameters": {
        "jsCode": "const timestamp = Date.now();\nconst result = [];\n\nitems.forEach((item, index) => {\n  const data = item.json;\n\n  result.push({\n    add: [\n      {\n        index: index,\n        pipeline_id: data.pipelineId,\n        responsible_user_id: data.responsibleUserId,\n        status_id: data.statusId,\n        tags: data.tags || [],\n        tags_names: data.tags ? data.tags.map(tag => tag.name) : [],\n        tags_ids: data.tags ? data.tags.map(tag => tag.id) : [],\n        _embedded: {\n          contacts: [\n            {\n              first_name: data.contact?.first_name || \"\",\n              custom_fields_values: data.contact?.custom_fields_values || []\n            }\n          ]\n        },\n        company: null,\n        id: null,\n        contact_id: null,\n        company_id: null,\n        request_id: [\n          `company-${timestamp}-${index}`\n        ]\n      }\n    ]\n  });\n});\n\nreturn result.map(obj => ({ json: obj }));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6480,
        -816
      ],
      "id": "d9a9e97d-0fa5-4f52-b38f-93b12c056b77",
      "name": "Create Kommo Body2"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst output = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const json = items[i].json;\n\n  const tagsArray = json.tags || [];\n  const tags_names = tagsArray.map(tag => tag.name);\n  const tags_ids = tagsArray.map(tag => tag.id);\n\n  const embeddedContacts = [\n    {\n      first_name: json.contact.first_name,\n      custom_fields_values: json.contact.custom_fields_values || []\n    }\n  ];\n\n  // لو عندك company_id رجعه هنا\n  const companyId = json.company_id || null;\n  const companyName = json.name || null;\n\n  let company = null;\n\n  if (companyId !== null) {\n    company = {\n      id: companyId,\n      name: companyName\n    };\n  } else if (companyName !== null) {\n    // لو لسه ما عندكش ID، ابعته object فاضي أو متبعتوش خالص\n    company = {\n      name: companyName\n    };\n  }\n\n  const lead = {\n    index: i,\n    pipeline_id: json.pipelineId,\n    responsible_user_id: json.responsibleUserId,\n    status_id: json.statusId,\n    tags: json.tags || [],\n    tags_names: tags_names,\n    tags_ids: tags_ids,\n    _embedded: {\n      contacts: embeddedContacts\n    },\n    company: company,\n    id: null,\n    contact_id: null,\n    company_id: null,\n    request_id: [`company-${Date.now()}-${i}`]\n  };\n\n  output.push({\n    json: {\n      add: [lead]\n    }\n  });\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7424,
        -896
      ],
      "id": "58ce635c-1713-420f-aac4-2f5bd6d2565d",
      "name": "Create Kommo Body3"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk",
          "mode": "list",
          "cachedResultName": "Monthly report",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1744594311,
          "mode": "list",
          "cachedResultName": "tax new",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit#gid=1744594311"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "companyName": "={{ $json.name }}",
            "folderId": "={{ $json.id }}"
          },
          "matchingColumns": [
            "companyName"
          ],
          "schema": [
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "contact_first_name",
              "displayName": "contact_first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_last_name",
              "displayName": "contact_last_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_phone",
              "displayName": "contact_phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "contact_email",
              "displayName": "contact_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "folderId",
              "displayName": "folderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1584,
        368
      ],
      "id": "448f7a45-2d08-4022-8f6b-d0ccb5f2052e",
      "name": "Append or update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tMsf6bYwBxxWxxVC",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {
    "Schedule Trigger": [
      {
        "json": {
          "parameters": {
            "triggerTimes": [
              {
                "mode": "everyDay",
                "hour": 13,
                "minute": 0
              },
              {
                "mode": "everyDay",
                "hour": 20,
                "minute": 0
              }
            ]
          },
          "id": "scheduleTriggerNode",
          "name": "Schedule Trigger",
          "type": "n8n-nodes-base.scheduleTrigger",
          "typeVersion": 1,
          "position": [
            450,
            300
          ]
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search monthly taxes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search monthly taxes": {
      "main": [
        [
          {
            "node": "Search inside monthly taxes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search inside monthly taxes": {
      "main": [
        [
          {
            "node": "inside monthly normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Taxpayers": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Limited Company": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append or update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Search TAX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search personal company": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Search TAX Folder2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Search TAX Folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search TAX Folder1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Search TAX Folder2": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Search TAX": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "folder normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File and folder matching": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "folder normalize": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "File and folder matching",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Move file to tax folder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge9",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Folder not found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move file to tax folder": {
      "main": [
        [
          {
            "node": "Transferred",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Code8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Merge7",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge7": {
      "main": [
        [
          {
            "node": "index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LED registration": {
      "main": [
        []
      ]
    },
    "LED Update Stage Pipe Line": {
      "main": [
        []
      ]
    },
    "index": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trans Reverse": {
      "main": [
        [
          {
            "node": "Code9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Kommo Body": {
      "main": [
        []
      ]
    },
    "Add Reverse Fetch": {
      "main": [
        []
      ]
    },
    "search": {
      "main": [
        [
          {
            "node": "Code6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "index1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        []
      ]
    },
    "Code10": {
      "main": [
        [
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        []
      ]
    },
    "Trans Reverse1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "LED Update Stage Pipe Line",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code4": {
      "main": [
        []
      ]
    },
    "Code5": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code6": {
      "main": [
        [
          {
            "node": "Code7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "inside monthly normalize": {
      "main": [
        [
          {
            "node": "Search Limited Company",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search personal company",
            "type": "main",
            "index": 0
          },
          {
            "node": "Search Taxpayers",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge9": {
      "main": [
        [
          {
            "node": "Merge10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transferred": {
      "main": [
        [
          {
            "node": "Merge9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Transferred": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Folder not found": {
      "main": [
        [
          {
            "node": "Merge10",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge10": {
      "main": [
        [
          {
            "node": "Data Transferred",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Create Kommo Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code8": {
      "main": [
        [
          {
            "node": "Prepare Kommo Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        []
      ]
    },
    "Prepare Kommo Data": {
      "main": [
        [
          {
            "node": "Create Kommo Body1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Kommo Body1": {
      "main": [
        []
      ]
    },
    "search2": {
      "main": [
        [
          {
            "node": "Code5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge8": {
      "main": [
        [
          {
            "node": "Trans Reverse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code7": {
      "main": [
        [
          {
            "node": "Merge8",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code9": {
      "main": [
        [
          {
            "node": "Create Kommo Body2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Kommo Body2": {
      "main": [
        [
          {
            "node": "LED registration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet2": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Istanbul",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 0
  },
  "versionId": "3c5803f5-98bb-4ea8-9318-220cf55f4844",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bbcc8f8955fdb6b9df383b7af3b82b49081e116d9ff63429580cf5caee57238e"
  },
  "id": "uV2oSAiFQQg5ek4k",
  "tags": []
}