workflows/tax-news-collector.json
{
  "name": "جمع أخبار الضرائب التركية - Tax News Collector",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "triggerAtHour": 8, "triggerAtMinute": 0 }] }
      },
      "id": "trigger-schedule-news",
      "name": "جدولة جمع الأخبار - 8 صباحاً",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1400, 300]
    },
    {
      "parameters": { "url": "https://news.google.com/rss/search?q=site:gib.gov.tr+OR+site:resmigazete.gov.tr+OR+%22vergi+tebli%C4%9Fi%22+OR+%22vergi+sirk%C3%BCleri%22&hl=tr&gl=TR&ceid=TR:tr", "options": {} },
      "id": "rss-official-announcements", "name": "رسمي - تبليغات وتعميمات",
      "type": "n8n-nodes-base.rssFeedRead", "typeVersion": 1.1, "position": [-1100, -100]
    },
    {
      "parameters": { "url": "https://news.google.com/rss/search?q=%22Resmi+Gazete%22+vergi+OR+KDV+OR+SGK&hl=tr&gl=TR&ceid=TR:tr", "options": {} },
      "id": "rss-resmi-gazete", "name": "رسمي - الجريدة الرسمية",
      "type": "n8n-nodes-base.rssFeedRead", "typeVersion": 1.1, "position": [-1100, 100]
    },
    {
      "parameters": { "url": "https://news.google.com/rss/search?q=%22Gelir+%C4%B0daresi%22+OR+%22G%C4%B0B%22+OR+%22Maliye+Bakanl%C4%B1%C4%9F%C4%B1%22+tebli%C4%9F+OR+duyuru&hl=tr&gl=TR&ceid=TR:tr", "options": {} },
      "id": "rss-gib-maliye", "name": "رسمي - هيئة الضرائب GİB",
      "type": "n8n-nodes-base.rssFeedRead", "typeVersion": 1.1, "position": [-1100, 300]
    },
    {
      "parameters": { "url": "https://news.google.com/rss/search?q=vergi+OR+KDV+OR+vergi+tebli%C4%9Fi&hl=tr&gl=TR&ceid=TR:tr", "options": {} },
      "id": "rss-google-news-vergi", "name": "أخبار - Vergi عام",
      "type": "n8n-nodes-base.rssFeedRead", "typeVersion": 1.1, "position": [-1100, 500]
    },
    {
      "parameters": { "url": "https://news.google.com/rss/search?q=SGK+primi+OR+sosyal+g%C3%BCvenlik+duyuru&hl=tr&gl=TR&ceid=TR:tr", "options": {} },
      "id": "rss-google-news-sgk", "name": "أخبار - SGK",
      "type": "n8n-nodes-base.rssFeedRead", "typeVersion": 1.1, "position": [-1100, 700]
    },
    {
      "parameters": { "url": "https://news.google.com/rss/search?q=e-fatura+OR+e-defter+OR+kurumlar+vergisi&hl=tr&gl=TR&ceid=TR:tr", "options": {} },
      "id": "rss-google-news-efatura", "name": "أخبار - e-Fatura & Kurumlar",
      "type": "n8n-nodes-base.rssFeedRead", "typeVersion": 1.1, "position": [-1100, 900]
    },
    {
      "parameters": { "url": "https://www.bloomberght.com/rss", "options": {} },
      "id": "rss-bloomberg", "name": "Bloomberg HT",
      "type": "n8n-nodes-base.rssFeedRead", "typeVersion": 1.1, "position": [-1100, 1100]
    },
    {
      "parameters": { "mode": "append", "options": {} },
      "id": "merge-all-feeds", "name": "تجميع كل المصادر",
      "type": "n8n-nodes-base.merge", "typeVersion": 3.2, "position": [-700, 400]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst seen = new Set();\nconst now = new Date();\nconst sevenDaysAgo = new Date(now.getTime() - 7 * 24 * 60 * 60 * 1000);\nconst filtered = [];\n\nfor (const item of items) {\n  const d = item.json;\n  const title = d.title || d.headline || '';\n  const link = d.link || d.url || d.guid || '';\n  const pubDate = d.pubDate || d.isoDate || d.date || d.published || '';\n  const description = d.contentSnippet || d.content || d.description || d.summary || '';\n  \n  let source = d.creator || d.author || d['dc:creator'] || '';\n  if (!source && title.includes(' - ')) {\n    source = title.split(' - ').pop().trim();\n  }\n  if (!source && link) {\n    try { source = new URL(link).hostname.replace('www.', ''); } catch(e) { source = 'غير معروف'; }\n  }\n  if (!source) source = 'غير معروف';\n  \n  const isOfficial = link.includes('gib.gov.tr') || link.includes('resmigazete.gov.tr') || link.includes('sgk.gov.tr') || link.includes('hmb.gov.tr') || title.includes('Resmi Gazete') || title.includes('tebliğ') || title.includes('teblig') || title.includes('sirküler') || title.includes('GİB') || title.includes('Gelir İdaresi');\n  \n  if (!title) continue;\n  const normalizedTitle = title.toLowerCase().trim().replace(/\\s+/g, ' ');\n  if (seen.has(normalizedTitle)) continue;\n  seen.add(normalizedTitle);\n  \n  if (pubDate) {\n    const articleDate = new Date(pubDate);\n    if (!isNaN(articleDate.getTime()) && articleDate < sevenDaysAgo) continue;\n  }\n  \n  filtered.push({\n    json: {\n      title, description: description.substring(0, 500), link, source,\n      sourceType: isOfficial ? 'رسمي' : 'إخباري',\n      pubDate, collectedAt: now.toISOString()\n    }\n  });\n}\n\nfiltered.sort((a, b) => {\n  if (a.json.sourceType === 'رسمي' && b.json.sourceType !== 'رسمي') return -1;\n  if (a.json.sourceType !== 'رسمي' && b.json.sourceType === 'رسمي') return 1;\n  return new Date(b.json.pubDate || 0) - new Date(a.json.pubDate || 0);\n});\n\nconst result = filtered.slice(0, 5);\nif (result.length === 0) return [];\nreturn result;"
      },
      "id": "code-dedup-filter", "name": "تنظيف وتصفية الأخبار",
      "type": "n8n-nodes-base.code", "typeVersion": 2,
      "position": [-450, 400], "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n  const title = item.json.title || '';\n  const desc = item.json.description || '';\n  const source = item.json.source || '';\n  const sourceType = item.json.sourceType || '';\n\n  const prompt = 'أنت خبير ضرائب تركية ومحلل أخبار ضريبية متخصص. لديك معرفة عميقة بقوانين الضرائب التركية (VUK, KDV Kanunu, Kurumlar Vergisi Kanunu, Gelir Vergisi Kanunu, SGK mevzuatı).\\n\\nخبر جديد:\\nالعنوان: ' + title + '\\nالوصف: ' + desc + '\\nالمصدر: ' + source + ' (' + sourceType + ')\\n\\nالمطلوب: بناءً على عنوان ووصف الخبر ومعرفتك العميقة بالضرائب التركية:\\n1. اشرح الخبر بالتفصيل مع ذكر المواد القانونية ذات الصلة\\n2. اذكر الأرقام والنسب المحتملة المتعلقة بالموضوع\\n3. اشرح التأثير العملي على الشركات\\n4. قدم نصائح عملية\\n\\nأجب بـ JSON فقط:\\n{\\n  \"isRelevant\": true/false,\\n  \"importance\": \"عالي/متوسط/منخفض\",\\n  \"summaryAr\": \"تحليل تفصيلي بالعربي (5-7 جمل) يشمل الأرقام والنسب والمواد القانونية والتأثير العملي\",\\n  \"summaryTr\": \"Detaylı Türkçe özet (5-7 cümle)\",\\n  \"category\": \"KDV/SGK/Kurumlar/e-Fatura/Muhtasar/Genel\",\\n  \"suggestedTitle\": \"عنوان عربي جذاب ودقيق للسوشال ميديا\",\\n  \"keyDetails\": \"أهم 3-5 نقاط: أرقام، نسب، مواعيد نهائية، تغييرات محددة\",\\n  \"impactOnCompanies\": \"ماذا يجب أن تفعل الشركات؟ نصائح عملية محددة\",\\n  \"legalReferences\": \"المواد القانونية: مثال VUK Madde X, KDV Kanunu Madde Y\"\\n}';\n\n  const body = {\n    contents: [{ parts: [{ text: prompt }] }],\n    generationConfig: { temperature: 0.2 }\n  };\n\n  return { json: { ...item.json, geminiBody: body } };\n});"
      },
      "id": "code-prepare-gemini", "name": "تحضير طلب Gemini",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-200, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent?key=CHANGE_ME_GEMINI_API_KEY",
        "sendBody": true, "specifyBody": "json",
        "jsonBody": "={{ $json.geminiBody }}",
        "options": {
          "timeout": 60000,
          "batching": { "batch": { "batchSize": 1, "batchInterval": 12000 } }
        }
      },
      "id": "http-gemini-analyze", "name": "إرسال لـ Gemini",
      "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [50, 400]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst originalItems = $('تحضير طلب Gemini').all();\n\nreturn items.map((item, index) => {\n  const original = originalItems[index]?.json || {};\n  \n  let analysis = {};\n  try {\n    const content = item.json.candidates?.[0]?.content?.parts?.[0]?.text || '{}';\n    const cleaned = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    analysis = JSON.parse(cleaned);\n  } catch (e) {\n    analysis = {\n      isRelevant: true, importance: 'متوسط',\n      summaryAr: original.description || '', summaryTr: '',\n      category: 'Genel', suggestedTitle: original.title || '',\n      keyDetails: '', impactOnCompanies: '', legalReferences: ''\n    };\n  }\n  \n  if (!analysis.isRelevant) return null;\n  \n  return {\n    json: {\n      title: original.title || '',\n      suggestedTitle: analysis.suggestedTitle || '',\n      summaryAr: analysis.summaryAr || '',\n      summaryTr: analysis.summaryTr || '',\n      keyDetails: analysis.keyDetails || '',\n      impactOnCompanies: analysis.impactOnCompanies || '',\n      legalReferences: analysis.legalReferences || '',\n      category: analysis.category || 'Genel',\n      importance: analysis.importance || 'متوسط',\n      source: original.source || '',\n      sourceType: original.sourceType || '',\n      sourceUrl: original.link || '',\n      pubDate: original.pubDate || '',\n      collectedAt: original.collectedAt || new Date().toISOString(),\n      approved: '',\n      status: 'جديد'\n    }\n  };\n}).filter(item => item !== null);"
      },
      "id": "code-prepare-sheets", "name": "تجهيز البيانات للشيت",
      "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [300, 400]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "mode": "list", "value": "", "cachedResultName": "كتابة الاخبار" },
        "sheetName": { "__rl": true, "mode": "list", "value": "gid=0", "cachedResultName": "الاخبار" },
        "columns": { "mappingMode": "autoMapInputData", "value": {} },
        "options": {}
      },
      "id": "sheets-write-news", "name": "كتابة الأخبار في Google Sheets",
      "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.5, "position": [550, 400],
      "credentials": { "googleSheetsOAuth2Api": { "id": "tMsf6bYwBxxWxxVC", "name": "Google Sheets account" } }
    },
    {
      "parameters": {},
      "id": "noop-done", "name": "تم الجمع",
      "type": "n8n-nodes-base.noOp", "typeVersion": 1, "position": [800, 400]
    }
  ],
  "connections": {
    "جدولة جمع الأخبار - 8 صباحاً": { "main": [[
      { "node": "رسمي - تبليغات وتعميمات", "type": "main", "index": 0 },
      { "node": "رسمي - الجريدة الرسمية", "type": "main", "index": 0 },
      { "node": "رسمي - هيئة الضرائب GİB", "type": "main", "index": 0 },
      { "node": "أخبار - Vergi عام", "type": "main", "index": 0 },
      { "node": "أخبار - SGK", "type": "main", "index": 0 },
      { "node": "أخبار - e-Fatura & Kurumlar", "type": "main", "index": 0 },
      { "node": "Bloomberg HT", "type": "main", "index": 0 }
    ]] },
    "رسمي - تبليغات وتعميمات": { "main": [[{ "node": "تجميع كل المصادر", "type": "main", "index": 0 }]] },
    "رسمي - الجريدة الرسمية": { "main": [[{ "node": "تجميع كل المصادر", "type": "main", "index": 0 }]] },
    "رسمي - هيئة الضرائب GİB": { "main": [[{ "node": "تجميع كل المصادر", "type": "main", "index": 0 }]] },
    "أخبار - Vergi عام": { "main": [[{ "node": "تجميع كل المصادر", "type": "main", "index": 0 }]] },
    "أخبار - SGK": { "main": [[{ "node": "تجميع كل المصادر", "type": "main", "index": 0 }]] },
    "أخبار - e-Fatura & Kurumlar": { "main": [[{ "node": "تجميع كل المصادر", "type": "main", "index": 0 }]] },
    "Bloomberg HT": { "main": [[{ "node": "تجميع كل المصادر", "type": "main", "index": 0 }]] },
    "تجميع كل المصادر": { "main": [[{ "node": "تنظيف وتصفية الأخبار", "type": "main", "index": 0 }]] },
    "تنظيف وتصفية الأخبار": { "main": [[{ "node": "تحضير طلب Gemini", "type": "main", "index": 0 }]] },
    "تحضير طلب Gemini": { "main": [[{ "node": "إرسال لـ Gemini", "type": "main", "index": 0 }]] },
    "إرسال لـ Gemini": { "main": [[{ "node": "تجهيز البيانات للشيت", "type": "main", "index": 0 }]] },
    "تجهيز البيانات للشيت": { "main": [[{ "node": "كتابة الأخبار في Google Sheets", "type": "main", "index": 0 }]] },
    "كتابة الأخبار في Google Sheets": { "main": [[{ "node": "تم الجمع", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "saveManualExecutions": true, "callerPolicy": "workflowsFromSameOwner" },
  "tags": [
    { "name": "تسويق", "createdAt": "2026-03-14T00:00:00.000Z", "updatedAt": "2026-03-14T00:00:00.000Z" },
    { "name": "AI Content", "createdAt": "2026-03-14T00:00:00.000Z", "updatedAt": "2026-03-14T00:00:00.000Z" }
  ],
  "id": "4y1RjDJtPgrHoIXc"
}
