workflows/tax-receipts-v2.json
{
  "name": "ايصالات الضرائب v2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            },
            {
              "triggerAtHour": 13
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -200,
        300
      ],
      "id": "trigger-schedule",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "tax-receipts-v2",
        "options": {
          "responseData": "allEntries"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        520
      ],
      "id": "trigger-webhook",
      "name": "Webhook Trigger",
      "webhookId": "tax-receipts-v2-manual"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=monthly taxes",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        80,
        300
      ],
      "id": "drive-search-folder",
      "name": "Search monthly taxes",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='{{$json[\"id\"]}}' in parents and trashed = false",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        320,
        300
      ],
      "id": "drive-search-files",
      "name": "Search inside monthly taxes",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{$json[\"id\"]}}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        560,
        300
      ],
      "id": "drive-download",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        800,
        300
      ],
      "id": "extract-pdf",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk",
          "mode": "list",
          "cachedResultName": "ALL DATA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 629998503,
          "mode": "list",
          "cachedResultName": "ALL company",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit#gid=629998503"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        80,
        600
      ],
      "id": "sheets-get-companies",
      "name": "Get company list",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tMsf6bYwBxxWxxVC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1040,
        400
      ],
      "id": "merge-data",
      "name": "Merge PDF + Companies"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// Prepare AI prompt: combine PDF text with company list\n// ============================================\n\nconst items = $input.all();\n\n// Get company list from the Get company list node\nconst companies = $('Get company list').all().map(item => {\n  const d = item.json;\n  return {\n    name: d.companyName || d['companyName'] || '',\n    taxFolderName: d.taxFolderName || '',\n    taxFolderId: d.taxFolderId || '',\n    contactPhone: d.contact_phone || '',\n    contactId: d.contact_id || '',\n    companyId: d['company İD'] || d['Company ID'] || d['company ID'] || ''\n  };\n}).filter(c => c.name);\n\nconst companyNames = companies.map(c => c.name);\n\n// For each PDF item, prepare the AI prompt\nreturn items.map(item => {\n  const text = item.json.text || '';\n  const fileName = item.json.name || item.json.fileName || '';\n  const fileId = item.json.id || '';\n\n  const prompt = `You are a Turkish tax document parser. Extract structured data from the following PDF text.\n\nPDF Text:\n---\n${text.substring(0, 4000)}\n---\n\nFile Name: ${fileName}\n\nCompany List (match the extracted company name to the closest one from this list):\n${companyNames.join('\\n')}\n\nExtract the following and return ONLY valid JSON (no markdown, no explanation):\n{\n  \"companyName\": \"the company name as found in the document\",\n  \"matchedCompany\": \"the closest matching company name from the Company List above, or null if no match\",\n  \"taxType\": \"one of: KDV, KDV Tevkifat, SGK, Muhtasar, Kurumlar, Kurumlar Geçici, or the detected type\",\n  \"monthNumber\": \"MM format (01-12) or null\",\n  \"monthName\": \"Turkish month name (Ocak, Şubat, etc.) or null\",\n  \"year\": \"YYYY format or null\",\n  \"amount\": numeric amount or 0,\n  \"confidence\": confidence score 0.0 to 1.0\n}\n\nIMPORTANT:\n- For company name matching: ignore liquidation prefixes (TASF. HAL., TASFİYE HALİNDE, etc.) and legal suffixes (LİMİTED ŞİRKETİ, etc.)\n- For SGK documents: look for İşyeri Ünvanı or Unvanı fields\n- For tax documents: look for SOYADI (UNVANI) field\n- For tax type: check for KDV (Katma Değer Vergisi), SGK (Sosyal Güvenlik), Muhtasar, Kurumlar Vergisi\n- For period: look for Vergilendirme Dönemi, AİT OLDUĞU YIL/AY\n- For amount: look for ÖDENECEK NET TUTAR, TOPLAM, or similar fields. Parse Turkish number format (1.234,56)`;\n\n  return {\n    json: {\n      fileId: fileId,\n      fileName: fileName,\n      pdfText: text,\n      aiPrompt: prompt,\n      companyListJson: JSON.stringify(companies)\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        400
      ],
      "id": "code-prepare-prompt",
      "name": "Prepare AI Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.1,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.aiPrompt) }}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        400
      ],
      "id": "ai-extract",
      "name": "AI Extract Tax Data",
      "credentials": {
        "openAiApi": {
          "id": "UgxxU7JRYK5Qpel4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// Parse AI response and match with company data\n// ============================================\n\nconst items = $input.all();\n\nreturn items.map(item => {\n  const d = item.json;\n  \n  // Parse the AI response\n  let aiResult = {};\n  try {\n    const content = d.choices?.[0]?.message?.content || '{}';\n    aiResult = JSON.parse(content);\n  } catch (e) {\n    aiResult = {\n      companyName: null,\n      matchedCompany: null,\n      taxType: 'Bilinmeyen',\n      monthNumber: null,\n      monthName: null,\n      year: null,\n      amount: 0,\n      confidence: 0\n    };\n  }\n\n  // Get the original file data from Prepare AI Prompt node\n  const promptItems = $('Prepare AI Prompt').all();\n  const currentIndex = items.indexOf(item);\n  const promptData = promptItems[currentIndex]?.json || {};\n  const fileId = promptData.fileId || '';\n  const fileName = promptData.fileName || '';\n  \n  // Get company list and find the matched company's details\n  let companies = [];\n  try {\n    companies = JSON.parse(promptData.companyListJson || '[]');\n  } catch (e) {\n    companies = [];\n  }\n\n  const matchedCompanyName = aiResult.matchedCompany;\n  let matchedCompany = null;\n  \n  if (matchedCompanyName) {\n    // Find the company details from our list\n    matchedCompany = companies.find(c => \n      c.name === matchedCompanyName ||\n      c.name.toLowerCase().trim() === matchedCompanyName.toLowerCase().trim()\n    );\n    \n    // Fuzzy fallback: check if names contain each other\n    if (!matchedCompany) {\n      const normalizedMatch = matchedCompanyName.toLowerCase().trim();\n      matchedCompany = companies.find(c => {\n        const normalizedName = c.name.toLowerCase().trim();\n        return normalizedName.includes(normalizedMatch) || normalizedMatch.includes(normalizedName);\n      });\n    }\n  }\n\n  const isMatched = !!matchedCompany;\n  const confidence = aiResult.confidence || 0;\n\n  // Format amount in Turkish locale\n  const amount = aiResult.amount || 0;\n  let formattedAmount = '0,00 ₺';\n  try {\n    formattedAmount = new Intl.NumberFormat('tr-TR', {\n      style: 'currency',\n      currency: 'TRY'\n    }).format(amount);\n  } catch (e) {}\n\n  return {\n    json: {\n      // File info\n      fileId: fileId,\n      fileName: fileName,\n      \n      // AI extracted data\n      companyName: aiResult.companyName || 'غير محدد',\n      matchedCompanyName: matchedCompanyName || null,\n      taxType: aiResult.taxType || 'Bilinmeyen',\n      monthNumber: aiResult.monthNumber || null,\n      monthName: aiResult.monthName || null,\n      year: aiResult.year || null,\n      amount: amount,\n      formattedAmount: formattedAmount,\n      confidence: confidence,\n      \n      // Company details (from Google Sheet)\n      isMatched: isMatched,\n      taxFolderId: matchedCompany?.taxFolderId || null,\n      taxFolderName: matchedCompany?.taxFolderName || null,\n      contactPhone: matchedCompany?.contactPhone || null,\n      contactId: matchedCompany?.contactId || null,\n      companyId: matchedCompany?.companyId || null,\n      \n      // Status\n      status: isMatched ? 'matched' : 'unmatched',\n      message: isMatched \n        ? `✅ تم المطابقة: ${matchedCompanyName} (${Math.round(confidence * 100)}%)`\n        : `❌ لم يتم المطابقة: ${aiResult.companyName || fileName}`\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        400
      ],
      "id": "code-parse-response",
      "name": "Parse AI Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-matched",
              "leftValue": "={{ $json.isMatched }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2000,
        400
      ],
      "id": "if-matched",
      "name": "Company Matched?"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.fileId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.taxFolderId }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2280,
        300
      ],
      "id": "drive-move-file",
      "name": "Move to tax folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk",
          "mode": "list",
          "cachedResultName": "ALL DATA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 881496910,
          "mode": "list",
          "cachedResultName": "Monthly report",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit#gid=881496910"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fileName": "={{ $('Parse AI Response').item.json.fileName }}",
            "companyName": "={{ $('Parse AI Response').item.json.matchedCompanyName }}",
            "taxType": "={{ $('Parse AI Response').item.json.taxType }}",
            "month": "={{ $('Parse AI Response').item.json.monthName }}",
            "year": "={{ $('Parse AI Response').item.json.year }}",
            "amount": "={{ $('Parse AI Response').item.json.formattedAmount }}",
            "status": "={{ $('Parse AI Response').item.json.status }}",
            "confidence": "={{ $('Parse AI Response').item.json.confidence }}",
            "fileId": "={{ $('Parse AI Response').item.json.fileId }}",
            "processedAt": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "fileName",
              "displayName": "fileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "taxType",
              "displayName": "taxType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "month",
              "displayName": "month",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "year",
              "displayName": "year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fileId",
              "displayName": "fileId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processedAt",
              "displayName": "processedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2520,
        300
      ],
      "id": "sheets-log-matched",
      "name": "Log to Monthly report",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tMsf6bYwBxxWxxVC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://infodvnlogcom.kommo.com/api/v4/contacts/{{ $('Parse AI Response').item.json.contactId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjA4NTI1YzVjNjJhMjRiNDdjNjgxMzA2ZTJiNmY4OTA2NGU4MTVlZmQ1MDcxNDg0ODFiNWI5MzZiYTYxOTRmYzBlZTE0Yjg1MWQzMzAyMDViIn0.eyJhdWQiOiJhNDVhZDE0MC0xNTNlLTRlYWYtOGUyNi0wNTQ1MDU2Njg4MWYiLCJqdGkiOiIwODUyNWM1YzYyYTI0YjQ3YzY4MTMwNmUyYjZmODkwNjRlODE1ZWZkNTA3MTQ4NDgxYjViOTM2YmE2MTk0ZmMwZWUxNGI4NTFkMzMwMjA1YiIsImlhdCI6MTc1MzcxMzgzNCwibmJmIjoxNzUzNzEzODM0LCJleHAiOjE4ODAxNTA0MDAsInN1YiI6IjEyOTI0NzM1IiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM0MzU0NjY3LCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJjcm0iLCJmaWxlcyIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiLCJwdXNoX25vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiZTlhNTA2YzgtMmY1YS00OTNmLTg0M2EtZmNkMjFlYWJjMmJiIiwiYXBpX2RvbWFpbiI6ImFwaS1jLmtvbW1vLmNvbSJ9.RmY4s-CwMgm-wQAg-jT-KYxrVYFYuXx1lNaa4oWVOV7KXZtJor9CwbDSv5Oq4dXN9tXWIHMbDyG6tTqJ2T5BPMBfjQoH4sgNHRXpWaJs0UZFIoliznzRHFZsoVSCX8HedKlxQ5fBLAkHa5PEPzIYIKA_aKqHCDS-lpMQfIzoW1t5mTkOnmBrgDwTz3-Qx-Au0wRrLOMzWb6TbuEx8pgtW6Kt0MTVRGatdXmif6uILpVfZn6A3Cw40NoTHz4oGYq-KkdR_6gKXlgk6XjIOkhcr6_iqjpqm24J_DgeHb_gZZELCLx2hokOu7Ob0_Olt7Q6B1ZM0dvZ_t1liiMq1vQbyQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2760,
        300
      ],
      "id": "kommo-get-contact",
      "name": "Kommo Get Contact",
      "notes": "Get contact details including chat_id for WhatsApp"
    },
    {
      "parameters": {
        "jsCode": "// Extract chat_id from Kommo contact response\nconst items = $input.all();\nconst parseData = $('Parse AI Response').all();\n\nreturn items.map((item, index) => {\n  const contact = item.json;\n  const parsed = parseData[index]?.json || {};\n  \n  // Extract chat_id from contact's chats\n  let chatId = null;\n  \n  // Try to get chat_id from _embedded.chats\n  if (contact._embedded?.chats) {\n    const chats = contact._embedded.chats;\n    // Find WhatsApp chat\n    const whatsappChat = Object.values(chats).find(chat => \n      chat.origin === 'whatsapp' || chat.origin?.includes('whatsapp')\n    );\n    if (whatsappChat) {\n      chatId = whatsappChat.chat_id || whatsappChat.id;\n    }\n    // If no WhatsApp chat found, use the first available chat\n    if (!chatId) {\n      const firstChat = Object.values(chats)[0];\n      if (firstChat) {\n        chatId = firstChat.chat_id || firstChat.id;\n      }\n    }\n  }\n\n  return {\n    json: {\n      contact_id: parsed.contactId || contact.id,\n      chat_id: chatId,\n      companyName: parsed.matchedCompanyName,\n      taxType: parsed.taxType,\n      monthName: parsed.monthName,\n      year: parsed.year,\n      formattedAmount: parsed.formattedAmount,\n      canSendWhatsApp: !!chatId && !!parsed.contactId\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3000,
        300
      ],
      "id": "code-extract-chat",
      "name": "Extract chat_id"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://infodvnlogcom.kommo.com/v4/whatsapp/template/send",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjA4NTI1YzVjNjJhMjRiNDdjNjgxMzA2ZTJiNmY4OTA2NGU4MTVlZmQ1MDcxNDg0ODFiNWI5MzZiYTYxOTRmYzBlZTE0Yjg1MWQzMzAyMDViIn0.eyJhdWQiOiJhNDVhZDE0MC0xNTNlLTRlYWYtOGUyNi0wNTQ1MDU2Njg4MWYiLCJqdGkiOiIwODUyNWM1YzYyYTI0YjQ3YzY4MTMwNmUyYjZmODkwNjRlODE1ZWZkNTA3MTQ4NDgxYjViOTM2YmE2MTk0ZmMwZWUxNGI4NTFkMzMwMjA1YiIsImlhdCI6MTc1MzcxMzgzNCwibmJmIjoxNzUzNzEzODM0LCJleHAiOjE4ODAxNTA0MDAsInN1YiI6IjEyOTI0NzM1IiwiZ3JhbnRfdHlwZSI6IiIsImFjY291bnRfaWQiOjM0MzU0NjY3LCJiYXNlX2RvbWFpbiI6ImtvbW1vLmNvbSIsInZlcnNpb24iOjIsInNjb3BlcyI6WyJjcm0iLCJmaWxlcyIsImZpbGVzX2RlbGV0ZSIsIm5vdGlmaWNhdGlvbnMiLCJwdXNoX25vdGlmaWNhdGlvbnMiXSwiaGFzaF91dWlkIjoiZTlhNTA2YzgtMmY1YS00OTNmLTg0M2EtZmNkMjFlYWJjMmJiIiwiYXBpX2RvbWFpbiI6ImFwaS1jLmtvbW1vLmNvbSJ9.RmY4s-CwMgm-wQAg-jT-KYxrVYFYuXx1lNaa4oWVOV7KXZtJor9CwbDSv5Oq4dXN9tXWIHMbDyG6tTqJ2T5BPMBfjQoH4sgNHRXpWaJs0UZFIoliznzRHFZsoVSCX8HedKlxQ5fBLAkHa5PEPzIYIKA_aKqHCDS-lpMQfIzoW1t5mTkOnmBrgDwTz3-Qx-Au0wRrLOMzWb6TbuEx8pgtW6Kt0MTVRGatdXmif6uILpVfZn6A3Cw40NoTHz4oGYq-KkdR_6gKXlgk6XjIOkhcr6_iqjpqm24J_DgeHb_gZZELCLx2hokOu7Ob0_Olt7Q6B1ZM0dvZ_t1liiMq1vQbyQ"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contact_id\": {{ $json.contact_id }},\n  \"chat_id\": \"{{ $json.chat_id }}\",\n  \"template\": {\n    \"name\": \"KDV\",\n    \"language\": {\n      \"code\": \"ar\"\n    },\n    \"parameters\": []\n  }\n}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3240,
        300
      ],
      "id": "kommo-send-whatsapp",
      "name": "Send WhatsApp"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk",
          "mode": "list",
          "cachedResultName": "ALL DATA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 881496910,
          "mode": "list",
          "cachedResultName": "Monthly report",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit#gid=881496910"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fileName": "={{ $json.fileName }}",
            "companyName": "={{ $json.companyName }}",
            "taxType": "={{ $json.taxType }}",
            "status": "=unmatched",
            "confidence": "={{ $json.confidence }}",
            "fileId": "={{ $json.fileId }}",
            "processedAt": "={{ new Date().toISOString() }}",
            "note": "={{ $json.message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "fileName",
              "displayName": "fileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "taxType",
              "displayName": "taxType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fileId",
              "displayName": "fileId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processedAt",
              "displayName": "processedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "note",
              "displayName": "note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2280,
        600
      ],
      "id": "sheets-log-unmatched",
      "name": "Log unmatched",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tMsf6bYwBxxWxxVC",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search monthly taxes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get company list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Search monthly taxes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get company list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search monthly taxes": {
      "main": [
        [
          {
            "node": "Search inside monthly taxes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search inside monthly taxes": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Merge PDF + Companies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get company list": {
      "main": [
        [
          {
            "node": "Merge PDF + Companies",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge PDF + Companies": {
      "main": [
        [
          {
            "node": "Prepare AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Prompt": {
      "main": [
        [
          {
            "node": "AI Extract Tax Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Extract Tax Data": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Company Matched?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company Matched?": {
      "main": [
        [
          {
            "node": "Move to tax folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log unmatched",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to tax folder": {
      "main": [
        [
          {
            "node": "Log to Monthly report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Monthly report": {
      "main": [
        [
          {
            "node": "Kommo Get Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kommo Get Contact": {
      "main": [
        [
          {
            "node": "Extract chat_id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract chat_id": {
      "main": [
        [
          {
            "node": "Send WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp": {
      "main": [
        []
      ]
    },
    "Log unmatched": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [],
  "id": "XAPRr6aNUkALF0z6"
}
