workflows/tax-receipts-file-processing.json
{
  "name": "ايصالات الضرائب - معالجة الملفات",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            },
            {
              "triggerAtHour": 13
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -200,
        300
      ],
      "id": "trigger-schedule",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "tax-receipts-process",
        "options": {
          "responseData": "allEntries"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        520
      ],
      "id": "trigger-webhook",
      "name": "Webhook Trigger",
      "webhookId": "tax-receipts-process-manual"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=monthly taxes",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        80,
        300
      ],
      "id": "drive-search-folder",
      "name": "Search monthly taxes",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "='{{$json[\"id\"]}}' in parents and trashed = false",
        "returnAll": true,
        "filter": {},
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        320,
        300
      ],
      "id": "drive-search-files",
      "name": "Search inside monthly taxes",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk",
          "mode": "list",
          "cachedResultName": "ALL DATA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 881496910,
          "mode": "list",
          "cachedResultName": "Monthly report",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit#gid=881496910"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        80,
        740
      ],
      "id": "sheets-get-processed",
      "name": "Get already processed files",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tMsf6bYwBxxWxxVC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        460,
        420
      ],
      "id": "merge-wait-both",
      "name": "Wait for both sources"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// Filter out already processed files\n// ============================================\nconst driveFiles = $('Search inside monthly taxes').all();\nconst processedItems = $('Get already processed files').all();\n\n// Build a Set of already processed fileIds\nconst processedFileIds = new Set();\nfor (const item of processedItems) {\n  const fId = item.json.documentId || item.json.fileId || item.json.file_id || '';\n  if (fId) processedFileIds.add(fId);\n}\n\n// Filter: only keep files NOT already processed\nconst newFiles = driveFiles.filter(item => {\n  const fileId = item.json.id || '';\n  return !processedFileIds.has(fileId);\n});\n\nreturn newFiles;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        680,
        420
      ],
      "id": "code-filter-processed",
      "name": "Filter already processed"
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        900,
        200
      ],
      "id": "split-batches",
      "name": "Process One File"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{$json[\"id\"]}}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1080,
        200
      ],
      "id": "drive-download",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1260,
        200
      ],
      "id": "extract-pdf",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// Combine extracted PDF text with file metadata\n// ============================================\n// Extract from File wipes original JSON data, so we recover\n// file metadata from the Download node (within this loop iteration)\nconst items = $input.all();\nconst downloadItem = $('Download file').first();\n\nreturn items.map(item => {\n  return {\n    json: {\n      // Extracted PDF data\n      text: item.json.text || '',\n      numpages: item.json.numpages || 0,\n      // File metadata recovered from Download node\n      fileId: downloadItem.json.id || '',\n      fileName: downloadItem.json.name || ''\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        200
      ],
      "id": "code-save-file-info",
      "name": "Save File Info"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk",
          "mode": "list",
          "cachedResultName": "ALL DATA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 629998503,
          "mode": "list",
          "cachedResultName": "ALL company",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit#gid=629998503"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        900,
        500
      ],
      "id": "sheets-get-companies",
      "name": "Get Master company list",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tMsf6bYwBxxWxxVC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "append"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1620,
        300
      ],
      "id": "merge-data",
      "name": "Merge PDF + Companies"
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// Prepare AI prompt: combine PDF text with company list\n// Uses $input.all() from Merge node (PDF items + Company items)\n// ============================================\n\nconst allItems = $input.all();\n\n// Separate: PDF items have 'text' field, company items have 'row_number'\nconst pdfItems = allItems.filter(item => item.json.text !== undefined);\nconst companyNames = allItems\n  .filter(item => item.json.row_number !== undefined && item.json.companyName)\n  .map(item => item.json.companyName);\n\n// Fallback for company names\nconst finalCompanyNames = companyNames.length > 0 ? companyNames\n  : $('Get Master company list').all().map(item => item.json.companyName || '').filter(n => n);\n\nreturn pdfItems.map((item, index) => {\n  const text = item.json.text || '';\n  const fileId = item.json.fileId || '';\n  const fileName = item.json.fileName || '';\n\n  // Skip items without real fileId (no fake fallbacks)\n  if (!fileId || !text) return null;\n\n  const prompt = `You are a Turkish tax document parser. Extract structured data from the following PDF text.\n\nPDF Text:\n---\n${text.substring(0, 4000)}\n---\n\nFile Name: ${fileName}\nFile ID: ${fileId}\n\nCompany List (match the extracted company name to the closest one):\n${finalCompanyNames.join('\\n')}\n\nReturn ONLY valid JSON:\n{\n  \"fileId\": \"${fileId}\",\n  \"companyName\": \"company name from document\",\n  \"matchedCompany\": \"closest match from Company List, or null\",\n  \"taxType\": \"KDV|KDV Tevkifat|SGK|Muhtasar|Kurumlar|Kurumlar Geçici\",\n  \"monthNumber\": \"MM or null\",\n  \"monthName\": \"Turkish month name or null\",\n  \"year\": \"YYYY or null\",\n  \"amount\": 0,\n  \"confidence\": 0.0\n}\n\nRules:\n- Ignore prefixes: TASF. HAL., TASFİYE HALİNDE and suffixes: LİMİTED ŞİRKETİ\n- SOYADI (UNVANI) = company name, Vergilendirme Dönemi = period\n- TOPLAM or ÖDENECEK = amount (Turkish format 1.234,56)`;\n\n  return {\n    json: {\n      fileId: fileId,\n      fileName: fileName,\n      aiPrompt: prompt\n    }\n  };\n}).filter(item => item !== null);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1860,
        300
      ],
      "id": "code-prepare-prompt",
      "name": "Prepare AI Prompt"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"temperature\": 0.1,\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.aiPrompt) }}\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2100,
        300
      ],
      "id": "ai-extract",
      "name": "AI Extract Tax Data",
      "credentials": {
        "openAiApi": {
          "id": "UgxxU7JRYK5Qpel4",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// Parse AI response and match with company data\n// ============================================\n\nconst items = $input.all();\n\n// Get file metadata from Prepare AI Prompt (by fileId)\nconst promptItems = $('Prepare AI Prompt').all();\nconst promptByFileId = new Map();\nfor (const p of promptItems) {\n  if (p.json.fileId) promptByFileId.set(p.json.fileId, p.json);\n}\n\n// Build company lookup ONCE from Master Sheet (not from each item)\nconst companies = $('Get Master company list').all().map(item => {\n  const d = item.json;\n  return {\n    name: d.companyName || '',\n    taxFolderName: d.taxFolderName || '',\n    taxFolderId: d.taxFolderId || '',\n    contactPhone: d.contact_phone || '',\n    contactId: d.contact_id || '',\n    kommoCompanyId: d.kommoCompanyId || d['kommo_company_id'] || '',\n    kommoContactId: d.kommoContactId || d['kommo_contact_id'] || '',\n    companyId: d['company İD'] || d['Company ID'] || d['company_id'] || ''\n  };\n}).filter(c => c.name);\n\nreturn items.map((item, idx) => {\n  const d = item.json;\n  \n  // Parse the AI response\n  let aiResult = {};\n  try {\n    const content = d.choices?.[0]?.message?.content || '{}';\n    aiResult = JSON.parse(content);\n  } catch (e) {\n    aiResult = { companyName: null, matchedCompany: null, taxType: 'Bilinmeyen',\n      monthNumber: null, monthName: null, year: null, amount: 0, confidence: 0 };\n  }\n\n  // Get file metadata by fileId, fallback to index\n  const aiFileId = aiResult.fileId || '';\n  const promptData = promptByFileId.get(aiFileId) || promptItems[idx]?.json || {};\n  const fileId = promptData.fileId || aiFileId || '';\n  const fileName = promptData.fileName || '';\n\n  // Find matched company from Master Sheet\n  const matchedCompanyName = aiResult.matchedCompany;\n  let matchedCompany = null;\n  \n  if (matchedCompanyName) {\n    const normalized = matchedCompanyName.toLowerCase().trim();\n    matchedCompany = companies.find(c => c.name.toLowerCase().trim() === normalized);\n    if (!matchedCompany) {\n      matchedCompany = companies.find(c => {\n        const n = c.name.toLowerCase().trim();\n        return n.includes(normalized) || normalized.includes(n);\n      });\n    }\n  }\n\n  const isMatched = !!matchedCompany;\n  const confidence = aiResult.confidence || 0;\n  const amount = aiResult.amount || 0;\n  let formattedAmount = '0,00 ₺';\n  try { formattedAmount = new Intl.NumberFormat('tr-TR', { style: 'currency', currency: 'TRY' }).format(amount); } catch (e) {}\n\n  return {\n    json: {\n      fileId, fileName,\n      companyName: aiResult.companyName || 'غير محدد',\n      matchedCompanyName: matchedCompanyName || null,\n      taxType: aiResult.taxType || 'Bilinmeyen',\n      monthNumber: aiResult.monthNumber || null,\n      monthName: aiResult.monthName || null,\n      year: aiResult.year || null,\n      amount, formattedAmount, confidence,\n      isMatched,\n      taxFolderId: matchedCompany?.taxFolderId || null,\n      taxFolderName: matchedCompany?.taxFolderName || null,\n      contactPhone: matchedCompany?.contactPhone || null,\n      contactId: matchedCompany?.contactId || null,\n      kommoCompanyId: matchedCompany?.kommoCompanyId || null,\n      kommoContactId: matchedCompany?.kommoContactId || null,\n      companyId: matchedCompany?.companyId || null,\n      status: isMatched ? 'matched' : 'unmatched',\n      message: isMatched \n        ? `تم المطابقة: ${matchedCompanyName} (${Math.round(confidence * 100)}%)`\n        : `لم يتم المطابقة: ${aiResult.companyName || fileName}`\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2340,
        300
      ],
      "id": "code-parse-response",
      "name": "Parse AI Response"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-matched",
              "leftValue": "={{ $json.isMatched }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2580,
        300
      ],
      "id": "if-matched",
      "name": "Company Matched?"
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.fileId }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.taxFolderId }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2860,
        200
      ],
      "id": "drive-move-file",
      "name": "Move to tax folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Qxvp2her5WCwbXIO",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk",
          "mode": "list",
          "cachedResultName": "ALL DATA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 881496910,
          "mode": "list",
          "cachedResultName": "Monthly report",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit#gid=881496910"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fileName": "={{ $('Parse AI Response').item.json.fileName }}",
            "companyName": "={{ $('Parse AI Response').item.json.matchedCompanyName }}",
            "taxType": "={{ $('Parse AI Response').item.json.taxType }}",
            "month": "={{ $('Parse AI Response').item.json.monthName }}",
            "year": "={{ $('Parse AI Response').item.json.year }}",
            "amount": "={{ $('Parse AI Response').item.json.formattedAmount }}",
            "status": "=matched",
            "confidence": "={{ $('Parse AI Response').item.json.confidence }}",
            "fileId": "={{ $('Parse AI Response').item.json.fileId }}",
            "driveFolderId": "={{ $('Parse AI Response').item.json.taxFolderId }}",
            "kommoCompanyId": "={{ $('Parse AI Response').item.json.kommoCompanyId }}",
            "kommoContactId": "={{ $('Parse AI Response').item.json.kommoContactId }}",
            "processedAt": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "fileId"
          ],
          "schema": [
            {
              "id": "fileName",
              "displayName": "fileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "taxType",
              "displayName": "taxType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "month",
              "displayName": "month",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "year",
              "displayName": "year",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fileId",
              "displayName": "fileId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "driveFolderId",
              "displayName": "driveFolderId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "kommoCompanyId",
              "displayName": "kommoCompanyId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "kommoContactId",
              "displayName": "kommoContactId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processedAt",
              "displayName": "processedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        3100,
        200
      ],
      "id": "sheets-log-matched",
      "name": "Log to Monthly report",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tMsf6bYwBxxWxxVC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk",
          "mode": "list",
          "cachedResultName": "ALL DATA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 881496910,
          "mode": "list",
          "cachedResultName": "Monthly report",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1fveUwP99EBvghWfE7QRjuNb4baZ1GWnmZFDYY7QWjDk/edit#gid=881496910"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fileName": "={{ $json.fileName }}",
            "companyName": "={{ $json.companyName }}",
            "taxType": "={{ $json.taxType }}",
            "status": "=unmatched",
            "confidence": "={{ $json.confidence }}",
            "fileId": "={{ $json.fileId }}",
            "processedAt": "={{ new Date().toISOString() }}",
            "note": "={{ $json.message }}"
          },
          "matchingColumns": [
            "fileId"
          ],
          "schema": [
            {
              "id": "fileName",
              "displayName": "fileName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "taxType",
              "displayName": "taxType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fileId",
              "displayName": "fileId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processedAt",
              "displayName": "processedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "note",
              "displayName": "note",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2860,
        500
      ],
      "id": "sheets-log-unmatched",
      "name": "Log unmatched",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tMsf6bYwBxxWxxVC",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uV2oSAiFQQg5ek4k",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3340,
        200
      ],
      "id": "trigger-wf2",
      "name": "Trigger WF2 Kommo Sync",
      "notes": "Executes WF2 (Kommo sync) directly after file processing is complete"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search monthly taxes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get already processed files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Search monthly taxes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get already processed files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search monthly taxes": {
      "main": [
        [
          {
            "node": "Search inside monthly taxes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search inside monthly taxes": {
      "main": [
        [
          {
            "node": "Wait for both sources",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get already processed files": {
      "main": [
        [
          {
            "node": "Wait for both sources",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Wait for both sources": {
      "main": [
        [
          {
            "node": "Filter already processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter already processed": {
      "main": [
        [
          {
            "node": "Process One File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Master company list",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process One File": {
      "main": [
        [
          {
            "node": "Merge PDF + Companies",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Save File Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save File Info": {
      "main": [
        [
          {
            "node": "Process One File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Master company list": {
      "main": [
        [
          {
            "node": "Merge PDF + Companies",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge PDF + Companies": {
      "main": [
        [
          {
            "node": "Prepare AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Prompt": {
      "main": [
        [
          {
            "node": "AI Extract Tax Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Extract Tax Data": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Company Matched?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company Matched?": {
      "main": [
        [
          {
            "node": "Move to tax folder",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log unmatched",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to tax folder": {
      "main": [
        [
          {
            "node": "Log to Monthly report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log to Monthly report": {
      "main": [
        [
          {
            "node": "Trigger WF2 Kommo Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log unmatched": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "✅ Production"
    }
  ],
  "id": "0jEFTWu3hvOOm9zs"
}